html,
body {
    margin: 0;
}

html {
    /* background: #f1f1f1; */
}

body {
    /* width: 207mm;
    height: 294mm; */
    /* height: 10000mm; */
    /* background: white; */
    margin-top: -1px;
    /* margin: auto; */
    padding: 3mm;
    font-family: "roboto", sans-serif !important;
}

.header-receipt {
    /* display: flex; */
    width: 100%;
}

.head-logo {
    width: 50mm;
}

.company-width {
    width: 58%;
    margin-top: 12px;
}

.company-info {
    width: 90mm;
}
.company-name01 h4 {
    font-size: 16px;
    font-weight: 500;
    color: #00269a;
    margin: 0;
    line-height: 20px;
}
.company-name01 p {
    font-size: 14px;
    font-weight: normal;
    color: #00269a;
    margin: 0;
    line-height: 18px;
}
.company-name p {
    font-size: 14px;
    font-weight: normal;
    color: #00269a;
    line-height: 18px;
    margin: 0;
}

/* .contact-info {
    display: inline-flex;
} */
.contact-info p{
    font-size: 16px;
    color: #00269a;
    line-height: 16px;
    margin: 0px;
    font-weight:normal;
}
/* .contact-info img{
    margin-right:10px;
} */
.cd p,
.cc p {
    font-size: 10px;
    color: #00269a;
    line-height: 0px;
    margin-bottom: 0px;
}

.ci-width {
    width: 15px;
    height: 15px;
    margin-bottom: -1px;
    margin-right: 4px;
}

.receipt-dt {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #00269a;
    border-bottom: #f5333f;
    border-bottom-style: double;
}

.receipt-name,
.receipt-add2 {
    font-size: 12px;
}

.receipt-name ul,
.receipt-c2 ul,
.receipt-dt1 ul,
.receipt-dt2 ul,
.receipt-dt3 ul,
.receipt-dt4 ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.receipt-dt-box {
    padding-top: 5px;
}
.receip
.receipt-d-info-left {
    width: 108mm;
}

.receipt-d-info-right {
    width: 90mm;
}

.invoice-d-info-left {
    width: 65mm;
}

.invoice-d-info-left tr td,
.invoice-d-info-center tr td {
    line-height: 14px;
}

.invoice-d-info-right tr td {
    line-height: 12px;
}

.invoice-d-info-center {
    width: 63mm;
}

.invoice-d-info-right {
    /* width: 90mm; */
}

.receipt-name table {
    line-height: 11px;
}

.receipt-d-tb {
    font-weight: 700;
    width: 105mm;
}

.receipt-add2 p {
    margin: 0;
    list-style: none;
    padding: 0;
}

.receipt-add2 {
    font-size: 12px;
}

.receipt-name table {
    line-height: 11px;
}

.receipt-description {
    font-size: 12px;
}

.receipt-description table {
    border-collapse: collapse;
    margin-top: 4mm;
    text-align: center;
}

.receipt-description table p {
    text-align: left;
}

.receipt-description .table-p-bold {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 700;
}

.promo-tag {
    background-color: #eee;
    padding: 0px 0px 0px 10px;
    width: 31%;
}

.receipt-description table td {
    vertical-align: top;
    padding: 6px 0px;
}

.receipt-description table td p {
    margin: 0;
    padding: 0 1rem 0 0;
}

.dark-clr2 {
    background: #00269a;
    padding: 5px 0;
    color: #fff;
}

.table-width {
    width: 100%;
}

.fb {
    font-weight: 600;
}

.table-line {
    border-right: 1px solid #00269a;
    font-weight: 600;
    font-size: 12px;
}

.table-line-top {
    border-top: 1px solid #00269a;
}

.tnc-fs p{
    font-size:14px;
    line-height: 16px;
    font-weight:normal;
}

.total-bb {
    border-bottom: 1px solid #323b79;
}

.footer-dp2 p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    font-weight:normal;
}
.footer-dp2 {
    border-top: #f5333f;
    border-top-style: double;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

/* invoice CSS */

.header-invoice {
    /* display: flex; */
    width: 100%;
}

.invoice-dt {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #00269a;
    border-bottom: #f5333f;
    border-bottom-style: double;
}

.invoice-name,
.invoice-add2 {
    font-size: 14px;
}

.invoice-name ul,
.invoice-c2 ul,
.invoice-dt1 ul,
.invoice-dt2 ul,
.invoice-dt3 ul,
.invoice-dt4 ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.invoice-dt-box {
    padding-top: 5px;
}

.invoice-d-info-left {
    /* width: 130mm; */
}

.invoice-d-info-right {
    /* width: 80mm; */
}

.invoice-d-info-left {
    /* width: 62mm; */
}

.invoice-d-info-center {
    /* width: 62mm; */
}

.invoice-d-info-right {
    /* width: 81mm; */
}

.invoice-name table {
    line-height: 11px;
}

.invoice-d-tb {
    font-weight: 500;
}

.invoice-add2 p {
    margin: 0;
    list-style: none;
    padding: 0;
}

.invoice-name table {
    line-height: 11px;
}

.invoice-description {
    font-size: 12px;
}

.invoice-description table {
    border-collapse: collapse;
    margin-top: 4mm;
    text-align: center;
}

.invoice-description table p {
    text-align: left;
}

.invoice-description .table-p-bold {
    margin: 0;
    padding: 0;
    text-align: left;
}

.i-promo-tag {
    background-color: #00269a1a;
    padding: 6px;
    width: fit-content;
    font-weight: 500;
}

.invoice-description table td {
    vertical-align: top;
    padding: 10px 0px;
}

.invoice-description table td p {
    margin: 0;
    padding: 0;
}

.invoice-description .dark-clr2 th, .receipt-description .dark-clr2 th{
    background: #00269a;
    padding: 5px 0;
    color: #fff;
    font-size:15px;
    line-height: 20px;
    font-weight:normal;
}
.table-line2 {
    border-right: 1px solid #00269a;
    font-size: 12px;
}

.table-p-bold2 h4 {
    padding: 0;
    margin: 0;
}

.table-p-bold2 {
    text-align: left;
}

.i-fw {
    font-weight: 600;
}

.i-table-grey {
    background-color: #e5e9f5;
    padding: 5px;
}

.i-table-grey .less-padding, .less-padding{
    padding: 5px 10px;
}

.invoice-description .sub-table {
    padding: 0px 0px;
}

.sub-table .i-table-grey {
    margin-top: 0mm;
}

.btable-line-top {
    border-top: 1px solid #9cb1ef;
}

.i-total {
    color: #00269a;
    font-weight: 700;
}

.i-info-btm {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}
.i-total2 {
    background-color: #00269a;
    color: #fff;
    font-weight: 700;
}
.text-l tr{
    text-align: left;
}
.receipt-d-tb p {
    margin: 0;
}
.invoice-dt-box table tr td , .receipt-dt-box table tr td{
    vertical-align: baseline;
    font-size: 15px;
}
.invoice-name-info p {
    font-size: 15px;
    line-height: 17px;
    margin: 0;
}
.pd-side{
    padding: 0mm 1mm 0mm 2mm;
}
.font-bold{
    font-weight: 600;
}
.w-40{
    width: 40%;
}
.w-35{
    width: 35%;
}
.w-1{
    width: 1%;
}
.w-32{
    width: 32%;
}
.w-42{
    width: 42%;
}
.header-add p, .r-tot-text{
    font-size:18px;
    line-height:20px;
    font-weight:600;
}
.header-contact p{
    font-size:16px;
    line-height:16px;
    margin: 0;
}
.logo-head{
    width:200px;
    margin-right:2rem;
}
.w-50{
    width: 50%;
}
.w-22{
    width: 22%;
}
.invoice-add2 p{
    margin: 0;
    line-height: 18px;
}
.i-discount, .i-discount h4{
    font-size:18px;
    line-height: 20px;
    font-weight:normal;
}
.i-discount2, .pay-receive p, .pay-text{
    font-size:18px;
    line-height: 20px;
    font-weight: 600;
}
.pay-method td{
    font-size:16px;
    line-height: 20px;
    font-weight:normal;
}
.invoice-description .pd-pay td{
    padding: 5px 10px;
}