html,
body {
    margin: 0;
    padding: 0;
    width: 260mm;
    height: 100%;
    margin: 0 auto;
    font-family: "roboto", sans-serif;
    font-size: 18px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
* p {
    margin: 0;
}
* table {
    border-collapse: collapse;
}
.page-size-a4 {
    width: 100%;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 0.3cm rgb(0 0 0 / 12%);
}
.inner-page {
    padding: 0.5cm;
}
.header {
    width: 100%;
    position: relative;
}
img.cpn-logo {
    width: 248px;
    padding-left: 25px;
}
.cpn-address p {
    font-size: 18px;
    color: #002890;
    font-weight: 500;
}
.cpn-address span {
    font-size: 13px;
}
.cpn-address p + p,
p.cpn-weblink,
p.cpn-email {
    font-size: 16px;
    color: #002890;
    font-weight: 100;
}
.cpn-weblink img,
.cpn-email img {
    width: 15px;
}
.page-title {
    width: 100%;
    padding-top: 18px;
}
.page-title h4 {
    text-align: center;
    color: #002890;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}
.dbl-line {
    height: 4px;
    width: 100%;
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
}
.user-info td {
    vertical-align: top;
}
.user-info td {
    padding-left: 10px;
}
.user-info p,
.user-info span {
    color: #272727;
    font-size: 18px;
    font-weight: 400;
}
.user-info {
    margin: 0 1.5cm;
}
.cpn-email {
    font-size: 14px;
}
.body {
    width: 100%;
}
.tit-bg {
    padding-top: 30px;
}
.tit-bg h4 {
    background: #002890;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.spc-line h4 {
    background: #dbe5ff;
    padding: 12px 20px;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
}
.spc-line2 h4 {
    background: #dbe5ff;
    padding: 12px 20px;
    color: #212121;
    font-size: 15px;
    font-weight: normal;
}
.pd-l20 {
    padding-left: 0.5cm;
}
.line-20 {
    width: 95%;
    border-top: 1px solid #002890;
}
.total-price {
    width: 96%;
    margin: auto;
}
.total-price th {
    color: #212121;
    font-weight: 400;
    line-height: 21px;
    font-size: 16px;
}
.total-price td {
    color: #212121;
    line-height: 23px;
    font-size: 16px;
}
.line-bot td,
.line-bot-top th {
    border-bottom: 1px solid #002890;
}
.line-bot td {
    padding: 7px 0;
}
.text-c {
    text-align: center;
}
.text-r {
    text-align: right;
}
.text-l{
    text-align: left;
}
.bg-light {
    background: #dbe5ff;
}
.bg-dark {
    background: #002890;
    color: #fff !important;
}
.remove-line {
    border: none !important;
    height: 50px;
}
.footer {
    width: 100%;
}
.footer p {
    text-align: center;
    font-size: 13px;
    width: 80%;
    margin: auto;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .page-size-a4 {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
