/* 5920 */
/* width */
::-webkit-scrollbar {
    width: 10px;
    position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff98;
    opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffffb4;
    opacity: .5;
}

/* ----------------main page menu------------------ */
p.bujishu-white {
    display: inline-flex;
}

.bujishu-white.my img {
    margin-bottom: 0px;
    height: 20px;
    width: 15px;
    margin-left: 0.2rem !important;
}

.bujishu-white img {
    height: 17px;
    width: 18px;
}

.mycol {
    padding: 0;
    margin-bottom: 20px;
    display: inline-block;
    flex: 0 0 20%;
    max-width: 39%;
    margin-left: 0.55rem !important;
    margin-right: 0.55rem !important;
}

.myposr {
    position: relative;
}

#myhomepage {
    display: none;
}

.mymainmenu .img-avatar {
    width: 38px;
    border: 2px solid #ffbe31;
    border-radius: 100%;
}

.mymainmenu .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    color: #ffbe31;
}

.dropdown-menu.dropdown-menu-right.mydropmenu {
    transform: translate3d(-130px, 41px, 0px) !important;
}

.mainmenu-top {
    position: relative;
    display: inline-block;
    width: 100%;
}

.mainmenu-size {
    position: relative;
    width: 100%;
}

.mainmenu-icon {
    color: #fbcc34;
    margin-right: 20px;
    line-height: 44px;
}

.mainmenu-logo {
    display: inherit;
    float: left;
    width: auto;
    position: relative;
}

.mainmenu-float-right {
    float: right;
}

.mainmenu-float-left {
    float: left;
}

.mainmenu-float-right,
.mainmenu-float-left {
    height: auto;
}

.mymt-8 {
    margin-top: 8%;
}

.mymt-13 {
    margin-top: 12%;
}

.mymt-14 {
    margin-top: 14%;
}

.mt-20 {
    margin-top: 70px;
}


/* ----------------main page menu end------------------ */

.myfont12 {
    font-size: 12px;
    line-height: 18px;
}

.my100img {
    width: 70%;
}

.my24margin {
    margin-bottom: 0px;
}

.row.myhideimg {
    display: none;
}

.myfooter {
    /* max-width:100%; */
    /* overflow: hidden; */
    border-top: 1px solid #fbcc34;
    padding-top: 1rem;
    background-color: #000;
    /* margin-top: 1em; */
    padding-bottom: 2em;
}



.copyrightfont h6 {
    font-size: 11px;
    color: #fff;
}

.container-fluid.mybody {
    margin-top: 1em;
}

.icon-image {
    width: 100%;
}

.myholizontalline {
    border-bottom: 1px solid #ffcc00;
    margin-bottom: 1em;
}

.myh1 {
    color: #ffcc00;
    font-size: 1.9rem;
    line-height: 1.9em;
}

.mymb-30 {
    margin-bottom: 20px;
}

.mymb-30+.mymb-30 {
    margin-bottom: 40px;
}

.toptitle {
    display: block;
}

.mytitlecolor {
    color: #ffcc00;
    font-weight: 700 !important;
    font-family: "Lato", sans-serif;
    font-size: 1.30rem;
    width: auto;
    float: left;
}

.search-button-updated {
    height: 40px;
    background-color: white;
}

/* my icon */
.bujishu-gold {
    color: #fccb34;
}

.bujishu-gold:hover,
.bujishu-gold:focus {
    color: #c7c7c7;
}

.myorderlist {
    width: 100%;
    line-height: 28px;
    font-size: 1.2em;
    /* padding-top: 73px; */
}

.myorderlist p {
    line-height: 28px;
    font-size: 1em;
    margin: 0;
}

.myorderlist ul {
    margin: 0;
    padding: 0;
}

.myorderlist ul li {
    list-style: none;
}


/* shop order page css */
.ordername {
    color: black;
    font-weight: bold;
    /* padding-top: 30px; */
}

.my-al-lc {
    text-align: left;
    /* padding-top: 59px; */
}

.myholizontalline2 {
    border-top: 1px solid #fc0;
    padding: 15px;
}

.myordercard {
    padding: 0 1.25em;
    flex: 1 1 auto;
}

.myheadername1 {
    margin: 0px 20px;
    border: none;
    margin-bottom: 1px;
}

.img-process {
    width: 100%;
    filter: invert(33%) sepia(0%) saturate(10%) hue-rotate(25deg) brightness(134%) contrast(100%);
}

.img-process.active {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(109%) contrast(125%);
}

.processiconbox {
    /* padding-top: 60px; */
    width: 100%;
}

.myprocessstepbox {
    width: auto;
    position: relative;
    float: right;
    margin-right: 0px;
    position: inherit;
}

.mystep {
    width: 39px;
    float: left;
    margin: 0 8px;
}

.midline {
    border-bottom: 1px solid #cecece;
    padding-top: 16px;
    margin: 0px 3px;
    width: 20px;
    float: left;
}

.mywidth0 {
    width: auto;
}

.mydisnone {
    display: none;
}

.mybut01,
.mybut02,
.mybut03 {
    padding: 5px 10px;
    margin-left: 0px;
    border-radius: 5px;
    margin-right: 3px;
}

.mybut01 {
    border: 1px solid #faac18;
}

.mybut02,
.mybut03 {
    border: 1px solid #cacaca;
}

.mybut01 a {
    color: #e2e2e2;
    font-weight: 900;
}

.mybut02 a,
.mybut02 {
    color: #7d7d7d;
    font-weight: 900;
}

.mybut03 {
    color: #7d7d7d;
    font-weight: 900;
}

.mybut02:hover,
.mybut02:hover a {
    color: #292929;
    background: #fc0;
}

.mylineh35 {
    line-height: 35px;
}

.resp01 {
    margin-top: 0;
    /* padding: 0; */
}

.my_order_text.active {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    background: #ffcc00;
}

.my_order_text {
    padding: 10px 30px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #000;
    font-weight: normal;
    margin-right: 6px;
}

.myfont_weight700 {
    font-weight: 700;
}

.headerText {
    font-size: 30px;
}

/* menu */
.mywebmenu {
    display: block;
    margin-bottom: 7px;
}

.mywebmenu2 {
    display: inline-flex;
}

.mymobilemenu,
.mymobilemenu2 {
    display: none;
}

.myinputbot .input-group .form-control.my {
    padding: 0.375rem 0.375rem;
    text-align: center;
    width: 25%;
}

#loadingDiv.myloading {
    position: absolute;
    left: 50%;
    z-index: 999;

}

/* wishlist */
.wishlistbox {}

.mypbotmg30px {
    margin-top: 30px;
}

.wishlistbox h4 {
    font-size: 1.35rem;
}

/* my text */
.mycentertext {
    text-align: center;
}

.mytext-20px {
    font-size: 20px;
}

/* my-img */
.myinfo-avatar {
    width: 100px;
    border-radius: 100%;
    border: 2px solid #ffcc00;
}

.mybut3 {
    width: 50%;
}

.mymobile-mt {
    margin-top: 0;
}

.card-header-first h4 {
    font-weight: bold;
    color: rgb(250, 172, 24);
    width: auto;
    text-align: left;
    float: left;
}

.card-header-first span {
    color: rgb(167 167 167);
    width: auto;
    text-align: left;
    line-height: 27px;
    margin-left: 10px;
}

.mymobilepad {
    position: relative;
    width: auto;
    display: inline-block;
    margin-bottom: 10px;
}

.mymobilepad+.mymobilepad,
.mymobilepad+.mymobilepad+.mymobilepad {
    float: right;
}

.headerText {
    font-size: 30px;
}

/* --------- Agent Page ---------- */

.myagentpage-row {
    margin: 3% 6%;
}

.myagentpage-row h4 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900 !important;
    color: #ffcc00;
    background-color: transparent;
    text-align: left;
    padding: 10px 0;
    margin: 0;
}

.myagentpage-row .card {
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0px 0px 20px 7px lightgray;
    border-top: 15px solid #ffcc00;
    background-color: #fff;
}

.myagentpage-row h5 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: #ffcc00;
    margin-top: 0;
}

.myagentpage-row hr {
    margin: 30px 0;
    border: 1px #e2e2e2 solid;
}

.myagentpage-row select {
    text-transform: uppercase;
    float: right;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 0 auto;
    width: auto;
    display: table;
}

.myagentpage-row .mymt-3 {
    margin-top: 1rem;
}

/* --------- Agent Page end---------- */

/* -------------------Animation button------------------ */

.applybut {
    /* width: 130px; */
    line-height: 24px;
    height: 36px;
    /* background: rgb(255, 190, 48); */
    font-size: 25px;
    font-family: none;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    /* border: 1px solid #ffd16e; */
    margin-right: 14px;
}

.applybut a::before {
    content: "DC";
    color: #ffd16e;
    font-weight: 600;
    opacity: 1;
    animation-name: applybutton;
    animation-iteration-count: infinite;
    -webkit-animation: applybutton 6s linear infinite;
    -moz-animation: applybutton 6s linear infinite;
    animation: applybutton 6s linear infinite;
}

@-webkit-keyframes applybutton {
    0% {
        content: "DC";
        opacity: 1;
    }

    10% {
        content: "DC";
        opacity: 1;
    }

    15% {
        content: "DC";
        opacity: .8;
    }

    20% {
        content: "DC";
        opacity: .4;
    }

    25% {
        content: "";
        opacity: 0;
    }

    30% {
        content: "DC";
        opacity: .4;
    }

    35% {
        content: "DC";
        opacity: .8;
    }

    40% {
        content: "DC";
        opacity: 1;
    }

    65% {
        content: "DC";
        opacity: 1;
    }

    70% {
        content: "DC";
        opacity: .8;
    }

    75% {
        content: "DC";
        opacity: .4;
    }

    80% {
        content: "";
        opacity: 0;
    }

    85% {
        content: "DC";
        opacity: .4;
    }

    90% {
        content: "DC";
        opacity: .8;
    }

    95% {
        content: "DC";
        opacity: 1;
    }

    100% {
        content: "DC";
        opacity: 1;
    }
}

@-moz-keyframes applybutton {
    0% {
        content: "DC";
        opacity: 1;
    }

    10% {
        content: "DC";
        opacity: 1;
    }

    15% {
        content: "DC";
        opacity: .8;
    }

    20% {
        content: "DC";
        opacity: .4;
    }

    25% {
        content: "";
        opacity: 0;
    }

    30% {
        content: "DC";
        opacity: .4;
    }

    35% {
        content: "DC";
        opacity: .8;
    }

    40% {
        content: "DC";
        opacity: 1;
    }

    65% {
        content: "DC";
        opacity: 1;
    }

    70% {
        content: "DC";
        opacity: .8;
    }

    75% {
        content: "DC";
        opacity: .4;
    }

    80% {
        content: "";
        opacity: 0;
    }

    85% {
        content: "DC";
        opacity: .4;
    }

    90% {
        content: "DC";
        opacity: .8;
    }

    95% {
        content: "DC";
        opacity: 1;
    }

    100% {
        content: "DC";
        opacity: 1;
    }
}

@keyframes applybutton {
    0% {
        content: "DC";
        opacity: 1;
    }

    10% {
        content: "DC";
        opacity: 1;
    }

    15% {
        content: "DC";
        opacity: .8;
    }

    20% {
        content: "DC";
        opacity: .4;
    }

    25% {
        content: "";
        opacity: 0;
    }

    30% {
        content: "DC";
        opacity: .4;
    }

    35% {
        content: "DC";
        opacity: .8;
    }

    40% {
        content: "DC";
        opacity: 1;
    }

    65% {
        content: "DC";
        opacity: 1;
    }

    70% {
        content: "DC";
        opacity: .8;
    }

    75% {
        content: "DC";
        opacity: .4;
    }

    80% {
        content: "";
        opacity: 0;
    }

    85% {
        content: "DC";
        opacity: .4;
    }

    90% {
        content: "DC";
        opacity: .8;
    }

    95% {
        content: "DC";
        opacity: 1;
    }

    100% {
        content: "DC";
        opacity: 1;
    }
}

/* -------------------Animation button end------------------ */

/* -------------my curtain size-------------- */
.mysizebox ul {
    padding: 0;
}

.mysizebox ul li {
    display: inline-table;
    margin: 15px 15px;
}

.myproductsize,
.myproductsize label {
    width: 120px;
    height: 120px;
    min-width: 50px;
    padding: 5px 10px;
    border: solid 1px #ccc;
    border-radius: 100%;
    transition: all 0.3s;
}

.myproductsize.active {
    border: solid 1px #fccb34;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition-timing-function: linear;
}

.myquantityinput {
    display: none;
}

.myquantityinput.active {
    display: block;
    margin: 10px 0;
}

.myproductsize.size6018 {
    background: url('http://bujishu_web.test/storage/icons/product_size/window_2panel.svg');
    background-size: cover;
}

.myproductsize.size6019 {
    background: url('http://bujishu_web.test/storage/icons/product_size/window_3panel.svg');
    background-size: cover;
}

.myproductsize.size6020 {
    background: url('http://bujishu_web.test/storage/icons/product_size/sliding_door_2panel.svg');
    background-size: cover;
}

.myproductsize.size6021 {
    background: url('http://bujishu_web.test/storage/icons/product_size/sliding_door_3panel.svg');
    background-size: cover;
}

.myproductsize.size6022 {
    background: url('http://bujishu_web.test/storage/icons/product_size/sliding_door_3panel.svg');
    background-size: cover;
}

/* -------------my curtain size end-------------- */

/*----------------my input + / - ------------------*/

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: none;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: #ececec;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.7rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding: .5rem;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: .8rem;
    height: 2px;
    background-color: #757575;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ddd;
    /* border-width: 0 2px; */
    font-size: 1rem;
    height: 1.8rem;
    font-weight: bold;
    text-align: center;
}

/*----------------my input + / - end------------------*/

/* responsive */

@media only screen and (max-width:1366px) {
    .card-header-first h4 {
        font-size: 20px;
        line-height: 38px;
    }

    .mymobilepad {
        position: relative;
        display: inline-block;
        height: 40px;
    }

    .mymobilepad {
        float: left;
    }

    .mymobilepad+.mymobilepad,
    .mymobilepad+.mymobilepad+.mymobilepad {
        float: right;
    }
}

@media only screen and (max-width:1280px) {
    .mycol {
        flex: 0 0 11%;
        max-width: 11%;
        /* float: left; */
    }

    .my-pw {
        margin: 1%;
    }
}

@media only screen and (max-width:1024px) {
    .card-header-first span {
        line-height: 32px;
        text-align: right;
        float: right;
    }

    .mymt-13 {
        margin-top: 12%;
    }

    .mymobilepad {
        float: left;
        width: 100%;
    }

    .mymobilepad+.mymobilepad,
    .mymobilepad+.mymobilepad+.mymobilepad {
        width: 50%;
    }

    .processiconbox {
        padding-top: 3px;
    }

    .my-pw {
        margin: 2.5%;
    }

    .mycol {
        width: 16%;
        padding: 0;
        margin-bottom: 20px;
        display: inline-table;
        /* float: left; */
    }

    .container-fluid.mybody {
        padding: 0;
        margin-top: 2em;
    }

    .mymobilepad {
        float: left;
    }

    .mymobilepad+.mymobilepad,
    .mymobilepad+.mymobilepad+.mymobilepad {
        float: right;
    }
}

@media only screen and (max-width:768px) {
    .mycol {
        width: 32%;
    }

    .myagentpage-row .card {
        padding-left: 0px;
        padding-right: 0px;
    }

    .myagentpage-row {
        margin: 3% 0%;
    }

    .myagentpage-row h4,
    .myagentpage-row h5 {
        text-align: center;
    }

    .myagentpage-row hr {
        margin: 15px 0;
    }

    .myagentpage-row select {
        float: none;
    }

    .applyjoin.mainmenu-float-right {
        position: absolute;
        right: 100px;
    }

    .app-header .navbar-brand {
        /* width: auto; */
        left: 28px;
        margin-left: 66px;
        /* display: inherit; */
        justify-content: left;
        position: inherit;
    }

    .mt-3,
    .my-3 {
        margin-top: 80px !important;
    }

    .mymt-13 {
        margin-top: 0%;
    }

    .mymt-14 {
        margin-top: 2%;
    }

    .myfooter .copyrightfont h6 {
        text-align: center !important;
    }
}

@media only screen and (max-width:1024px) {
    .card-header-first span {
        line-height: 32px;
        text-align: right;
        float: right;
    }

    .mymt-13 {
        margin-top: 12%;
    }

    .mymobilepad {
        float: left;
        width: 100%;
    }

    .mymobilepad+.mymobilepad,
    .mymobilepad+.mymobilepad+.mymobilepad {
        width: 50%;
    }


    .myfooter {
        padding-bottom: 3em;
    }

    .applyjoin.mainmenu-float-right {
        width: 40%;
    }

    .applybut {
        /* width: 110px; */
        line-height: 36px;
        font-size: 20px;
        margin-right: 0px;
        height: 50px;
        padding: 5px;
        margin: 0 auto;
        margin-top: 3%;
    }

    .headerText {
        font-size: 24px;
        font-weight: 900;
    }

    .mymobilepad+.mymobilepad,
    .mymobilepad+.mymobilepad+.mymobilepad {
        float: left;
        width: 100%;
    }

    .mymobilepad {
        height: auto;
    }

    .my-al-lc {
        text-align: center;
        padding-top: 10px;
    }

    .mybut01,
    .mybut02 {
        padding: 5px 9px;
        margin-right: 9px;
    }

    .mystep {
        width: 50px;
        float: left;
        margin: 0 7px;
    }

    .myprocessstepbox {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width:414px) {
    .app-header .navbar-brand {
        left: 28px;
        margin-left: 36px;
    }

    .avatarlist .mymt-13 {
        margin-top: 7%;
    }

    .mymt-13 {
        margin-top: 14%;
    }

    .mymt-14 {
        margin-top: 3%;
    }

    .mymt-8 {
        margin-top: 3%;
    }

    .applybut {
        /* width: 52px; */
        line-height: 36px;
        font-size: 20px;
        margin-right: 0px;
        height: 50px;
        padding: 5px;
        margin-top: 3%;
        margin-right: 24px;
        border-radius: 100%;
        /* border: 1px solid #ffd400; */
    }

    .mainmenu-float-right,
    .mainmenu-float-left {
        height: 56px;
    }

    .my-pw {
        margin: 2.5%;
    }

    .mycol {
        flex: 0 0 19%;
        max-width: 19%;
        /* float: left; */
    }

    .container-fluid.mybody {
        padding: 0;
        margin-top: 2em;
    }

    .mymobilepad {
        position: relative;
        display: inline-block;
    }

    .myprocessstepbox {
        float: left;
    }

    .mybut01,
    .mybut02 {
        padding: 5px 5px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .mybut01 a {
        color: #e2e2e2;
        font-weight: 900;
    }

}

@media only screen and (max-width:768px) {
    .mycol {
        width: 31%;
    }

    .myagentpage-row .card {
        padding-left: 0px;
        padding-right: 0px;
    }

    .myagentpage-row {
        margin: 3% 0%;
    }

    .myagentpage-row h4,
    .myagentpage-row h5 {
        text-align: center;
    }

    .myagentpage-row hr {
        margin: 15px 0;
    }

    .myagentpage-row select {
        float: none;
    }

    .applyjoin.mainmenu-float-right {
        position: absolute;
        right: 100px;
    }

    .app-header .navbar-brand {
        /* width: auto; */
        /* left: 80px; */
        margin-left: 25px;
        /* display: inherit; */
        justify-content: left;
        position: inherit;
    }

    .mt-3,
    .my-3 {
        margin-top: 80px !important;
    }

    .mymt-13 {
        margin-top: 0%;
    }

    .mymt-14 {
        margin-top: 2%;
    }

    .mymobilepad+.mymobilepad,
    .mymobilepad+.mymobilepad+.mymobilepad {
        width: 50%
    }

    .mybut01,
    .mybut02,
    .mybut03 {
        padding: 5px 3px;
        margin-left: 0px;
        border-radius: 5px;
        margin-right: 3px;
    }

    .card-header-first h4 {
        font-size: 18px;
        line-height: 32px;
        text-align: left;
    }

    .card-header-first span {
        line-height: 32px;
        text-align: right;
        float: right;
    }

    .myinfo-avatar {
        width: 60px;
    }

    .mywebmenu,
    .mywebmenu2 {
        display: none;
    }

    .mymobilemenu {
        display: block;
        margin-bottom: 10px;
    }

    .mymobilemenu2 {
        display: inline-flex;
        margin-bottom: 10px;
    }

    .mymobilemenu {
        display: block;
        margin-bottom: 10px;
    }

    .mymobilemenu button {
        float: right;
    }

    .headerText {
        font-size: 26px;
        font-weight: 900;
    }

    .myprocessstepbox {
        float: none;
    }

    .mystep {
        width: 36px;
        float: left;
        margin: 0 3px;
    }

    .toptitle.hidden-sm {
        display: none;
    }

    .my24margin {
        margin-bottom: -24px;
    }

    .row.myhideimg {
        display: block;
    }

    .search-button-updated {
        height: 40px;
        background-color: white;
    }

    .my-al-lc {
        padding-top: 0px;
    }
}

@media only screen and (max-width:450px) {
    .mycol {
        max-width: 27%;
    }

    .margin-left-text {
        margin-left: 0px;
        width: 110%;
    }

    .bujishu-white.my img {
        margin-bottom: 30px;
    }

    .icon-attributes {
        /* font-size: .75rem; */
        color: #000000;
        background-color: #ffffff;
        border-radius: 100%;
        min-width: 27px;
        min-height: 27px;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        line-height: 27px;
    }

    .myfooter .myfooter-x2 {
        width: 50%;
    }

    .myfooter-x2+.myfooter-x2+.myfooter-x2 {
        width: 72%;
    }

    .myfooter .fb01,
    .myfooter .inst01 {
        display: none;
    }

    .myfooter {
        padding-bottom: 3em;
    }

    .applyjoin.mainmenu-float-right {
        width: 40%;
    }

    .applybut {
        /* width: 110px; */
        line-height: 36px;
        font-size: 20px;
        margin-right: 0px;
        height: 50px;
        padding: 5px;
        margin: 0 auto;
        margin-top: 3%;
    }

    .headerText {
        font-size: 24px;
        font-weight: 900;
    }

    .mymobilepad+.mymobilepad,
    .mymobilepad+.mymobilepad+.mymobilepad {
        float: left;
        width: 100%;
    }

    .mymobilepad {
        height: auto;
    }

    .my-al-lc {
        text-align: center;
        padding-top: 10px;
    }

    .mybut01,
    .mybut02 {
        padding: 5px 9px;
        margin-right: 9px;
    }

    .mystep {
        width: 50px;
        float: left;
        margin: 0 7px;
    }

    .myprocessstepbox {
        width: auto;
        float: none;
    }

    .myfooter .container,
    .myfooter .footer-box {
        padding: 0 !important;
    }
}

@keyframes applybutton {
    0% {
        content: "DC";
        opacity: 1;
    }

    10% {
        content: "DC";
        opacity: 1;
    }

    15% {
        content: "DC";
        opacity: .8;
    }

    20% {
        content: "DC";
        opacity: .4;
    }

    25% {
        content: "";
        opacity: 0;
    }

    30% {
        content: "DC";
        opacity: .4;
    }

    35% {
        content: "DC";
        opacity: .8;
    }

    40% {
        content: "DC";
        opacity: 1;
    }

    65% {
        content: "DC";
        opacity: 1;
    }

    70% {
        content: "DC";
        opacity: .8;
    }

    75% {
        content: "DC";
        opacity: .4;
    }

    80% {
        content: "";
        opacity: 0;
    }

    85% {
        content: "DC";
        opacity: .4;
    }

    90% {
        content: "DC";
        opacity: .8;
    }

    95% {
        content: "DC";
        opacity: 1;
    }

    100% {
        content: "DC";
        opacity: 1;
    }
}


@media only screen and (max-width:400px) {
    mycol {
        width: 16%;
    }

    .applyjoin.mainmenu-float-right {
        width: 37%;
    }

    .mybut01,
    .mybut02 {
        padding: 5px 5px;
        margin-right: 5px;
    }

    .mybut01,
    .mybut02,
    .mybut03 {
        padding: 5px 4px;
        margin-right: 4px;
    }

    .headerText {
        font-size: 20px;
        font-weight: 900;
    }
}

@media only screen and (max-width:375px) {
    .mycol {
        flex: 0 0 29%;
        max-width: 30%;
    }

    .my-pw {
        margin: 1%;
    }

    .mymt-13 {
        margin-top: 11%;
    }

    .applybut {
        /* width: 96px; */
        line-height: 36px;
        font-size: 14px;
        /* margin-right: 10px; */
        height: 50px;
        padding: 5px;
        /* margin: 0 auto; */
        margin-top: 2%;
    }

    .applyjoin.mainmenu-float-right {
        width: 34%;
        /* overflow: hidden; */
    }

    .headerText {
        font-size: 20px;
    }

    .processiconbox {
        padding-top: 5px;
    }

    .mystep {
        width: 35px;
        margin: 0 5px;
    }

    .midline {
        border-bottom: 1px solid #d6d6d6;
        padding: 17px 0px 0px 23px;
    }

    .wishlistbox h4 {
        font-size: 21px;
        margin-top: 15px;
    }

    .mybut01,
    .mybut02,
    .mybut03 {
        margin: 0px 1px;
        padding: 2px 2px;
    }

    .resp01 {
        /* margin-top: 10px; */
    }

    @media only screen and (max-width:375px) {
        .mycol {
            flex: 0 0 29%;
            max-width: 30%;
        }

        .margin-left-text {
            margin-left: 0px;
            width: 120%;
        }

        .my-pw {
            margin: 1%;
        }

        .mymt-13 {
            margin-top: 11%;
        }

        .applybut {
            /* width: 96px; */
            line-height: 36px;
            font-size: 20px;
            margin-right: 30px;
            height: 50px;
            padding: 5px;
            /* margin: 0 auto; */
            margin-top: 2%;
        }

        .applyjoin.mainmenu-float-right {
            width: 34%;
            /* overflow: hidden; */
        }

        .headerText {
            font-size: 20px;
        }

        .processiconbox {
            padding-top: 5px;
        }

        .mystep {
            width: 35px;
            margin: 0 5px;
        }

        .midline {
            border-bottom: 1px solid #d6d6d6;
            padding: 17px 0px 0px 23px;
        }

        .wishlistbox h4 {
            font-size: 21px;
            margin-top: 15px;
        }

        .mybut01,
        .mybut02,
        .mybut03 {
            margin: 0px 1px;
            padding: 2px 2px;
        }

        .resp01 {
            /* margin-top: 10px; */
        }
    }

    /*iphone Portrait and Landscape */
    @media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
        .mycol {
            width: 32%;
        }

        .headerText {
            font-size: 18px;
        }

        .processiconbox {
            padding-top: 0px;
        }

        .headerText {
            font-size: 18px;
        }

        .processiconbox {
            padding-top: 0px;
        }

        @media only screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
            .mycol {
                width: 33%;
            }

            .headerText {
                font-size: 18px;
            }

            .processiconbox {
                padding-top: 0px;
            }

        }

        @media only screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
            .mycol {
                width: 31%;
            }

            .headerText {
                font-size: 18px;
            }

            .processiconbox {
                padding-top: 0px;
            }

            .mybut01,
            .mybut02 {
                margin: 0px 3px;
            }

            .mybut01,
            .mybut02,
            .mybut03 {
                margin: 0px 2px;
                padding: 2px 3px;
            }

            .midline {
                border-bottom: 1px solid #d6d6d6;
                padding: 16px 0px 0px 10px;
                width: 22px;
            }

        }

        /* Portrait and Landscape end */
        @media only screen and (max-width:360px) {
            .mycol {
                width: 31%;
            }

            .headerText {
                font-size: 18px;
            }

            .processiconbox {
                padding-top: 0px;
            }

            .mybut01,
            .mybut02 {
                margin: 0px 3px;
            }

            .mybut01,
            .mybut02,
            .mybut03 {
                margin: 0px 1px;
                padding: 2px 2px;
            }

            .midline {
                border-bottom: 1px solid #d6d6d6;
                padding: 16px 0px 0px 10px;
                width: 18px;
            }
        }

        @media only screen and (max-width:330px) {
            .mycol {
                flex: 0 0 30%;
                max-width: 30%;
            }

            .my-pw {
                margin: 1% 9%;
            }

            .applybut {
                width: 50px;
                line-height: 36px;
                font-size: 14px;
                margin-right: 0px;
                height: 50px;
                padding: 5px;
                margin: 0 auto;
                margin-top: 1%;
                float: right;
            }

            .applyjoin.mainmenu-float-right {
                width: 24%;
            }

            .card-header-first h4 {
                font-size: 16px;
                line-height: 22px;
            }

            .my-pw {
                margin: 1% 9%;
            }

            .applybut {
                width: 50px;
                line-height: 36px;
                font-size: 14px;
                margin-right: 0px;
                height: 50px;
                padding: 5px;
                margin: 0 auto;
                margin-top: 1%;
                float: right;
            }

            .applyjoin.mainmenu-float-right {
                width: 24%;
            }

            .card-header-first h4 {
                font-size: 16px;
                line-height: 22px;
            }

            .myprocessstepbox {
                width: 100%;
                float: none;
            }

            .mystep {
                width: 25px;
            }

            .my0padding {
                padding: 0;
            }

            .midline {
                border-bottom: 1px solid #d6d6d6;
                padding: 13px 0px 0px 12px;
            }

            .mybut01,
            .mybut02,
            .mybut03 {
                margin: 4px;
                width: 46%;
                text-align: center;
                padding: 4px;
                float: left;
            }

        }
    }
}
