body {
    font-family: "Galada", cursive;
    font-family: "Roboto", sans-serif;
}
.my-r-title-box {
    padding: 1rem 0;
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    border-radius: 10px 10px 0px 0px;
}
.my-register-box {
    background-color: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
}
.register-logo {
    margin: auto;
}
.my-mx-register {
    max-width: 100%;
}
.register-title h2 {
    color: #263a8b;
}
.register-title p {
    display: inline;
    font-size: 40px;
    font-family: Galada;
    font-weight: bold;
    color: #ef3842;
}
.register-title {
    text-align: center;
    margin: auto;
}
.btn-register1 {
    text-align: center;
    margin: auto;
}
.my-mx-auto {
    margin-left: auto;
    display: inline-flex;
}
.my-r-pr {
    padding-right: 30px;
}
.r-btn {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    width: 145px;
    padding: 11px 24px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    margin-left: 30px;
}
.my-pb-12 {
    padding-bottom: 12em;
}
.my-register-box h5 {
    text-align: center;
    color: #fff;
}
.my-r-nav .nav-tabs {
    border: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: 600;
}
.r-subt-box h5 {
    color: #ffffff;
    padding: 0.5rem;
    background: linear-gradient(180deg, #ef3842 0%, #fd5b64 100%);
    border-radius: 30px;
}
.r-color-btn {
    background: #ef3842;
    background: linear-gradient(180deg, #ef3842 0%, #fd5b64 100%);
    color: #fff;
}
.r-next-btn {
    text-align: right;
}
.r-next-btn a:not([href]):not([tabindex]) {
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 14px;
}
.r-inner-box {
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 20px;
}
.r-form-color {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 30px;
}
.register-info .form-control {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 30px;
    font-size: 15px;
    font-weight: 300;
}
.r-f-logo {
    width: 80%;
}

.r-3d-bg {
    background: url(/images/landing-bg.jpg) 61% 33%;
    background-size: 100%;
    background-repeat: repeat-y;
    height: 100vh;
}
.testing .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #d9d9d9;
    border-color: #fbfbfb;
    box-shadow: 0px -3px 3px 1px rgb(7 9 21 / 20%);
}
.r-bckhome-btn-top {
    margin: 0;
    min-height: 70px;
    background-color: #ffffff;
}
.ri-btn {
    text-align: right;
}
.ri-btn .r-color-btn {
    background: #ef3842;
    background: linear-gradient(180deg, #ef3842 0%, #fd5b64 100%);
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
}
.my-guests-card {
    max-width: 560px;
    margin: 0 auto;
}

/* Style error validation message*/
.error {
    color: red;
}

@media (max-width: 1366px) {
    .r-3d-bg {
        background: url(/images/landing-bg.jpg) 61% 41%;
        background-size: 143%;
    }
}
@media (max-width: 1024px) {
    .r-3d-bg {
        background: url(/images/mb_bg.jpg) 56% 60%;
        background-size: 130%;
    }
}

@media (max-width: 768px) {
    .r-3d-bg {
        background: url(/images/mb_bg.jpg) 56% 60%;
        background-size: 130%;
    }
}
@media (max-width: 600px) {
    .r-3d-bg {
        background: url(/images/mb_bg.jpg) 56% -82%;
        background-size: 152%;
    }
}
@media (max-width: 540px) {
    .r-3d-bg {
        background: url(/images/mb_bg.jpg) 54% 11%;
        background-size: 140%;
    }
}
@media (max-width: 458px) {
    .my-mx-register {
        max-width: 70%;
    }
    .register-title h2 {
        font-size: 19px;
    }
    .register-title p {
        font-size: 30px;
    }
    .r-btn {
        margin-left: 0px;
        margin-bottom: 20px;
        width: 156px;
    }
    /* .r-3d-bg {
        background: url(/images/mb-bg.jpg) 139% -309%;
        background-size: 282%;
    } */
    .btn-register1 {
        display: inline-grid;
    }
    .r-wlc-text .my-mb-3 {
        margin-bottom: 0px;
    }
    .r-3d-bg div[class^="col-"] {
        margin-bottom: 0px;
    }
}
@media (max-width: 414px) {
    .r-3d-bg {
        background: url(/images/mb_bg.jpg) 56% -90%;
        background-size: 151%;
    }
}
@media (max-width: 412px) {
    .my-pb-12 {
        padding-bottom: 8em;
    }
}

@media (max-width: 400px) {
    .my-pb-12 {
        padding-bottom: 4em;
    }
}
@media (max-width: 375px) {
    .r-3d-bg {
        background: url(/images/mb_bg.jpg) 63% 160%;
        background-size: 156%;
    }
}
@media (max-width: 330px) {
    .r-3d-bg {
        background: url(/images/mb_bg.jpg) 60% -300%;
        background-size: 151%;
    }
    .my-pb-12 {
        padding-bottom: 6em;
    }
}
.agreement {
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    padding: 0.75rem;
    max-height: 85vh;
}

.header {
    font-weight: 700;
    text-decoration: underline;
}

.paragraph {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    font-weight: 450;
}

.sub-list {
    counter-reset: list;
}

.sub-list > li {
    list-style: none;
    position: relative;
}

.sub-list > li:before {
    counter-increment: list;
    content: "(" counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.7em;
}

.display-block {
    display: block;
}

.signature-pad {
    width: 100%;
    border: 1px solid #e5e5e5;
}

.nav-fill .nav-link.active.register-tab-active {
    font-weight: 600;
}

.btn-submit {
    color: black;
    border-radius: 10px;
    background-color: #fbcc34;
    border-color: #8b878d;
}

.radiobtn {
    position: relative;
    display: block;
}
.radiobtn label {
    display: block;
    border: #3d5fb5 1px solid;
    color: #3d5fb5;
    border-radius: 40px;
    cursor: pointer;
}
input[name="referrer_choices"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}
input[name="referrer_choices"]:checked + label {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    color: #fff;
    animation-name: blink;
    animation-duration: 1s;
    border: none;
}
input[name="referrer_choices"]:checked + label:before {
    width: 20px;
    height: 20px;
}
