@media only screen and (max-width: 1440px) {
    .p-btn-btm .offset-md-8 {
        margin-left: 80.666667%;
    }
    .reason-left {
        width: 15%;
    }
    .opt-right {
        width: 85%;
    }
    .yearly-title {
        width: 86%;
    }
    .bee-bg2 {
        background: url(../images/formula/bee-front.jpg) no-repeat 52% 40%;
        background-size: 50%;
        height: 487px;
    }
    .badge2.active .text2 {
        top: 63%;
        left: -4%;
    }
    .badge2 {
        top: 0%;
        left: 39%;
    }
}
@media only screen and (max-width: 1366px) {
    .edit-popup-bg .modal-content {
        background: url(../images/formula/edit-details-bg.png) no-repeat 50% 100%;
        background-color: #fff;
        background-size: 68%;
        border-radius: 2.3em;
    }
    .orfer-special .sale-special p,
    .orfer-special .sale-special span {
        font-size: 15px;
    }
    .special-tittle {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 7px;
        font-weight: 500;
    }
    .buy-btn {
        width: auto;
        padding: 5px 19px;
        font-size: 13px;
    }
    .pay-pd-scroll {
        height: 296px;
    }
    .checkbox-style {
        width: 70%;
    }
    .checkbox-style span {
        font-size: 14px;
    }
    .checkbox-style input[type="checkbox"] + label {
        height: 19px;
        width: 18px;
    }
    .blue-box-bg {
        background-size: 70px;
    }
    .red-ball-bg {
        background-size: 60px;
    }
    .payment-box .red-ball-bg {
        background-position: 95% 50%;
    }
    .shopping-tittle p {
        font-size: 18px;
        padding: 0px 0px 0px 18px;
    }
    .price-details-1 {
        font-size: 14px;
    }
    .price-details-2 {
        font-size: 14px;
    }
    .price-details-red1 {
        font-size: 14px;
    }
    .price-details-red2 {
        font-size: 14px;
    }
    .total-price .table th,
    .total-price .table td {
        padding: 4px;
    }
    .pay-itembox img {
        margin-top: 5px;
        width: 48%;
    }
    .pay-itembox {
        width: 130px;
        margin-right: 20px;
    }
    .card-itembox {
        width: 210px;
        margin-right: 0;
    }
    .fpx-itembox {
        width: 210px;
        margin-right: 0;
    }
    .payment-box form li a {
        padding: 4px 2px;
    }
    .payment-box label {
        font-size: 12px;
    }
    .modal-header .edit-tittle {
        font-size: 18px;
        line-height: 18px;
    }
    .my-perfect-list-body {
        padding: 0px 6px;
    }
}
@media only screen and (max-width: 1330px) {
    .p-btn-btm .offset-md-8 {
        margin-left: 70.666667%;
    }
    .checkout-ml-3 {
        margin-left: 1.8em;
    }
}
@media only screen and (max-width: 1303px) {
    .save-cc-box label {
        font-size:14px;
    }
    .special-price {
        font-size: 15px;
        line-height: 10px;
        margin-bottom: 4px;
        font-weight: bold;
    }
    .pay-pd-scroll {
        height: 274px;
    }
    .checkbox-style input[type="checkbox"] + label {
        height: 19px;
        width: 18px;
    }
    .pay-itembox,
    .pay-itembox2 {
        width: 129px;
        height: 107px;
    }
    .card-itembox,
    .card-itembox2 {
        width: 210px;
        height: 50px;
    }
    .fpx-itembox,
    .fpx-itembox2 {
        width: 210px;
        height: 50px;
        padding: 10px 30px;
    }
    .pay-tnc {
        font-size: 14px;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 78.666667%;
    }
}
@media only screen and (max-width: 1024px) {
    .save-cc-box .form-check-input {
        height: 18px;
        width: 18px;
    }
    .save-cc-box label {
        margin-top: 7px;
    }
    .bee-four-ball {
        top: 48%;
        left: 84%;
        width: 18%;
    }
    .bee-blue-ball {
        top: 44%;
        left: 14%;
        width: 8%;
    }
    .home-bee-ball2 {
        right: 18%;
    }
    .badge2.active .text2 {
        width: 380px;
        height: 380px;
        top: 43%;
        left: 32%;
    }
    .bee-img-l {
        position: absolute;
        bottom: -12px;
        right: 200px;
    }
    .bee-img-l img {
        width: 280px;
    }
    .bee-bg2 {
        background-size: 59%;
        height: 458px;
    }
    .badge2 {
        top: 6%;
        left: 36%;
    }
    .badge2 h4 {
        line-height: 21px;
        font-size: 18px;
    }
    .delivery-choice .checkout-tick {
        display: block;
    }
    .product-item-list {
        padding: 10px 2px;
        /* background: rgb(255, 255, 255); */
        margin: 20px 0;
        text-align: center;
    }
    .h-btm-bg {
        background: url(/images/formula/Quality.jpg) no-repeat;
        background-size: 48%;
        height: 342px;
        background-position: 11% 1%;
    }
    .multi-inner {
        width: 40%;
    }
    .rp-opt-list button img {
        opacity: 0.3;
        width: 65%;
    }
    .cart-home {
        padding-top: 7%;
        background: url(../images/product-itembg.jpg) no-repeat 105% -450%;
        background-size: 32%;
    }
    .thankyou-text h5 {
        font-size: 18px;
        color: #252525;
        padding-top: 10%;
        line-height: 28px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .side-stickinfo.active .side-info.like #talkbubble,
    .side-stickinfo.active .side-info.like.notLiked #talkbubble,
    .side-stickinfo.active .side-info.like.liked #talkbubble,
    .side-info.like.likeBubble.liked #talkbubble,
    .side-stickinfo.active #talkbubble {
        animation: mymove3 3s;
        transform: rotate(90deg);
        transform-origin: center left;
        opacity: 0;
    }
    @keyframes mymove3 {
        0% {
            transform: rotate(90deg);
            transform-origin: center left;
            opacity: 0;
        }
        100% {
            transform: rotate(90deg);
            transform-origin: center left;
            opacity: 0;
        }
    }
    .h-btm-bg {
        background: url(/images/formula/Quality.jpg) no-repeat;
        background-size: 48%;
        height: 342px;
        background-position: 11% 1%;
    }
    #ag-u-db-m .slick-list.draggable {
        width: 70%;
        margin: auto;
    }
    .blue-btn[class*="btn"],
    .red-btn[class*="btn"] {
        font-size: 13px;
    }
    .pay-itembox, .pay-itembox2 {
        width: 120px;
    }
    .pay-itembox h5,
    .pay-itembox2 h5 {
        font-size: 13px;
    }

    .card-itembox, .card-itembox2 {
        width: 215px;
        height: 50px;
    }
    .card-itembox h5,
    .card-itembox2 h5 {
        font-size: 13px;
    }
    .fpx-itembox, .fpx-itembox2 {
        width: 230px;
        height: 50px;
    }
    .fpx-itembox h5,
    .fpx-itembox2 h5 {
        font-size: 13px;
    }
    .pay-pd-scroll {
        height: 382px;
    }
    .checkbox-style input[type="checkbox"] + label {
        height: 19px;
        width: 23px;
    }
    .card-home {
        padding-top: 2%;
    }
    .btn.apply-btn {
        padding: 5px 15px;
    }
    .delivery-option label {
        margin: 5px;
    }
    .checkout-box2 {
        flex-direction: column;
    }
    .checkout-btn {
        margin-left: 0%;
    }
    .tp .slick-slide img.product-itemimg {
        width: 72%;
        margin: auto;
        padding: 0% 0;
    }
    .product-item-bg {
        background: url(../images/product-itembg.jpg) no-repeat 85% 26%;
        background-size: 50%;
        margin-bottom: 20px;
    }
    .pay-itemlist p {
        line-height: 13px;
        font-size: 14px;
    }
    .do-menuicon-m {
        width: 43%;
        margin-bottom: 3px;
    }
    #ag-u-db {
        display: none;
    }
    #ag-u-db ul {
        height: 135px;
        overflow-x: scroll;
        width: 100%;
    }

    #ag-u-db li {
        display: table-cell;
        width: 100px;
        height: 100px;
        margin: 12px;
    }
    #ag-u-db li a {
        line-height: 18px;
        width: 114px;
        height: 134px;
    }
    #ag-u-db-m {
        display: block;
        text-align: center;
    }
    .col-lg-3.ad-box,
    .col-lg-9.ad-box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .announcement-text {
        color: black;
        font-size: 15px;
        margin-bottom: 16px;
    }
    #ag-u-db .nav-pills .nav-link,
    #ag-u-db .nav-pills .show > .nav-link {
        color: #000;
        /* background: linear-gradient(167deg, #fd959b 0%, #ef3842 96.99%); */
        border-radius: 18px;
        opacity: 0.3;
        width: 100px;
        height: 114px;
        padding: 0px;
    }
    .ft-left ul li {
        padding-right: 0px;
    }
    .ft-pt {
        padding-top: 32px;
    }
    /*dashboard-value record*/
    .db-width .col-md-3,
    .db-width .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .vr-p-img {
        width: 13%;
    }
    .vr-i-align .col-md-3 .col-md-9 {
        flex: 0 0 108%;
        max-width: 100%;
    }
    .vr-process1 img {
        width: 28px;
    }
    .midline {
        width: 11px;
    }
    .pbox-2 .offset-md-3.col-md-9 {
        margin-left: 0%;
    }
    #ag-u-db .nav-pills .nav-link.active,
    #ag-u-db .nav-pills .show > .nav-link {
        color: #252525;
        background: none;
        border-radius: 20px;
        opacity: 1;
    }
    .return-o-box.my-pt-7 {
        padding-top: 1em;
    }
    .opt-right {
        width: 85%;
    }
    .reason-left {
        width: 25%;
    }
}

@media only screen and (max-width: 800px) {
    .home-bee-ball2 {
        right: 13%;
        width: 5%;
    }
    .bee-blue-ball {
        top: 44%;
        left: 5%;
        width: 9%;
    }
    .bee-four-ball {
        top: 48%;
        left: 82%;
        width: 21%;
    }
    .cart-home {
        padding-top: 7%;
    }
    .top-findshop-tittle h1 {
        font-size: 20px;
    }
    .shopping-tittle.textbox-width {
        width: 90%;
    }
    .modal-header .edit-tittle2 {
        width: 50%;
    }
    .ship-box .icon-btn {
        width: 10%;
    }
    .store-details-box {
        display: block;
    }
    .shotlot-detail {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    .icon-stock {
        width: auto;
        position: absolute;
        left: 13%;
    }
    .icon-stock i {
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 10px;
    }
    .shoplot-instock p, .shoplot-lowstock p, .shoplot-outstock p {
        display: inline-flex;
        line-height: 0px;
        align-items: center;
    }
    .shoplot-box ul {
        padding-left: 0rem;
    }
    .shoplot {
        width: 56%;
        margin-bottom: 16px;
    }
    .special-tittle {
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 7px;
        font-weight: 500;
    }
    .special-price {
        font-size: 14px;
        line-height: 10px;
        margin-bottom: 4px;
        font-weight: bold;
    }
    .checkout-page .coupon-box .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .checkout-page .col-md-8,.checkout-page .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .addpd.slick-slide {
        margin: 1px;
        border-radius: 9px;
        float: left;
        /* height: 78px; */
        /* min-height: 1px; */
        overflow: hidden;
        display: flex;
        align-content: space-around;
        justify-content: space-between;
    }
    .tp .slick-slide.slick-active,
    .tp .slick-slide.slick-cloned,
    .tp .slick-slide {
        opacity: 1;
        border: none;
        height: 70%;
        min-height: 1;
        float: left;
    }
    .product-item-bg {
        background: url(../images/product-itembg.jpg) no-repeat 86% 27%;
        background-size: 50%;
    }
    .vr-btn1 a.btn {
        padding: 0;
        font-size: 14px;
    }
    .vr-btn2 a.btn,
    .vr-btn3 a.btn {
        padding: 0;
        min-width: 70px;
        font-size: 14px;
    }
    #personal_info.my-mt-3 {
        margin-top: 2em;
    }
    .h-btm-bg {
        background-size: 52%;
        background-position: 2% 14%;
    }
}

@media only screen and (max-width: 768px) {
    .bee-bg2 {
        background-size: 75%;
    }
    .badge2 {
        top: 4%;
        left: 29%;
    }
    .badge2.active .text2 {
        top: 43%;
        left: 21%;
    }
    .bee-img-l img {
        width: 270px;
    }
    .bee-img-l {
        bottom: -17px;
        right: 193px;
    }
    .quality-bg {
        background: none;
    }
    .h-btm-bg {
        background-size: 61%;
        background-position: 1% 14%;
    }
    .addpd.slick-slide {
        margin: 1px;
        border-radius: 9px;
        float: left;
        height: 80px;
        /* min-height: 56px; */
        overflow: hidden;
    }
    .shopping-tittle p {
        font-size: 16px;
        padding: 0px 0px 0px 18px;
    }
    .checkout-subtittle p {
        width: 30%;
    }
    .card-home {
        padding-top: 10%;
    }
    .payment-box label {
        font-size: 14px;
        line-height: 11px;
        height: 12px;
    }
    .payment-box .form-control {
        padding: 3px 8px;
        font-size: 13px;
    }
    .pay-itembox img {
        margin-top: 2px;
        width: 53%;
    }
    .payment-box form li a {
        padding: 4px 6px;
    }
    .price-details-1 {
        font-size: 14px;
    }
    .price-details-2 {
        text-align: right;
        color: #263a8b;
        font-weight: 500;
        font-size: 10px;
    }
    .pay-itembox,
    .pay-itembox2 {
        width: 122px;
    }
    .card-itembox,
    .card-itembox2 {
        width: 210px;
        height: 50px;
    }
    .fpx-itembox,
    .fpx-itembox2 {
        width: 210px;
        height: 60px;
    }
    .price-details-2 {
        font-size: 14px;
    }
    .tab-pane .my-pt-1 {
        padding-top: 0em;
    }
    .tab-pane .my-pt-2 {
        padding-top: 0em;
    }

    .price-details-red1 {
        font-size: 14px;
    }
    .price-details-red2 {
        font-size: 14px;
    }
    .red-ball-bg .my-pb-1 {
        padding-bottom: 0em;
    }
    .product-itemimg {
        /* width: 50px; */
    }
    .checkbox-style input[type="checkbox"] + label {
        height: 16px;
        width: 23px;
    }
    .checkbox-style span {
        font-size: 14px;
    }
    .red-ball-bg {
        background-size: 83px;
    }
    .blue-box-bg {
        background-size: 72px;
    }
    .payment-box .red-ball-bg {
        background-position: 95% 6%;
    }
    .tab-content .tab-pane {
        padding: 0rem;
    }
    .db-icon1 {
        width: 38%;
    }
    .my-voucher-code-body {
        height: 32%;
        margin-top: 4%;
    }
    .db-img1 {
        width: 31%;
    }
    .db-img2 {
        width: 29%;
    }
    .title-width {
        width: 92%;
    }
    .cart-scroll {
        overflow: auto;
        height: auto;
    }
    .icon-edit-info {
        margin-top: 11%;
    }
    .multi-info {
        overflow-x: scroll;
    }
    /*dashboard value record*/
    .vr-p-img {
        width: 23%;
    }
    .db-width .col-md-3,
    .db-width .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .db-width2 .col-md-3,
    .db-width .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .vr-box {
        display: flex;
        flex-direction: column;
    }
    #ag-u-db {
        margin-bottom: 22px;
    }
    .pbox-2 .offset-md-3.col-md-9 {
        margin-left: 0%;
    }
}
@media only screen and (max-width: 600px) {
    .bee-bg2 {
        background-size: 90%;
    }
    .badge2 {
        top: 4%;
        left: 18%;
    }
    .home-bee-ball2 {
        right: 1%;
        width: 10%;
    }
    .bee-four-ball {
        display:none;
    }
    .blue.table-striped {
        width: 900px;
    }
    .cart-home {
        padding-top: 12%;
    }
    .icon-edit-info {
        margin-top: 22%;
    }
    .shopping-tittle.textbox-width {
        width: 87%;
    }
    .s-title-box {
        display: block;
    }
    .search-store {
        width: 100%;
    }
    .multi-inner {
        width: 100%;
    }
    .rp-opt-list button img {
        opacity: 0.3;
        width: 60%;
    }
    input#coupon_code {
        height: 24px;
    }
    #submitCoupon {
        height: 24px;
        padding: 1px 4px;
    }
    .cart-home {
        padding-top: 12%;
    }
    .h-btm-bg {
        background-size: 100%;
        background-position: 2% 2%;
        height: 460px;
    }
    .h-img-mt {
        margin-top: 30%;
    }
    input#coupon_code {
        height: 24px;
    }
    #submitCoupon {
        height: 24px;
        padding: 1px 4px;
    }
    .form-group.search label img {
        width: 92%;
    }
    .search .col-form-label {
        top: 10px;
    }

    .checkout-page .coupon-box .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .checkout-page .col-md-8,
    .checkout-page .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .db-icon1 {
        width: 47%;
        margin: 5px 31px;
    }
    .my-voucher-code-body {
        height: auto;
        margin-top: 3%;
    }
    .checkout-box-s2,
    .checkout-box-s3 {
        height: auto;
        padding-bottom: 10px;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 74.666667%;
    }
    .return-info-box2 {
        overflow: auto;
    }
    .my-pt-7.return-o-box {
        padding-top: 1em;
    }
    .return-btm-info {
        width: 100%;
        display: block;
    }
    .reason-left {
        width: 100%;
    }
    .opt-right {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 540px) {
    .bee-blue-ball {
        top: 44%;
        left: 5%;
        width: 10%;
    }
    .bee-bg2.active {
        height: 529px;
    }
    .ani-inner h3 {
        font-size: 18px;
    }
    .ani-inner span {
        font-size: 30px;
    }
    .fml-special-pro .badge2 .ani-body p {
        font-size: 14px;
    }
    .badge2.active .text2 {
        top: 92%;
        left: -72%;
        width: 350px;
        height: 350px;
    }
    .bee-img-l img {
        width: 200px;
    }
    .badge2 {
        top: 10%;
        left: 27%;
        width: 90px;
        height: 90px;
    }
    .badge2 .text2 {
        width: 90px;
        height: 90px;
    }
    .bee-bg2 {
        background-size: 120%;
        height: 544px;
        background-position-y: 114px;
    }
    .bee-img-l {
        bottom: -37px;
        right: 150px;
    }
    .link-pay-i {
        width: 28px!important;
    }
    .voucher-i{
        width: 30px!important;
    }
    .payment-box .red-ball-bg {
        background-position: 95% 25%;
    }
    .yellow-ball-bg {
        background-position: 78% 103%;
    }
    .pay.checkout-tick label {
        height: 18px;
        width: 18px;
    }
    .pay.checkout-tick-g label {
        height: 18px;
        width: 18px;
    }
    .pay-itembox, .pay-itembox2 {
        width: 102px;
    }
    .card-itembox, .card-itembox2 {
        width: 100%;
        height: 45px;
    }
    .fpx-itembox, .fpx-itembox2 {
        width: 100%;
        height: 67px;
        padding: 6px 30px;
    }
    .i-sale-info p {
        padding: 8px 0px 10px 0px;
    }
    .i-name-detail.card-body {
        padding: 0em 0rem;
    }
    .btn.cv-reject-btn.ibtn-mr.i-f-size {
        margin-bottom: 15px;
    }
    .vr-box {
        display: flex;
        flex-direction: column;
    }
    .search-filter-box .col-md-auto {
        margin-bottom: 7px;
    }
    .oderdate-t {
        width: auto;
    }
    .purchase-list-t {
        width: auto;
    }
    .vr-ir-btn {
        width: 100%;
    }
    .vr-p-img {
        width: 28%;
    }
    .vr-i-align .col-md-3.col-3 {
        margin: 0;
    }
    .vr-i-align {
        margin: 0;
    }
    .vr-o-step {
        padding-top: 0px;
    }
    .vr-i-align .col-md-9.col-9.vr-p-d {
        margin-bottom: 0;
    }
    .return_form_title span {
        vertical-align: bottom;
        padding-bottom: 10px;
        color: #263a8b;
        font-weight: 600;
        font-size: 25px;
    }
    .opt-right p {
        font-size: 14px;
    }
    #categories-sales-report-table td {
        font-size: 14px;
    }
    .return-info-box label,
    .return-info-box2 label {
        font-size: 14px;
        font-weight: 400;
    }
    #personal_info.my-mt-3 {
        margin-top: 0em;
    }
    #detail-return.my-mt-3 {
        margin-top: 2em;
    }
}

@media only screen and (max-width: 458px) {
    .save-cc-box label {
        margin-top: 10px;
    }
    .edit-popup-bg .modal-content {
        background: url(../images/formula/edit-details-bg.png) no-repeat 50% 100%;
        background-color: #fff;
        background-size: 90%;
        border-radius: 2.3em;
    }
    .multineed-header h1 {
        font-size: 20px;
    }
    .multineed-header span {
        font-size: 26px;
        line-height: 29px;
    }
    a.btn.vr-filt-btn.i-f-size {
        font-size: 14px;
        margin-top: 20px;
    }
    .col-xl-6.col-sm-4.col-md-12.body-card {
        padding: 0;
    }
    .i-yearly-ml{
        margin-left: 0em;
    }
    .yearly-title h4 {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0px;
    }
    .yearly-title {
        padding-bottom: 15px;
        width: 100%;
    }
    .in-title {
        width: 100%;
        display: block;
    }
    .btn.cv-reject-btn.ibtn-mr.i-f-size {
        margin-bottom: 15px;
    }
    .special-item-box {
        padding: 15px 50px;
    }
    .orfer-special .sale-special span {
        font-size: 14px;
    }
    .orfer-special .sale-special p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .buy-btn {
        width: auto;
        padding: 5px 16px;
        font-size: 14px;
    }
    .special-right a {
        width: 90px;
        padding: 5px 5px;
    }
    .special-price P {
        margin: 0;
        padding: 0;
    }
    .special-price {
        color: #0e0e0e;
        font-weight: 600;
        font-size: 16px;
        line-height: 10px;
        letter-spacing: 1px;
        /* margin-bottom: 10px; */
    }
    .special-tittle {
        color: #263a8b;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .orfer-special .sale-special {
        padding: 0 18px;
        transform: rotate(-5.23deg);
    }
    .product-itemimg {
        width: 74px;
    }
    .card-home {
        padding-top: 0%;
    }
    .checkout-subtittle p {
        width: 50%;
    }
    .checkout-subtittle p {
        font-size: 14px;
    }
    .checkout-subtittle {
        padding: 10px 0px 0px 0px;
    }
    .checkout-cart {
        padding: 8px 0px;
        /* display: block; */
        /* float: left; */
        /* position: relative; */
    }
    .check-bg {
        position: absolute;
        right: -5%;
        top: 63%;
        z-index: 0;
    }
    .checkout-tick {
        /* float: left; */
        /* padding-top: 27px; */
    }
    .checkout-product {
        width: 26%;
        float: left;
    }
    .checkout-p1 {
        width: 54%;
    }
    .checkout-text {
        width: 64%;
        padding: 0px 0 0px 10px;
        float: left;
    }
    .checkout-text p {
        margin: 0px 0;
    }
    .product-detail p + p {
        font-size: 12px;
        color: #202020;
        line-height: 16px;
        font-weight: 400;
    }
    .product-detail p + p + p {
        color: #ef3842;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
    .product-detail p {
        font-size: 14px;
        line-height: 17px;
    }
    .icon-special.icon-checkout {
        position: absolute;
        right: 21px;
        bottom: 9px;
    }
    .icon-checkout {
        position: absolute;
        right: 21px;
        /* bottom: 0px; */
    }
    .icon-checkout-2 {
        /* bottom: 46px; */
    }
    .checkout-bg {
        display: none;
    }
    .checkout-box {
        margin-top: 24px;
    }
    .cart-scroll {
        margin-right: 10px;
    }
    .btn.apply-btn {
        padding: 9px 34px;
    }
    .total-price {
        padding: 10px 20px 10px;
    }
    .edit-info-modal-box {
        padding: 22px 20px 22px 20px;
    }
    .modal-content .edit-tittle {
        line-height: 24px;
    }
    .checkout-p1 {
        width: 100%;
    }
    .store-details-box {
        display: block;
    }
    .store-scroll {
        margin: 0px;
    }
    .shoplot {
        width: 60%;
    }
    .store-details-box ul {
        padding: 0px;
    }
    .shoplot-instock p {
        display: inline-flex;
    }
    .icon-stock {
        width: auto;
    }
    .icon-stock i {
        font-size: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 10px;
    }
    .shoplot-lowstock p {
        display: inline-flex;
    }
    .shoplot-outstock p {
        display: inline-flex;
    }
    .icon-stock i {
        font-size: 23px;
    }
    .find-store-tittle .modal-header {
        display: block;
    }
    .search-store a {
        right: 5%;
        top: 1%;
    }
    .btn-close {
        position: absolute;
        top: 2%;
        left: 87%;
    }
    .search-store .bg-form2 {
        width: 100%;
    }
    .modal-header .edit-tittle2 {
        width: 100%;
        padding-bottom: 20px;
    }
    .store-scroll {
        height: 400px;
    }
    .notice-img-icon {
        width: 50%;
    }
    .notice-details {
        padding-top: 5px;
    }
    .notice-box {
        text-align: center;
    }
    .warnings-popup-bg .modal-content {
        background: url(../images/formula/edit-details-bg.png) no-repeat -26% 101%;
        background-color: #fff;
    }
    .warning-text {
        padding-bottom: 0px;
    }
    .modal-content .edit-opt-btn {
        padding-bottom: 5%;
    }
    .notice-img-icon {
        padding-top: 0px;
        padding-bottom: 16px;
    }
    .thankyou-3dimg {
        padding-top: 0px;
    }
    .thankyou-bg {
        background: none;
    }
    .home-bg {
        background: none;
    }
    .check-bg {
        position: relative;
        right: -5%;
        top: 71%;
        z-index: 0;
    }
    .checkout-cart .checkout-3dbg {
        position: absolute;
        right: 0%;
        top: 27%;
        opacity: 0;
    }
    .pay .blue-box-bg {
        background-position: 95% 13%;
    }
    .payment-box .my-pt-3 {
        padding-top: 0em;
    }
    .my-do-text h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    #ag-u-db li a p {
        font-size: 15px;
    }
    #ag-u-db .nav-pills .nav-link.active,
    #ag-u-db .nav-pills .show > .nav-link {
        border-radius: 20px;
        width: 100px;
        height: 115px;
        /* margin: 10px; */
    }
    .sales-amt p {
        font-size: 15px;
    }
    .announcement-date p {
        font-size: 15px;
    }
    .top-10-agent-table tr {
        font-size: 15px;
    }
    .progress-bar-div p {
        font-size: 15px;
    }
    .my-progress-bar-div .progress-bar {
        font-size: 14px;
    }
    .dashboard-pt-b[class^="col-"] {
        padding-right: 0px;
        padding-left: 0px;
    }
    .db-icon1 {
        width: 59%;
        margin: 6px 40px;
    }
    .my-voucher-code-body {
        height: 37%;
        margin-top: 5%;
    }
    .checkout-box-s2 {
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        width: 100%;
        height: 230px;
        box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    }
    #voucher-btn {
        font-size: 14px;
    }
    .db-img1 {
        width: 36%;
        padding-bottom: 14px;
    }
    .my-value-record-body h4,
    .my-perfect-list-body h4 {
        margin-top: 6px;
    }
    .db-img2 {
        width: 50%;
    }
    #cart-btn {
        font-size: 14px;
    }
    .my-perfect-list-body {
        height: 60%;
    }
    .checkout-box-s2,
    .checkout-box-s3 {
        height: auto;
        padding-bottom: 20px;
    }
    .title-width {
        width: 83%;
    }
    .do-menuicon-m {
        width: 80%;
        margin: auto;
    }
    #ag-u-db li a {
        line-height: 18px;
        width: 114px;
        height: 120px;
    }
    /*dashboard value record*/
    .vr-box {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .purchase-list-t {
        width: 100%;
    }
    .oderdate-t {
        width: 100%;
    }
    .vr-ir-btn {
        width: 100%;
    }
    .body-inner {
        display: flex;
        flex-direction: row;
    }
    .my-box-pd {
        padding-top: 20px;
    }
    .vr-p-img {
        width: 43%;
    }
    .vr-p-d h4,
    .vr-p-d p {
        font-size: 15px;
    }
    .row.vr-order-lst {
        text-align: center;
    }
    .vr-process1 img {
        width: 65%;
    }
    .vr-o-step {
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .vr-mt {
        margin-top: 10px;
    }
    .vr-pb-20 {
        padding-bottom: 20px;
    }
    .checkbox-style input[type="radio"] + label {
        height: 20px;
        width: 39px;
    }
    .pay-pd-scroll {
        height: 265px;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 65.666667%;
    }
    #searchModal .close {
        left: 38px;
    }
}
@media only screen and (max-width: 420px) {
    .icon-stock {
        width: auto;
        left: 15%;
    }
    .checkout-subtittle p {
        margin-left: 8px;
    }
    .h-btm-bg {
        background-size: 100%;
        background-position: 2% 2%;
        height: 460px;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 61.666667%;
    }
    .ff ul li {
        width: 40%;
    }

    .saveCard ul li {
        width: 100%;
    }
    .fpxTab ul li {
        width: 100%;
    }

    .checkbox-style input[type="radio"] + label {
        height: 18px;
        width: 40px;
    }
    .pay-itembox, .pay-itembox2 {
        width: 118px;
    }
    .card-itembox, .card-itembox2 {
        width: 118px;
    }
    .fpx-itembox, .fpx-itembox2 {
        width: 118px;
    }
}
@media only screen and (max-width: 414px) {
    .checkbox-style {
        width: 100%;
    }
    .checkbox-style input[type="checkbox"] + label {
        height: 14px;
        width: 23px;
    }
    .pay.yellow-ball-bg {
        background-position: 80% 105%;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 61.666667%;
    }
    .ff ul li {
        width: 50%;
    }

    .saveCard ul li {
        width: 100%;
    }
    .fpxTab ul li {
        width: 50%;
    }
    .pay-itembox, .pay-itembox2 {
        width: 140px;
    }
    .card-itembox, .card-itembox2 {
        width: 100%;
    }
    .fpx-itembox, .fpx-itembox2 {
        width: 100%;
    }
    .checkbox-style input[type="radio"] + label {
        height: 17px;
        width: 28px;
    }
    .menu-search-box .box-size {
        width: 220px;
    }
    .msbs-1 img {
        width: 30px;
        object-fit: cover;
        height: 30px;
        margin-right: 5px;
    }
    .msbs-2 {
        width: 180px;
        white-space: initial;
    }
}

@media only screen and (max-width: 375px) {
    .home-bee-ball2 {
        right: 4%;
        width: 12%;
        top: 16%;
    }
    .badge2.active .text2 {
        top: 101%;
        left: -99%;
    }
    .bee-bg2 {
        background-size: 135%;
        background-position-y: 114px;
        height: 544px;
    }
    .bee-img-l img {
        width: 170px;
    }
    .link-pay-i {
        width: 38px!important;
    }
    .voucher-i{
        width: 40px!important;
    }
    .checkbox-style {
        width: 100%;
    }
    .checkbox-style input[type="radio"] + label {
        height: 17px;
        width: 33px;
    }
    .pay-itembox, .pay-itembox2 {
        width: 125px;
    }
    .card-itembox, .card-itembox2 {
        width: 100%;
        height: 45px;
    }
    .fpx-itembox, .fpx-itembox2 {
        width: 100%;
        height: 57px;
        padding: 0px 30px;
    }
    .delivery-choice .find-store {
        padding: 0 8px;
    }
    .d-cl {
        display: block;
    }
    .sc-pd-btn {
        padding: 10px 6px;
        width: 60%;
    }
    .sc-add {
        width: 100%;
    }
    .icon-stock {
        width: auto;
        left: 17%;
    }
    .shopping-tittle.textbox-width {
        width: 80%;
    }
    .edit-popup-bg .modal-content {
        background: url(../images/formula/edit-details-bg.png) no-repeat 61% 100%;
        background-color: #fff;
        background-size: 90%;
        border-radius: 1.3em;
    }
    .cart-home {
        padding-top: 12%;
    }
    .rp-opt-list button img {
        opacity: 0.3;
        width: 70%;
    }
    .my-profile-opt-btn strong {
        font-size: 14px;
    }
    .rp-opt-list .mp-icon1,
    .rp-opt-list .mp-icon2,
    .rp-opt-list .mp-icon3 {
        width: 32%;
    }
    .col-md-3.item414 {
        width: 48%;
    }
    .checkout-subtittle {
        padding: 10px 0px 0px 8px;
    }
    .checkout-cart {
        padding: 8px 2px 8px 8px;
    }
    .typeahead.dropdown-menu {
        width: 250px;
        border: #fff;
    }
    .form-group.search label img {
        width: 86%;
    }
    .search .col-form-label {
        top: 11px;
    }
    .orfer-special .sale-special {
        padding: 0 17px;
    }
    .special-price {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 4px;
    }
    .orfer-special .sale-special p {
        font-size: 15px;
        margin-bottom: 7px;
    }
    .orfer-special .sale-special span {
        font-size: 12px;
    }
    .buy-btn {
        width: auto;
        padding: 5px 16px;
        font-size: 12px;
    }
    .special-tittle {
        color: #263a8b;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .checkbox-style input[type="checkbox"] + label {
        height: 13px;
        width: 24px;
    }
    .checkout-box2 {
        flex-direction: column;
    }
    .check-bg {
        right: -4%;
        top: 72%;
    }
    .total-price {
        padding: 11px 12px 9px;
    }
    .shopping-tittle p {
        padding: 0px 16px 0px 16px;
    }
    .btn.apply-btn {
        padding: 9px 29px;
    }
    .checkout-btn {
        margin-top: 15px;
        margin-left: 0;
    }
    .pay.yellow-ball-bg {
        background-position: 72% 105%;
    }
    .dashboard-pt-b {
        padding-bottom: 15px;
        padding-right: 0;
        padding-left: 0;
    }
    .my-progress-bar-div .progress-bar {
        font-size: 13px;
    }
    .checkout-box-s2,
    .checkout-box-s3 {
        height: auto;
    }
    #cart-btn {
        margin-top: 0px;
        font-size: 15px;
    }
    .my-perfect-list-body {
        height: 58%;
        padding: 0px 7px;
    }
    #voucher-btn {
        font-size: 15px;
    }
    .do-menuicon-m {
        width: 65%;
        margin-left: 11px;
    }
    #ag-u-db li a {
        width: 113px;
        height: 125px;
    }
    .product-item-list img {
        padding: 0 0px;
        width: 90%;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 57.666667%;
    }
    #searchModal .close {
        left: 28px;
    }
    .search input {
        width: 211px;
    }
    .return-o-box .card-body {
        padding: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .h-btm-bg {
        background-size: 100%;
        background-position: 2% 2%;
        height: 450px;
    }
    .vr-btn1 a.btn {
        padding: 0;
        font-size: 14px;
    }
    .vr-btn2 a.btn,
    .vr-btn3 a.btn {
        padding: 0;
        min-width: 70px;
        font-size: 14px;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 55.666667%;
    }
}

@media only screen and (max-width: 330px) {
    .bee-blue-ball {
        top: 29%;
        left: 5%;
        width: 10%;
    }
    .home-bee-ball2 {
        right: 6%;
        width: 12%;
        top: 16%;
    }
    .bee-img-l {
        bottom: -63px;
        right: 99px;
    }
    .ani-inner span {
        font-size: 26px;
    }
    .ani-inner .my-mb-1{
        margin-bottom: 0em;
    }
    .ani-inner h3 {
        margin-top: 25px;
    }
    .badge2 {
        left: 29%;
    }
    .badge2.active .text2 {
        top: 101%;
        left: -96%;
        width: 310px;
        height: 310px;
        padding: 0 39px;
    }
    .bee-bg2 {
        background-size: 125%;
        background-position-y: 114px;
        height: 500px;
    }
    .cart-home {
        padding-top: 15%;
        background: url(../images/product-itembg.jpg) no-repeat 105% -450%;
        background-size: 32%;
    }
    .thankyou-text h5 {
        font-size: 16px;
        color: #252525;
        padding-top: 10%;
        line-height: 22px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .thank-info {
        padding-bottom: 20px;
    }
    .icon-stock {
        width: auto;
        left: 22%;
    }
    #ag-u-db li a {
        line-height: 18px;
        width: 111px;
        height: 117px;
    }
    .vr-box {
        padding: 10px 10px 13px 15px;
    }
    .product-item-list img {
        width: 100%;
        padding: 0 0px;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 48.666667%;
    }
}
@media only screen and (max-width: 320px) {
    .pay-itembox, .pay-itembox2 {
        width: 103px;
    }
    .card-itembox, .card-itembox2 {
        width: 100%;
    }
    .fpx-itembox, .fpx-itembox2 {
        width: 100%;
    }
    .checkbox-style input[type="radio"] + label {
        height: 17px;
        width: 41px;
    }
    .checkout-cart {
    	padding: 8px 2px 70px 8px;
	}
	.icon-special.icon-checkout {
	    right: 117px;
	    bottom: 9px;
	}
    button.btn.cv-reject-btn.ibtn-mr.i-f-size{
        font-size: 13px;
    }
    .d-style-box .card-body {
        padding: 1rem;
    }
    #ag-u-db li a {
        line-height: 18px;
        width: 111px;
        height: 117px;
    }
    .do-menuicon-m {
        width: 65%;
        margin-left: 9px;
    }
    .vr-box {
        padding: 10px 10px 13px 15px;
    }
    .p-btn-btm .offset-md-8 {
        margin-left: 48.666667%;
    }
    #searchModal .close {
        left: 14px;
    }
    #personal_info span {
        font-size: 18px;
    }
    .return_form_title span {
        font-size: 18px;
    }
    .return-notice {
        padding-top: 12px;
    }
    .opt-right p {
        font-size: 14px;
    }
    #categories-sales-report-table td {
        font-size: 14px;
    }
    .return-info-box label {
        font-size: 14px;
        padding-top: 0;
    }
    .return-info-box {
        padding: 11px 13px;
    }
}
