/* responsive */
@media (min-width: 320px) {
    .fml-special-lead {
        display: none;
    }
    .fml-homelist-icon {
        display: block;
    }
    .lead-tit {
        padding-top: 30px;
    }
    .bot-hole {
        z-index: 4;
        position: absolute;
        background: rgb(183 161 136);
        height: 10px;
        width: 290px;
        bottom: -51px;
        margin: auto 13.5%;
        border-radius: 30px;
    }
    .lead-center {
        width: 268px;
        text-align: center;
        position: absolute;
        z-index: 5;
        padding: 10px 13px 6px 13px;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
        background: rgb(220 32 32);
        background: linear-gradient(179deg, rgb(255 128 128) 0%, rgb(220 32 32) 100%);
        margin: auto 16.5%;
        bottom: -47px;
    }
    .img-sb-l,
    .img-sb-r {
        display: none;
    }
    .shopby-body .inner-top {
        display: inline-flex;
        padding: 15px 0;
        border-bottom: 0;
        width: 97%;
        border-bottom: 2px solid #f00;
        /* margin-top: 30px; */
        margin: 0px 18px 18px 18px;
    }
    .top-lead-bg {
        background: rgb(255 237 217);
        background: linear-gradient(90deg, rgb(255 237 217) 0%, rgb(255 237 217) 100%);
        border-radius: 20px;
        position: relative;
        padding: 30px;
        min-height: 100px;
    }
    .lead-bg {
        background: rgb(255 237 217);
        background: linear-gradient(179deg, rgb(255 231 206) 0%, rgb(255 237 217) 100%);
        border-radius: 20px;
        position: relative;
        padding: 12px;
        min-height: 100px;
        margin-top: -11px;
    }
    .top-bg .inner-bg {
        border-radius: 16px;
        position: relative;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 72px solid rgb(255 237 217);
    }
    .bot-bg .inner-bg {
        background: rgb(255 237 217);
        background: linear-gradient(177deg, rgb(255 233 210) 0%, rgb(236 215 192) 100%);
        border-radius: 10px;
        position: relative;
        padding: 10px;
        min-height: 120px;
        box-shadow: inset 2px 3px 8px #0000002e;
        border: 1px solid rgb(255 237 217);
        display: inline-flex;
        width: 100%;
        /* overflow: auto; */
    }
    .clickme-info.mobile {
        display: block;
    }
    .clickme-info.web {
        display: none;
    }
    .clickme-info.web img {
        width: 40px;
        margin-top: 22px;
        margin-right: 15px;
    }
    .clickme-info.mobile img {
        width: 45px;
        /*         margin-top: 22px;
        margin-right: 15px; */
        /* margin: auto; */
    }
}
@media (min-width: 576px) {
    .clickme-info.web img {
        width: 48px;
        margin-top: -5px;
        margin-right: 0px;
    }
}

@media (min-width: 768px) {
    .fml-special-lead {
        display: block;
    }
    .fml-homelist-icon {
        display: none;
    }
    .lead-tit {
        padding-top: 50px;
    }

    .bot-hole {
        z-index: 4;
        position: absolute;
        background: rgb(183 161 136);
        height: 10px;
        width: 293px;
        bottom: -51px;
        margin: auto 30%;
        border-radius: 30px;
    }
    .lead-center {
        width: 272px;
        text-align: center;
        position: absolute;
        z-index: 5;
        padding: 10px 13px 6px 13px;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
        background: rgb(220 32 32);
        background: linear-gradient(179deg, rgb(255 128 128) 0%, rgb(220 32 32) 100%);
        margin: auto 31.5%;
        bottom: -47px;
    }
    .clickme-info img {
        width: 50px;
        margin-top: -6px;
        margin-right: 0px;
    }
    .fml-container {
        max-width: 676px;
    }
    .clickme-info.mobile,
    .clickme-info.web {
        position: relative;
        width: 12%;
        /* top: 150px; */
        /* z-index: 9; */
        /* right: 63px; */
    }
    .clickme-info.mobile {
        display: none;
    }
    .clickme-info.web {
        display: block;
    }
}

@media (min-width: 992px) {
    .fml-container {
        max-width: 900px;
    }
}
/*media size from 1200 to 1303 */
@media (min-width: 1200px) {
    .lead-tit {
        padding-top: 60px;
    }

    .bot-hole {
        z-index: 4;
        position: absolute;
        background: rgb(183 161 136);
        height: 10px;
        width: 323px;
        bottom: -45px;
        margin: auto 36.5%;
        border-radius: 30px;
    }
    .lead-center {
        width: 299px;
        text-align: center;
        position: absolute;
        z-index: 5;
        padding: 19px 13px 9px 13px;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
        background: rgb(220 32 32);
        background: linear-gradient(179deg, rgb(255 128 128) 0%, rgb(220 32 32) 100%);
        margin: auto 37.5%;
        bottom: -40px;
    }
    .img-sb-l,
    .img-sb-r {
        position: absolute;
        z-index: 1;
        display: block;
    }
    .top-lead-bg {
        background: rgb(255 237 217);
        background: linear-gradient(90deg, rgb(255 237 217) 0%, rgb(255 237 217) 100%);
        border-radius: 20px;
        position: relative;
        padding: 30px;
        min-height: 100px;
    }
    .lead-bg {
        background: rgb(255 237 217);
        background: linear-gradient(179deg, rgb(255 231 206) 0%, rgb(255 237 217) 100%);
        border-radius: 20px;
        position: relative;
        padding: 16px;
        min-height: 100px;
        margin-top: -11px;
    }
    .top-bg .inner-bg {
        border-radius: 16px;
        position: relative;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 72px solid rgb(255 237 217);
    }
    .bot-bg .inner-bg {
        background: rgb(255 237 217);
        background: linear-gradient(177deg, rgb(255 233 210) 0%, rgb(236 215 192) 100%);
        border-radius: 10px;
        position: relative;
        padding: 10px 30px;
        min-height: 120px;
        box-shadow: inset 2px 3px 8px #0000002e;
        border: 1px solid rgb(255 237 217);
        display: inline-flex;
        /* margin: 0 18px; */
        width: 100%;
    }
    .slick-next.slick-arrow {
        right: 32%;
    }
    .slick-prev.slick-arrow {
        left: 30%;
    }
    .iconlist-box {
        /* width: 96%; */
        /* height: 197px; */
    }
    .special-box {
        height: 290px;
    }
    .fml-container {
        max-width: 1140px;
    }
    .fml-muiltiCtg ul li {
        padding: 0 10px;
    }

    .fml-muiltiCtg .iconlist-box a {
        padding: 0px 12px;
        /* float: right; */
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 108px;
        height: 97px;
    }
    .fml-muiltiCtg ul li img {
        width: 117px;
    }
    .ft-left ul li {
        padding-right: 11px;
    }
    .fml-homelist-icon h1,
    .fml-special-pro h1,
    .fml-quality h1,
    .fml-multineed h1 {
        font-size: 26px;
        line-height: 36px;
    }
    .my-mb-3 {
        margin-bottom: 0.5em;
    }
    .my-mb-2 {
        margin-bottom: 1em;
    }
    .fml-special-pro {
        min-height: auto;
    }
    .fml-homelist-icon span,
    .fml-special-pro span,
    .fml-quality span,
    .fml-multineed span {
        font-size: 38px;
    }
}

/*media size from 1303 to 1440 */
@media (min-width: 1303px) {
    .fml-container {
        max-width: 1140px;
    }
    .special-box {
        height: 313px;
        width: 100%;
        text-align: center;
    }
    .quality-bg {
        background: url(../images/formula/frame9.png) no-repeat 88% 58%;
        background-size: 15%;
    }
}

/*media size from 1440 to 1920 */
@media (min-width: 1440px) {
    .name-special p {
        margin: 0px;
    }
    .special-price {
        color: #0e0e0e;
        font-weight: 600;
        font-size: 20px;
        line-height: 50px;
        letter-spacing: 1px;
    }
    .special-right a {
        width: 103px;
        padding: 5px 10px;
        font-size: 16px;
    }
    .special-tittle {
        font-size: 18px;
        line-height: 19px;
    }

    .iconlist-box.e-desktop {
        width: 1200px;
        height: 225px;
        overflow-x: overlay;
        display: block;
    }
    .iconlist-box.e-mobile {
        display: none;
    }
    .special-box {
        height: 313px;
        width: 100%;
        text-align: center;
    }
    .fml-container {
        max-width: 1240px;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 125px;
        height: 111px;
    }
}

/*media size from 1920 up */
@media (max-width: 1920px) {
    .fml-head ul li {
        width: max-content;
        padding: 0 10px;
        list-style: none;
        position: relative;
    }
    .fml-head ul li .search.navbar-toggler img {
        width: 45px;
    }
    .fml-head ul li button img {
        width: 46px;
    }
    .fml-head ul li a img {
        width: 70px;
    }
    .slick-next.slick-arrow {
        right: 37%;
    }
    .slick-prev.slick-arrow {
        left: 36%;
    }
    .bot .slick-next.slick-arrow {
        right: 6%;
    }
    .bot .slick-prev.slick-arrow {
        left: 6%;
    }

    .iconlist-box.e-desktop {
        width: 546px;
        height: 1345px;
        top: 460px;
        left: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        transform-origin: right top;
        transform: rotate(90deg) translateY(-860px);
        position: relative;
        display: block;
    }
    .iconlist-box.e-mobile {
        display: none;
    }
    .fml-container {
        position: relative;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 121px;
        height: 120px;
        padding-bottom: 10px;
        /* transform: rotate(270deg); */
    }
    .fml-muiltiCtg .ttlp {
        width: 141px;
        height: 133px;
        transform: rotate(-90deg) translateY(-100px);
        transform-origin: right top;
        display: inline-block;
        position: relative;
    }
    .fml-muiltiCtg .ttlp p {
        margin: 0;
        text-align: center;
        position: absolute;
        width: 87%;
        bottom: 0px;
        line-height: 18px;
        color: #545454;
        margin: auto;
        height: 30px;
        font-size: 12px;
    }
    .fml-muiltiCtg .iconlist-box a {
        padding: 0px 0px;
        /* width: 100px; */
        /* height: 100px; */
        /* transform: rotate(1deg) translateY(-100px); */
        /* transform-origin: right top; */
    }
    .fml-muiltiCtg {
        margin-top: 0%;
        padding: 0px 60px;
    }
    .pro-bg {
        background: rgb(255 237 217);
        background: linear-gradient(90deg, rgb(255 237 217) 0%, rgb(255 237 217) 100%);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        position: relative;
        padding: 50px 24px;
    }
}

@media only screen and (max-width: 1440px) {
    .quality-bg {
        background: url(../images/formula/frame9.png) no-repeat 93% 93%;
        background-size: 15%;
    }
    .h-btm-bg {
        height: 360px;
    }
    .special-price {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    .buy-btn {
        width: 105px;
        padding: 7px 10px;
    }
    .fml-muiltiCtg .iconlist-box a {
        padding: 0px 0px;
    }
    .iconlist-box.e-mobile {
        display: none;
    }
    .iconlist-box.e-desktop {
        width: 453px;
        height: 1118px;
        top: 382px;
        left: -100px;
        transform: rotate(90deg) translateY(-793px);
        display: block;
    }
    .fml-muiltiCtg .ttlp p {
        font-size: 11px;
    }
    .categeries-box {
        width: 95%;
        float: left;
        position: relative;
        height: auto;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 100px;
        height: 101px;
        /* padding-bottom: 6px; */
    }
    .fml-muiltiCtg .ttlp {
        width: 129px;
        height: 109px;
        transform: rotate(-90deg) translateY(-106px);
        transform-origin: right top;
        display: inline-block;
        position: relative;
    }
    .footer-centerbg.web {
        background: #fff0 url(../images/footer-bg.png) no-repeat 0% 0%;
        background-size: 100%;
        height: 130%;
        width: 100%;
        position: absolute;
        top: -33px;
        padding: 60px 0;
    }
    .product-home {
        padding-top: 6%;
    }
    .full-hrline-grey ul.nav-pills {
        margin: auto;
        width: 60%;
    }
    .full-hrline-grey .nav-pills li.nav-item {
        width: 80px;
        height: 65px;
        padding: 0.5rem 0.5rem;
        margin: 0 6%;
    }
    .full-hrline-grey .nav-pills .nav-link {
        color: #263a8b;
        width: 100%;
        background: none;
        padding: 0rem;
        font-size: 13px;
        line-height: 15px;
    }
    .full-hrline-grey .nav-pills img {
        width: 77%;
        padding-bottom: 31px;
    }
    .full-hrline-grey .nav-pills .nav-link.active,
    .full-hrline-grey .nav-pills .show > .nav-link {
        color: #263a8b;
    }
    .bottom-content {
        margin-top: 0%;
        width: 98%;
    }
    .side-stickinfo {
        left: 0px;
        top: 145px;
    }
}
@media only screen and (max-width: 1024px) {
    .checkbox-style input[type="radio"] + label {
        height: 19px;
    }
    .ff ul li {
        width: 30%;
    }
    .saveCard ul li {
        width: 234px;
        margin: 0;
    }
    .fpxTab ul li {
        width: 234px;
        margin: 0;
    }
    .quality-bg {
        background: url(../images/formula/frame9.png) no-repeat 93% 99%;
        background-size: 15%;
    }
    .lead-center {
        padding: 18px 13px 6px 13px;
    }
    .shopby-center {
        margin: auto 31.5%;
    }
    .home-red-ball2 {
        right: 22%;
        width: 4%;
    }
    .home-yellow-ball {
        width: 5%;
    }
    .home-yellow-ball2 {
        width: 9%;
    }
    .item-ctg {
        width: 130px;
        height: auto;
        text-align: center;
        line-height: 18px;
        padding: 0 5px;
    }
    .item-ctg .icon-image {
        width: 110px;
        margin-left: 8px;
    }
    .shopby-content {
        padding-top: 119px;
        margin: auto 10px;
    }
    .full-hrline-grey ul.nav-pills {
        margin: auto;
        width: 70%;
    }
    .special-box {
        height: auto;
        width: 100%;
        /* background: #ffe3c5; */
        background: linear-gradient(270deg, #fff5ea 0%, #ffe3c5 100%);
        border-radius: 33px;
        box-shadow: 6px 14px 19px -7px rgb(0 0 0 / 25%);
        margin-bottom: 30px;
    }
    .footer-centerbg.web {
        background: #fff0 url(../images/footer-bg.png) no-repeat 9% 103%;
        background-size: 100%;
        height: 130%;
        width: 100%;
        position: absolute;
        top: -33px;
        padding: 88px 0;
    }
    .info-hrline-red {
        height: 4px;
    }
    .myfooter {
        font-size: 12px;
    }
    .item-quality {
        width: 55%;
    }
    .item-buy {
        width: 45%;
    }
    .productitem-info {
        padding-top: 0px;
    }
    .toothtip-my.active {
        right: -92px;
        top: 32px;
    }
    .side-stickinfo .side-info {
        width: 58px;
        height: 68px;
        border-radius: 100px;
        /* background: #ffffff; */
        /* border: 2px solid #263a8b; */
        box-sizing: border-box;
        margin: 15px 10px;
        position: relative;
    }
    .side-stickinfo .side-info img {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .side-stickinfo .side-info.like .like-bg {
        /* margin: 0; */
        /* text-align: center; */
        /* position: absolute; */
        width: 130%;
        top: 50px;
        /* font-weight: 500; */
        /* background: #263a8b; */
        /* border-radius: 10px; */
        /* border: 2px solid #263a8b; */
        left: -14%;
    }
    .product-home {
        padding-top: 8%;
    }
    .rbs-col .price-box {
        width: 47%;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
        border-radius: 15px;
        margin-right: 8px;
        margin-bottom: 15px;
        padding-left: 30px;
        padding: 7px 7px 7px 28px;
        position: relative;
    }
    .product-item .item-icon {
        position: relative;
        width: 18%;
        margin: 5px 5px;
        float: left;
        height: 130px;
        overflow: hidden;
    }
    .product-item .item-icon a {
        font-size: 12px;
    }
    /* menu open and close icon */
    .side-stickinfo.active {
        position: absolute;
        width: 82px;
        height: 333px;
        left: -80px;
        top: 130px;
        /* background: none; */
        border-radius: 15px;
        z-index: 105;
    }
    .side-stickinfo {
        left: 0px;
        top: 130px;
        width: 84px;
        height: 400px;
    }
    .side-stickinfo .open-icon {
        display: block;
        text-align: center;
        left: 80px;
        transform: rotateY(180deg);
    }
    .sc-newStyle .add-newstyle,
    .delivery-newStyle .add-newstyle,
    .stock-newStyle .add-newstyle {
        text-align: center;
        position: absolute;
        width: 91%;
        top: 64px;
        font-weight: 500;
        background: #fff;
        border-radius: 10px;
        border: 2px solid #263a8b;
        margin-left: 3%;
    }
    .side-stickinfo.active .open-icon {
        left: 80px;
        transform: rotateY(1deg);
    }
    .open-icon i {
        font-size: 18px;
    }
    .offer-price,
    .member-price,
    .non-member-price {
        position: relative;
        padding-top: 21px;
        margin-right: 30px;
    }
    .full-hrline-grey .nav-pills li.nav-item {
        width: 73px;
        height: 64px;
        margin: 0 5%;
        padding: 0.2rem;
    }
    .full-hrline-grey .nav-pills .nav-link {
        color: #263a8b;
        width: 100%;
        background: none;
        padding: 0rem;
        font-size: 12px;
        line-height: 15px;
    }
    .full-hrline-grey ul.nav-pills {
        margin: auto;
        width: 64%;
    }
    .slick-prev.slick-arrow {
        left: 31%;
    }
    .slick-next.slick-arrow {
        right: 33%;
    }
    .product-item-bg .slick-prev.slick-arrow {
        left: 24%;
        background: none;
        color: red;
        z-index: 7;
    }
    .product-item-bg .slick-next.slick-arrow {
        right: 26%;
    }
    /*     .product-item-bg .bot .slick-prev.slick-arrow {
        left: 7%;
        background: none;
        color: red;
        z-index: 95;
    } */
    .slick-dotted.bot.slick-slider {
        margin-bottom: 0px;
        height: 86px;
        padding: 3px 0;
    }

    .product-item-bg .bot .slick-next.slick-arrow {
        right: 26%;
    }
    .bot .slick-prev.slick-arrow {
        left: 10%;
    }
    .bot .slick-next.slick-arrow {
        right: 10%;
    }
    .my-pt-7 {
        padding-top: 1em;
    }
    .top-mg {
        margin-top: 46%;
    }
    .mybg {
        background: #4c4c4c url(../images/mb_bg.jpg) no-repeat 7% 3%;
        background-size: 100%;
    }
    .special-box {
        height: 300px;
    }
    .iconlist-box.e-mobile {
        display: none;
    }
    .iconlist-box.e-desktop {
        width: 331px;
        height: 818px;
        top: 340px;
        transform: rotate(90deg) translateY(-528px);
        display: block;
    }
    .bottom-content {
        z-index: 1;
        margin-top: 5%;
        position: relative;
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .ff ul li {
        width: 22%;
    }
    .saveCard ul li {
        width: 212px;
        margin: 0px;
    }
    .fpxTab ul li {
        width: 212px;
        margin: 0px;
    }
    .multineed-header p {
        width: 100%;
    }
    .quality-bg {
        background: url(../images/formula/frame9.png) no-repeat 100% 100%;
        background-size: 15%;
    }
    .shopby-center {
        margin: auto 24.5%;
    }
    .home-yellow-ball {
        left: 86%;
        width: 6%;
    }
    .home-red-ball2 {
        right: 18%;
        width: 4%;
    }
    .home-red-ball3 {
        position: absolute;
        top: 4%;
        right: 10%;
    }
}
@media only screen and (max-width: 768px) {
    .info-detials p,
    .info-detials ul,
    .info-detials ul li,
    .info-detials li,
    .info-detials span,
    .productitem-info .p-detail p {
        color: #202020;
        margin: 0;
        font-size: 15px;
    }
    .lead-center {
        padding: 18px 13px 8px 13px;
        margin: auto 31.5%;
    }
    .home-red-ball2 {
        right: 17%;
        top: 10%;
        width: 4%;
    }
    .home-blue-ball {
        display: none;
    }
    .home-red-ball {
        top: 2%;
        left: 5%;
    }
    .item-ctg .icon-image {
        width: 100px;
        margin-left: 8px;
    }
    .item-ctg {
        width: auto;
        height: auto;
        text-align: center;
        line-height: 18px;
        padding: 0 5px;
    }
    .shopby-content {
        padding-top: 96px;
        margin: auto 0;
    }
    .shopby-center {
        width: 275px;
        text-align: center;
        position: absolute;
        z-index: 5;
        padding: 10px 13px 5px 13px;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
        background: #6faafe;
        background: linear-gradient(180deg, #6faafe 0%, #3d5fb5 100%);
        border-radius: 20px 20px 0px 0px;
        margin: auto 29.5%;
        top: 36px;
    }
    .fml-head ul li .search.navbar-toggler img {
        width: 35px;
    }
    .special-pro .slick-prev:before,
    .special-pro .slick-next:before {
        font-size: 33px;
    }
    .bot .slick-slide img {
        /* display: block; */
        width: 90%;
        padding: 5px 3px;
        margin: auto;
        display: table-cell;
    }
    .bot .slick-slide.slick-current.slick-active.slick-center {
        opacity: 1;
        border: none;
        background: #fee3c5;
        float: left;
        height: 80px;
        /* min-height: 84px; */
        display: flex;
        align-content: space-around;
        justify-content: space-between;
    }
    .bot .slick-slide.slick-active,
    .bot .slick-slide.slick-cloned,
    .bot .slick-slide {
        opacity: 0.3;
        border: 1px solid #00000045;
        float: left;
        height: 80px;
        overflow: hidden;
        display: flex;
        align-content: space-around;
        justify-content: space-between;
    }
    .addpd.slick-slide {
        margin: 1px;
        border-radius: 9px;
        float: left;
        height: 80px;
        overflow: hidden;
        opacity: 1;
        border: none;
    }
    .full-hrline-grey .nav-pills li.nav-item {
        width: 73px;
        height: 64px;
        margin: 0 3%;
        padding: 0.2rem;
    }
    .full-hrline-grey ul.nav-pills {
        margin: auto;
        width: 66%;
    }
    .tp .slick-slide.slick-active,
    .tp .slick-slide.slick-cloned,
    .tp .slick-slide {
        opacity: 1;
        border: none;
        height: 61%;
        min-height: 61%;
        float: left;
    }
    .fml-menu .navbar {
        padding: 0.1rem 1rem;
    }
    .fml-head ul li button img {
        width: 36px;
    }
    .fml-head ul li a img {
        width: 60px;
    }
    .fml-container {
        max-width: 100%;
    }
    .fml-head .fml-container {
        /* padding: 0px!important; */
    }
    .product-home {
        padding-top: 11%;
    }
    .productitem-info .item-pricelist {
        display: inline-flex;
        margin-top: 5px;
    }
    .rbs-col .price-box {
        width: 46%;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
        border-radius: 15px;
        margin-right: 8px;
        margin-bottom: 15px;
        padding-left: 30px;
        padding: 7px 7px 7px 28px;
        position: relative;
    }
    .offer-price,
    .member-price,
    .non-member-price {
        position: relative;
        padding-top: 21px;
        margin-right: 18px;
    }
    .offer-price img,
    .member-price img {
        width: 22px;
        position: absolute;
        top: 0;
    }
    .offer-price p,
    .member-price p,
    .non-member-price p {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.3px;
        padding: 0;
        margin: 0;
        line-height: 14px;
    }
    .offer-price span,
    .member-price span,
    .non-member-price span {
        font-size: 10px;
        padding-right: 6px;
    }
    .offer-price p + p,
    .member-price p + p,
    .non-member-price p + p {
        font-size: 12px;
        font-weight: normal;
        color: #666666;
    }
    .offer-price p + p,
    .offer-price p,
    .member-price p + p,
    .member-price p,
    .non-member-price p + p,
    .non-member-price p {
        margin-left: 0px;
    }
    .fml-quality p {
        line-height: 28px;
    }
    .slick-next.slick-arrow {
        right: 29%;
    }
    .slick-prev.slick-arrow {
        left: 27%;
    }
    .fml-footer {
        margin-top: 60px;
    }
    .footer-centerbg.web {
        display: none;
    }
    .footer-centerbg.mobile {
        display: block;
    }
    .bottom-content {
        margin-top: 5%;
    }

    .iconlist-box.e-mobile {
        display: none;
    }
    .iconlist-box.e-desktop {
        width: 336px;
        height: 650px;
        top: 309px;
        transform: rotate(90deg) translateY(-360px);
        display: block;
        left: 0px;
    }

    .top-mg {
        margin-top: 39%;
    }
    .fml-special-pro {
        min-height: auto;
    }
    .fml-homelist-icon {
        min-height: auto;
        padding-bottom: 0px;
        border-radius: 40px;
    }
    .fml-muiltiCtg .iconlist-box a {
        padding: 0px 3px;
        float: none;
    }
    .fml-muiltiCtg .ttlp {
        width: 102px;
        height: 94px;
        transform: rotate(-90deg) translateY(-100px);
        transform-origin: right top;
        display: inline-block;
        position: relative;
    }
    .fml-muiltiCtg .ttlp p {
        margin: 0;
        text-align: center;
        position: absolute;
        width: 96%;
        bottom: -10px;
        line-height: 16px;
        color: #545454;
        font-size: 12px;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 96px;
        height: 96px;
    }
    .fml-muiltiCtg {
        margin-top: 0%;
        padding: 20px 0;
    }
    .fml-homelist-icon h1,
    .fml-special-pro h1,
    .fml-quality h1 {
        font-size: 25px;
        line-height: 48px;
    }
    .fml-homelist-icon span,
    .fml-special-pro span,
    .fml-quality span {
        font-size: 36px;
    }
    .quality-bg {
        background: url(../images/formula/frame9.png) no-repeat 105% 99%;
        background-size: 24%;
    }
    .special-box {
        height: 200px;
    }
    /* margin and padding share */
    .my-pt-7 {
        padding-top: 0em;
    }
}
@media only screen and (max-width: 600px) {
    .reminder-product .card-box-right {
    margin-top: 40px;
}
    .col-six {
    width: 100%!important;
    margin: 0px;
}
    .rbs-col .rbs-qlt-slc,
    .rbs-col .rbs-time-slc {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .rbs-col .rbs-qlt-slc .list-rbs,
    .rbs-col .rbs-time-slc .list-rbs {
        border: 1px solid #d9d9d9;
        box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
        border-radius: 15px;
        padding: 10px 10px 10px 30px;
        margin: 5px;
        width: 45%;
    }
    .list-rbs label {
        /* position: absolute; */
        /* top: 8px; */
        /* width: 15px; */
        /* height: 15px; */
        /* left: 8px; */
        /* border-radius: 12px; */
        /* background: #fff; */
        /* border: 1px solid #f00; */
    }
    .info-detials {
        padding-right: 0em;
    }
    .product-item-list:hover {
        background: url(../images/formula/item_bg.svg) no-repeat center top;
        background-size: 70%;
    }
    .link-product.buy_now {
        color: #fff !important;
        border-radius: 10px;
        padding: 7px 5px;
        text-align: center;
        background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
        box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    }
    .link-product.buy_now.one {
        text-decoration: none;
        color: #0e0e0e;
        border-radius: 10px;
        padding: 7px 5px;
        text-align: center;
        background: #909090;
        box-shadow: 0px 4px 4px rgb(103 103 103 / 20%);
        background: -moz-linear-gradient(top, #dadada 0%, #b9b9b9 50%, #b3b3b3 51%, #909090 100%); /* FF3.6+ */
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0%, #e8e8e8),
            color-stop(50%, #d0d0d0),
            color-stop(51%, #a5a5a5),
            color-stop(100%, #828282)
        ); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(
            top,
            #dadada 0%,
            #b9b9b9 50%,
            #b3b3b3 51%,
            #848484 100%
        ); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #dadada 0%, #b9b9b9 50%, #b3b3b3 51%, #757575 100%); /* Opera 11.10+ */
    }
    .home-blue-ball {
        display: none;
    }
    .home-red-ball {
        position: absolute;
        top: 3%;
        left: 0%;
    }
    .home-yellow-ball {
        position: absolute;
        top: 5%;
        left: 83%;
        width: 6%;
    }
    .home-red-ball2 {
        position: absolute;
        top: 10%;
        right: 22%;
        width: 5%;
    }
    .home-red-ball3 {
        position: absolute;
        top: 1%;
        right: 19%;
    }
    .shopby-center {
        width: 190px;
        text-align: center;
        position: absolute;
        z-index: 5;
        padding: 14px 13px 12px 13px;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
        background: #6faafe;
        background: linear-gradient(180deg, #6faafe 0%, #3d5fb5 100%);
        border-radius: 20px 20px 0px 0px;
        margin: auto 29.5%;
        top: 32px;
    }
    .fml-special-lead span {
        font-family: "Galada";
        font-weight: normal;
        font-size: 36px;
        line-height: 28px;
        color: #ffffff;
        padding-left: 4px;
    }
    .fml-special-lead h5 {
        font-size: 16px;
    }
    .productitem-info .ft-cart-content-body .item-buy-section {
        display: none;
    }
    .slick-dotted.bot.slick-slider {
        margin-bottom: 0px;
        height: 123px;
        padding: 3px 0;
        z-index: 2;
    }
    .my-mb-5 {
        margin-bottom: 1.5em;
    }
    .signin-bg {
        padding: 40px 50px;
    }
    .side-stickinfo.active .open-icon {
        left: 100px;
        transform: rotateY(1deg);
    }
    .side-stickinfo .open-icon {
        display: block;
        text-align: center;
        left: 100px;
        transform: rotateY(180deg);
    }
    .side-stickinfo.active {
        position: absolute;
        width: 97px;
        height: 390px;
        left: 0px;
        top: 130px;
        /* background: none; */
        border-radius: 15px;
        z-index: 30;
    }
    .tp .slick-slide.slick-active,
    .tp .slick-slide.slick-cloned,
    .tp .slick-slide {
        opacity: 1;
        border: none;
        height: 70%;
        min-height: 70%;
        float: left;
    }
    .pr .tp .slick-slide img.product-itemimg {
        display: block;
        font-weight: 600;
        padding: 0px 0px;
        margin: auto;
        width: 70%;
        /* margin-top: 70px; */
    }
    .tp .slick-slide.slick-active,
    .tp .slick-slide.slick-cloned,
    .tp .slick-slide {
        opacity: 1;
        border: none;
        height: 61%;
        min-height: 61%;
        float: left;
    }
    .product-item-bg {
        background: url(../images/product-itembg.jpg) no-repeat 82% 41%;
        background-size: 52%;
    }

    .iconlist-box.e-mobile {
        width: 100%;
        height: 272px;

        float: none;
        overflow-x: overlay;
        display: block;
    }
    .iconlist-box.e-desktop {
        display: none;
    }
    .top-mg {
        margin-top: 45%;
    }
    .mybg {
        background: #4c4c4c url(../images/mb_bg.jpg) no-repeat 61% 24%;
        background-size: 130%;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 73px;
        height: 69px;
    }
    .fml-head ul li {
        padding: 0 0px;
        list-style: none;
        display: table-cell;
        padding: 0.35rem 0.25rem;
    }
    .fml-head ul li .search.navbar-toggler img {
        width: 35px;
    }
    .fml-cart-wish {
        top: 10px;
        right: 4px;
        font-size: 10px;
        width: 18px;
        height: 18px;
        line-height: 19px;
    }
    .fml-head ul li.mobile {
        display: none;
    }
    .fml-homelist-icon {
        padding-bottom: 0px;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 540px) {
    .ff ul li {
        width: 24%;
    }
    .saveCard ul li {
        width: 100%;
    }
    .fpxTab ul li {
        width: 100%;
    }
    .ft-price-img,
    .ft-price {
        margin-bottom: 5px;
        padding-bottom: 13px;
    }
    .ft-price-img .info h4 {
        font-size: 16px;
    }
    #showCart {
        display: block;
    }

    /* .iconlist-box.e-mobile {
        width: 240px;
        height: 413px;
        float: none;
        overflow-x: overlay;
        transform: rotate(90deg) translateY(-200px);
        display: block;
    }
    .iconlist-box.e-desktop {
      display:none;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 108px;
        height: 101px;
    }*/
}
@media only screen and (max-width: 458px) {
    .rbs-col {
        /* background: #fbfbfb; */
        /* border: 1px solid #d9d9d9; */
        /* box-sizing: border-box; */
        /* box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%); */
        /* border-radius: 15px; */
        /* padding: 0px 15px; */
        margin-top: 10px;
        margin-bottom: 0px;
        /* float: left; */
    }
    .ff ul li {
        width: 33%;
    }

    .saveCard ul li {
        width: 100%;
        margin: 0px;
    }
    .fpxTab ul li {
        width: 50%;
        margin: 0px;
    }

    .info-detials .tit {
        font-size: 20px;
    }
    .lead-center {
        margin: auto 17.5%;
    }
    .fml-special-lead span {
        font-size: 26px;
    }
    .bot-hole {
        width: 301px;
    }
    .home-blue-ball {
        display: none;
    }
    .home-red-ball {
        position: absolute;
        top: 2%;
        left: 4%;
    }
    .home-yellow-ball {
        position: absolute;
        top: 4%;
        left: 84%;
        width: 7%;
    }
    .home-red-ball2 {
        position: absolute;
        top: 12%;
        right: 20%;
        width: 6%;
    }
    .home-red-ball3 {
        position: absolute;
        top: 5%;
        right: 9%;
        width: 11%;
    }
    .home-yellow-ball2 {
        position: absolute;
        top: 35%;
        right: 84%;
        width: 17%;
    }
    form .col-6 {
        width: fit-content;
        text-align: left;
        margin: auto;
    }
    form .col-6 label {
        display: inline-block;
    }
    .myfooter {
        font-size: 11px;
    }
    .slick-next.slick-arrow {
        right: 5%;
    }
    .slick-prev.slick-arrow {
        left: 5%;
    }
    .mobile-none {
        display: block;
    }
    .mobile-user-box {
        position: relative;
    }
    .footer-menu {
        bottom: 0px;
        display: block;
        position: fixed;
    }
    .item-buy .icon-checkout-2 {
        width: 100px;
        height: 41px;
        border-radius: 6px;
        /* line-height: 36px; */
        /* background: linear-gradient(89.62deg, #fd959b 0%, #ef3842 96.99%); */
        /* box-shadow: 0px 4px 4px rgb(232 53 63 / 20%); */
        /* color: #fff; */
        /* text-align: center; */
        /* padding: 0; */
        float: right;
    }
    .ft-menu-mb,
    .user-edit {
        background: #fff;
        position: fixed;
        padding: 0;
        margin: 0;
        width: 100%;
        bottom: 0px;
        display: block;
        z-index: 301;
        left: -102%;
        box-shadow: -2px -7px 6px 0px #0000005e;
        padding: 15px;
        /* border-top: 2px solid #adadad; */
        height: 75vh;
        overflow: scroll;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .ft-cart-content-body {
        /* display: none; */
        float: left;
        width: 100%;
    }
    .ft-cart-content .item-buy .buy-btn {
        display: none;
    }
    .product-itemimg {
    }
    .rbs-col .price-box {
        width: 47%;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
        border-radius: 15px;
        margin-right: 8px;
        margin-bottom: 15px;
        padding-left: 30px;
        padding: 7px 7px 7px 28px;
        position: relative;
    }
    .side-stickinfo.active {
        left: -100px;
        top: 20px;
    }
    .side-stickinfo {
        left: 0px;
        top: 20px;
        width: 101px;
        height: 398px;
    }
    .fml-head.nav-height {
        min-height: 70px;
        position: absolute;
        z-index: 301;
    }
    ::-webkit-scrollbar {
        width: 9px;
        height: 4px;
    }
    .product-home {
        margin: auto;
        padding-top: 18%;
        width: 100%;
        background: url(../images/product-itembg.jpg) no-repeat 116% -3%;
        background-size: 200px;
    }
    .product-item {
        position: relative;
        float: left;
        width: 100%;
        height: 400px;
        overflow: overlay;
    }
    .fml-head .fml-menu-group li {
        display: inline-block;
        font-size: 18px;
        margin: 5px 15px;
    }

    .fml-head .fml-menu-group li .submenu-categories h6,
    .fml-head .fml-menu-group .submenu-categories02 h6 {
        text-align: center;
    }
    .hr-right {
        border: none;
    }
    .fml-menu-group .submenu-categories02 .flex-column {
        display: -webkit-box;
        background: #f1f1f1;
        margin: 27px 0px;
    }
    .fml-menu-group .submenu-categories {
        display: none;
    }
    .fml-menu-group .submenu-categories02 {
        display: block;
    }
    .fml-menu-group .tab-content,
    .fml-menu-group .tab-content .tab-pane {
        padding: 0;
    }
    .product-item .item-icon {
        position: relative;
        width: 90px;
        margin: 11px 5px;
        float: left;
        height: 115px;
    }
    .fml-menu-group .col-md-3,
    .fml-menu-group .col-md-9 {
        padding: 0;
        width: 100%;
        overflow: auto;
        margin-bottom: 20px !important;
    }
    .fml-head .fml-menu-group ul {
        padding: 0;
        margin: 0;
    }
    .pay .blue-box-bg {
        background-position: 105% 13%;
    }
    .my-mt-3 {
        margin-top: 1.5em;
    }
    .pay-methodbox5 .col {
        display: inline-table;
        margin: 10px 0;
        width: 50%;
    }
    .product-item-list img {
        width: 100%;
        padding: 0 10px;
    }
    .product-item-list {
        padding: 0px;
        margin: 16px 0;
    }
    .fml-multineed .multi-inner h1 {
        line-height: 31px;
        font-size: 18px;
    }
    .fml-multineed span {
        font-size: 28px;
        line-height: 32px;
    }
    .mult-info-6 {
        width: 100%;
        display: block;
        padding: 20px 0px;
    }
    .mult-info img {
        width: 90%;
        margin: 0 5%;
    }
    .multi-inner .tab-content {
        /* margin-top: 109px; */
    }
    .fml-multineed .multi-subinfo.nav.nav-tabs {
        width: fit-content;
        margin: auto;
        border: none;
    }
    .multi-inner nav {
        width: 100%;
    }
    .fml-multineed .multi-subinfo.nav.nav-tabs img {
        padding: 0px 8px;
        width: 100px;
    }
    .fml-multineed .multi-subinfo .downarrow {
        bottom: 10px;
    }
    .fml-multineed .btn-link {
        color: #ef3842;
        font-size: 30px;
    }
    .fml-multineed .btn-link:hover {
        color: #aaaaaa1c;
        text-decoration: underline;
    }
    .fml-multineed .nav-pills img {
        width: 100px;
    }
    .hr-margin {
        margin-top: 145px;
        margin-bottom: 30px;
    }
    .fml-multineed .nav.nav-pills {
        width: 140%;
        height: 150px;
    }
    .fml-multineed h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 42px;
    }
    .multineed-header span {
        font-size: 28px;
        line-height: 32px;
    }
    .my-mb-3 {
        margin-bottom: 0.5em;
    }
    .my-pt-3 {
        padding-top: 0.5em;
    }
    .fml-special-pro {
        min-height: auto;
    }
    .productitem-info {
        padding-top: 15px;
        text-align: left;
    }
    .info-detials .product-inner-info.ussage .categories-ussage h5 {
        color: #263a8b;
        margin: 0;
        padding-top: 7px;
        text-align: left;
        font-size: 14px;
    }
    .user-bg {
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
        border-radius: 20px;
        padding: 30px 15px;
    }
    .info-detials h3 {
        width: 100%;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
    }
    .info-detials .info-hrline-red {
        margin-left: 0;
        height: 3px;
    }
    .info-detials.video span {
        font-family: galada;
        font-weight: normal;
        font-size: 38px;
        line-height: 22px;
        color: #ef3842;
        text-align: left;
    }
    .fml.tab-content {
        height: auto;
        margin: 0 5%;
        /* overflow: scroll; */
        /* border: 1px solid #e0dfdf; */
        width: 90%;
        /* border-radius: 30px; */
        padding: 2px;
        /* background: #f9f9f9; */
        /* box-shadow: inset 1px 6px 9px #0000001c; */
    }
    .info-detials.video .info-hrline-red {
        width: 43.51px;
        height: 6px;
        background: linear-gradient(90deg, #ff8279 0%, #ef3842 55.73%);
        border-radius: 30px;
        transform: rotate(-0.31deg);
        margin: auto;
    }
    .toothtip-my.active {
        top: 35px;
    }
    .side-stickinfo .side-info {
        width: 66px;
        height: 66px;
        border-radius: 100px;
        /* background: #ffffff; */
        /* border: 2px solid #263a8b; */
        box-sizing: border-box;
        margin: 15px 18px;
        position: relative;
    }
    .sc-newStyle span {
        top: 78px;
    }
    .side-stickinfo .side-info span {
        text-align: center;
        font-size: 12px;
        position: absolute;
        width: 100%;
        top: 33px;
        left: 0;
        color: #ffffff;
    }
    .user-cm-list .user-cm .cm-list h6 {
        font-size: 16px;
        width: 100%;
        float: left;
        margin: 0;
        line-height: 29px;
        padding-right: 0;
    }
    .user-cm-list .user-cm {
        display: block;
        width: 100%;
    }
    .user-cm-list .user-cm .user-avatar {
        width: 100%;
        margin: 0 2%;
    }
    .user-cm-list .user-cm .cm-list {
        width: 100%;
    }
    .user-cm-list .user-cm img {
        width: 41%;
    }
    .info-detials p {
        text-align: left;
    }
    .info-detials .product-inner-info.right-columns {
        width: 100%;
        padding: 15px 0;
        display: block;
    }
    .info-detials .product-inner-info.right-columns img {
        height: 90px;
        padding: 10px 15px;
    }
    .info-detials ul {
        width: 100%;
        padding: 20px 0;
        overflow: scroll;
    }
    .info-detials .categories-smartlist {
        display: table;
        margin-right: 10px;
    }
    .item-quality h6 {
        display: block;
        margin-bottom: 0;
    }
    .item-quality {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .item-buy-section {
        width: 100%;
        background: #fdfdfd;
        border-radius: 9px;
        border: 1px solid #efefef;
        box-shadow: 2px 3px 3px #0000000d;
        display: inline-flex;
        padding: 15px 15px;
        margin-top: 10px;
        position: relative;
        height: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .item-buy {
        width: 28%;
        /* margin-top: 6%; */
        position: relative;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    .item-buy.warning {
        width: 30%;
        margin-top: 6%;
        position: relative;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
    }
    .item-buy-section-quantity {
        width: 111px;
        border: 1px solid #cecece;
        padding: 3px 3px;
        border-radius: 10px;
        font-size: 12px;
        color: #252525;
    }
    .productitem-info .item-pricelist {
        margin-top: 0px;
        width: 100%;
        overflow: hidden;
        display: inline;
        position: relative;
        float: left;
        margin-bottom: 5px;
    }
    .ft-price .item-pricelist {
        margin-bottom: 0px;
    }
    .offer-price,
    .member-price,
    .non-member-price {
        padding-top: 20px;
        margin-right: 0;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 33%;
        float: left;
        text-align: left;
        padding-left: 0px;
    }
    .offer-price p + p,
    .member-price p + p,
    .non-member-price p + p {
        font-size: 13px;
        font-weight: normal;
        color: #666666;
    }
    .offer-price p,
    .member-price p,
    .non-member-price p {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.3px;
        padding: 0;
        margin: 0;
        line-height: 16px;
    }
    .item-variation {
        margin-top: 10px;
    }
    .offer-price span,
    .member-price span,
    .non-member-price span {
        font-size: 12px;
        padding-right: 0px;
    }
    .item-variation li {
        list-style: none;
        display: inline-table;
        width: auto;
        height: 80px;
        padding: 0 5px;
    }
    .variation-box {
        display: table;
        width: 110px;
    }
    .item-variation label {
        margin-right: 0rem;
    }
    .item-variation img {
        width: 80px;
    }
    .item-variation ul {
        padding: 0;
        margin-left: 0px;
        width: 100%;
        height: 100px;
        overflow: overlay;
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }
    .offer-price img,
    .member-price img {
        top: 0px;
        left: 0px;
        width: 23px;
    }
    .full-hrline-grey .nav-pills img {
        width: 79%;
        padding-bottom: 20px;
    }
    .full-hrline-grey .nav-pills .nav-link.active,
    .full-hrline-grey .nav-pills .show > .nav-link {
        color: #000;
        width: 100%;
        background: none;
    }
    .full-hrline-grey .nav-pills .nav-link {
        color: #000;
        width: 100%;
        background: none;
        padding: 0.1rem;
        font-size: 11px;
        line-height: 13px;
    }
    .full-hrline-grey ul.nav-pills {
        width: 84%;
        height: max-content;
    }
    .full-hrline-grey .nav-pills li.nav-item {
        position: relative;
        text-align: center;
        width: 66px;
        height: 55px;
        font-variant: JIS04;
        padding: 0rem;
        background: radial-gradient(141.22% 141.22% at 19.63% -3.04%, #93bcff 4.69%, #1b2b73 56.12%);
        box-shadow: 0px 7px 8px -1px rgba(55, 86, 227, 0.3), inset 0px 4px 4px rgba(217, 244, 255, 0.25);
        border-radius: 0px 0px 71.5px 71.5px;
        opacity: 0.3;
        margin: auto;
    }
    .fml-homelist-icon h1,
    .fml-special-pro h1,
    .fml-quality h1 {
        font-size: 25px;
        line-height: 34px;
        padding: 17px 0;
        width: 90%;
    }
    .fml-muiltiCtg {
        padding: 25px 0;
        /* height: 377px; */
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 107px;
        height: 105px;
    }
    .fml-muiltiCtg .ttlp {
        width: 124px;
        height: 108px;
        transform: rotate(-90deg) translateY(-100px);
        transform-origin: right top;
        display: inline-block;
    }
    .categeries-box {
        width: 100%;
        float: left;
        position: relative;
        height: auto;
    }

    .iconlist-box.e-mobile {
        width: 444px;
        height: 328px;
        transform: rotate(90deg) translateY(56px);
        display: block;
        position: relative;
        top: 7px;
        margin: 0 40px;
    }
    .iconlist-box.e-desktop {
        display: none;
    }
    .weblogo {
        display: none;
    }
    .mobilelogo {
        display: block;
    }
    .bottom-content {
        margin-top: 18%;
    }
    .top-mg {
        margin-top: 44%;
    }
    .mybg {
        background: #4c4c4c url(../images/mb_bg.jpg) no-repeat 54% 12%;
        background-size: 144%;
    }
    .signin-bg {
        height: 370px;
        width: 370px;
        /* padding-top: 40px; */
        padding: 37px 37px;
    }
    .fml-footer {
        margin-top: 20px;
        /* height: 87%; */
        padding-bottom: 60px;
        padding-top: 36px;
    }
    .footer-centerbg {
        height: 328px;
    }
    .ft-left ul {
        padding: 0;
        margin-top: 15px;
    }
    .ft-left ul.fml-social {
        margin-top: 50px;
    }
    .ft-right {
        margin-bottom: 50px;
    }
    div[class^="col-"] {
        margin-bottom: 0px !important;
    }
    .ft-right ul {
        text-align: left;
    }
    .footer-centerbg p {
        width: 69%;
    }
    .footer-centerbg.mobile p,
    .footer-centerbg.mobile h2 {
        text-align: left;
    }
    .top-banner {
        top: 50px;
    }
    .col-md-3.item414 {
        width: 50%;
    }
    .product-item-list h5 {
        padding: 0px;
        font-size: 14px;
    }
    .productitem-info h3 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
    .cp-left,
    .cp-right {
        float: left;
    }
    .copyright-text {
        margin: 20px 0;
    }
    .footer-centerbg.mobile .i-social {
        float: left;
    }
    .fml-head .fml-container {
        padding: 0px !important;
    }
    .p-m-add-btn {
        position: relative;
        bottom: 0px;
        width: 65px;
        height: 40px;
        /* top: 6px; */
        border-radius: 10px;
        padding: 7px 5px;
        text-align: center;
        background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
        box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    }
    .p-m-add-btn i {
        color: #fff;
        font-size: 18px;
        padding: 3px;
        line-height: 21px;
    }
    .p-m-add-btn i {
        line-height: 22px;
    }
}
@media only screen and (max-width: 414px) {
    .group-item {
        width: 90px;
        display: inline-table;
        margin: 3px 2px;
    }
    .group-list {
        width: 96%;
        display: table;
        margin-left: 30px;
    }
    .home-red-ball2 {
        position: absolute;
        top: 10%;
        right: 16%;
        width: 6%;
    }
    .fml-special-lead span {
        font-size: 26px;
    }
    .lead-center {
        width: 216px;
        margin: auto 21.5%;
        bottom: -47px;
    }
    .bot-hole {
        width: 255px;
        margin: auto 16.5%;
    }
    .shopby-center {
        margin: auto 23.5%;
    }
    .full-hrline-grey .nav-pills li.nav-item {
        margin: 0px 2%;
    }
    .item-variation ul {
        padding: 0;
        margin-left: 0px;
    }
    .item-variation img {
        width: 70px;
    }
    .productitem-info .item-pricelist {
        margin-top: 7px;
        width: 100%;
        overflow: hidden;
        display: inline;
        position: relative;
        float: left;
    }

    .offer-price p,
    .member-price p,
    .non-member-price p {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.3px;
        padding: 0;
        margin: 0;
        line-height: 15px;
    }
    .offer-price span,
    .member-price span,
    .non-member-price span {
        font-size: 12px;
        padding-right: 0px;
    }
    .offer-price,
    .member-price,
    .non-member-price {
        padding-top: 18px;
        margin-right: 0;
        margin-bottom: 5px;
        width: 33%;
        float: left;
        text-align: left;
        padding-left: 0px;
    }
    .offer-price p + p,
    .member-price p + p,
    .non-member-price p + p {
        font-size: 12px;
        font-weight: normal;
        color: #666666;
    }
    .variation-box p {
        display: table-cell;
        vertical-align: middle;
        color: #202020;
        line-height: 15px;
        font-size: 12px;
    }
    .offer-price img,
    .member-price img {
        top: -2px;
        left: 0px;
    }
    .product-item {
        height: 360px;
        overflow: overlay;
    }
    .product-item .item-icon {
        width: 90px;
        margin: 11px 5px;
        float: left;
        height: 115px;
    }
    .product-item .item-icon {
        position: relative;
        width: 85px;
        margin: 5px 5px;
        float: left;
        height: 115px;
    }
    .product-item .item-icon a {
        font-size: 10px;
    }
}
@media only screen and (max-width: 400px) {
    #showCart {
        top: 10px;
    }
    .p-m-add-btn {
        width: 60px;
        height: 40px;
        padding: 7px 5px;
    }
    .ftitemCount {
        top: 3px;
        right: 0;
        padding-left: 13px;
    }
    .fml-homelist-icon h1,
    .fml-special-pro h1,
    .fml-quality h1 {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
    }
    .fml-homelist-icon span,
    .fml-special-pro span,
    .fml-quality span {
        font-size: 30px;
    }
    .btn-primary-my {
        color: #fff;
        width: 120px;
        height: 29px;
        border-radius: 4.25rem;
        text-align: center;
        background-image: linear-gradient(#ef3842, #fd5b64);
        position: relative;
        margin-left: 21%;
        padding: 0 10px;
        font-size: 12px;
    }
    .mb-3 {
        margin-bottom: 0.8rem !important;
    }
    .signin-bg .small,
    small {
        font-size: 0.7em;
    }
    .login-ico {
        line-height: 17px;
    }
    .font25 {
        font-size: 18px;
        padding: 7px 0;
    }
    .signin-bg .form-control {
        display: block;
        width: 100%;
        padding: 0.4em 0.5em;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.8rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn-primary-my {
        margin-left: 26%;
    }
    .fmllogo {
        width: 120px;
    }
    .signin-bg p {
        font-size: 11px;
        margin-bottom: 0.8em;
    }
    .fml-menu .navbar {
        padding: 0;
    }
    .full-hrline-grey .nav-pills li.nav-item {
        width: 55px;
        height: 47px;
        margin: 0 2%;
    }

    .iconlist-box.e-mobile {
        width: 458px;
        height: 316px;
        transform: rotate(90deg) translateY(84px);
        display: block;
        top: 15px;
    }
    .categeries-box {
        height: auto;
    }
    .iconlist-box.e-desktop {
        display: none;
    }
    .fml-muiltiCtg .ttlp {
        width: 126px;
        height: 100px;
        transform: rotate(-90deg) translateY(-100px);
        transform-origin: right top;
        display: inline-block;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 99px;
        height: 98px;
    }
    .top-mg {
        margin-top: 24%;
    }
    .mybg {
        background: #4c4c4c url(../images/mb_bg.jpg) no-repeat 7% 3%;
        background-size: 288%;
    }
    .signin-bg {
        height: 360px;
        width: 360px;
        padding-top: 66px;
    }
}
@media only screen and (max-width: 375px) {
    .lead-center {
        width: 236px;
        margin: auto 15.5%;
    }
    .shopby-center {
        margin: auto 20.5%;
    }
    .bot-hole {
        width: 250px;
    }
    .p-m-add-btn {
        width: 70px;
        height: 40px;
        padding: 7px 5px;
    }
    .info-detials h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
    .offer-price img,
    .member-price img {
        width: 22px;
    }
    .productitem-info h3 {
        font-size: 14px;
    }
    .productitem-info p {
        font-size: 13px;
    }
    .info-detials p {
        font-size: 13px;
    }
    #detial-info.tab-pane {
        padding: 0rem;
    }
    .offer-price p,
    .member-price p,
    .non-member-price p {
        font-size: 17px;
    }
    .offer-price p + p,
    .member-price p + p,
    .non-member-price p + p {
        font-size: 12px;
    }
    .subtitle-namelist li a {
        font-size: 13px;
    }
    .fml-menu .navbar .navbar-brand {
        padding-left: 0.3rem;
        margin-right: 0.5rem;
    }
    .fml-head ul li {
        padding: 0rem;
    }
    .fml-head ul {
        margin-right: 1rem;
    }
    .fml-menu li button.navbar-toggler {
        padding: 0.55rem;
        color: #f8f9fa00;
    }
    .footer-menu .ft-cart-nav li {
        padding: 5px 0;
    }
    .footer-menu .ft-cart-nav a,
    .footer-menu .ft-cart-nav button {
        padding: 0;
        line-height: 50px;
        font-size: 12px;
    }
    .footer-menu .item01 button {
        margin-top: 10px;
    }
    .footer-menu .item01 button i {
        font-size: 22px;
    }
    .footer-menu .ft-cart-nav {
    }
    .iconlist-box.e-mobile {
        width: 425px;
        height: 338px;
        transform: rotate(90deg) translateY(92px);
        display: block;
        top: 10px;
    }
    .fml-muiltiCtg .ttlp {
        width: 122px;
        height: 105px;
        transform: rotate(-90deg) translateY(-100px);
    }
    .iconlist-box.e-desktop {
        display: none;
    }

    .fml-special-pro {
        min-height: auto;
        background-size: 14%;
    }
    .my-pt-7 {
        padding-top: 0em;
    }
    .top-mg {
        margin-top: 38%;
    }
    .mybg {
        background: #4c4c4c url(../images/mb_bg.jpg) no-repeat 62% 3%;
        background-size: 139%;
    }
    .signin-bg {
        height: 330px;
        width: 330px;
        padding-top: 50px;
    }
}
@media only screen and (max-width: 360px) {
    .item-quality {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .bot-hole {
        width: 241px;
    }
    .lead-center {
        width: 214px;
        margin: auto 17.5%;
        bottom: -47px;
    }
    .item-buy {
        width: 30%;
        margin-top: 2%;
        position: relative;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
    }
    #showCart {
        position: absolute;
        z-index: 100;
        right: 2px;
        top: 26px;
        width: 56px;
        height: 30px;
        background: #e6e6e6;
        border-radius: 15px;
    }
    .ftitemCount {
        font-size: 14px;
        top: 5px;
    }
    .item-buy-section {
        width: 100%;
        background: #fdfdfd;
        border-radius: 9px;
        border: 1px solid #efefef;
        box-shadow: 2px 3px 3px #0000000d;
        display: inline-flex;
        padding: 5px;
    }
    .top-mg {
        margin-top: 70%;
    }
    .mybg {
        background: #4c4c4c url(../images/mb_bg.jpg) no-repeat 7% 3%;
        background-size: 448%;
    }
}
@media only screen and (max-width: 330px) {
    .rbs-col .price-box {
        width: 100%;
        border-radius: 15px;
        margin-right: 8px;
        margin-bottom: 15px;
        padding: 7px 7px 7px 30px;
        position: relative;
    }
    .bot-hole {
        width: 218px;
    }
    .lead-center {
        width: 195px;
        margin: auto 17.5%;
        bottom: -47px;
    }
    .shopby-center {
        margin: auto 16.5%;
    }
    .home-red-ball2 {
        right: 13%;
    }
    .home-red-ball {
        position: absolute;
        top: 2%;
        left: 4%;
        width: 16%;
    }
    .item-quality {
        width: 46%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .item-buy-section-quantity {
        width: 111px;
        padding: 3px 3px;
    }
    .item-quality h6 {
        margin-bottom: 5px;
    }
    .item-buy.warning {
        width: 25%;
        margin-top: 0%;
    }
    .remind-bell {
        width: 26%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .item-buy {
        width: 23%;
        margin-top: 0;
    }
    .p-m-add-btn {
        width: 56px;
        height: 40px;
        padding: 7px 5px;
    }
    #showCart {
        right: 5px;
        top: 22px;
        width: 56px;
        height: 34px;
    }
    .special-tittle {
        font-size: 14px;
        line-height: 20px;
    }
    .special-price {
        font-size: 16px;
        line-height: 20px;
    }
    .orfer-special .sale-special span {
        font-size: 16px;
    }
    .orfer-special .sale-special p {
        font-size: 16px;
    }
    .special-tittle {
        color: #263a8b;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    .buy-btn {
        padding: 6px 20px;
        font-size: 14px;
    }
    .special-box {
        border-radius: 30px;
    }
    .fml-quality p {
        line-height: 25px;
        font-size: 14px;
    }
    .fml-homelist-icon h1,
    .fml-special-pro h1,
    .fml-quality h1 {
        font-size: 18px;
        line-height: 34px;
        /* padding: 16px; */
        width: 100%;
        /* margin: auto; */
        text-align: left;
    }
    .mobilelogo {
        width: 60px;
        padding-left: 15px;
    }
    .fml-homelist-icon span,
    .fml-special-pro span,
    .fml-quality span {
        font-size: 26px;
    }
    h1,
    .fml-quality h1 {
        font-size: 16px;
    }
    .info-hrline-red {
        width: 43.51px;
        height: 4px;
    }
    .top-mg {
        margin-top: 55%;
    }
    .mybg {
        background: #4c4c4c url(../images/mb_bg.jpg) no-repeat 58% 0%;
        background-size: 149%;
    }
    .signin-bg {
        height: 286px;
        width: 308px;
        padding-top: 31px;
    }
    .fml-muiltiCtg .iconlist-box a img {
        width: 80px;
        height: 82px;
    }

    .iconlist-box.e-mobile {
        width: 373px;
        height: 279px;
        top: 34px;
        transform: rotate(90deg) translateY(69px);
        display: block;
    }
    .iconlist-box.e-desktop {
        display: none;
    }

    .fml-head ul li button img {
        width: 30px;
    }
    .fml-head ul li .search.navbar-toggler img {
        width: 29px;
    }
    .fml-head ul li a img {
        width: 50px;
        padding: 0.25rem 0.6rem;
    }
    .categeries-box {
        width: 99%;
        height: auto;
    }
    .fml-muiltiCtg {
        padding: 10px 0;
    }
    .fml-muiltiCtg .ttlp {
        width: 115px;
        height: 93px;
    }
    .group-item {
        width: 80px;
        display: inline-table;
        margin: 5px 5px;
    }
    .group-list {
        width: 100%;
        display: table;
        margin-left: 10%;
    }
}
