body {
    width: 100%;
    margin: auto;
    font-family: "roboto", sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #fff !important;
    color: #263a8b !important;
    transition: transform 330ms ease-in-out;
    /* transition-duration: 0.4s; */
    overflow: visible;
}
/* * {
} */
/* Style error validation message */
.error {
    color: red;
}
.pr .slick-prev,
.pr .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 60px;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 99;
}
.p-m-add-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 39px;
    padding: 0;
    text-align: center;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    color: #fff;
}
.p-m-add-btn i {
    line-height: 40px;
}
a {
    color: #ef3842;
}
a:hover {
    color: #263a8b;
}
.weblogo {
    width: 150px;
    display: block;
}
.mobilelogo {
    width: 54px;
    display: none;
}
/* menu */
.cover-bg {
    background: #000f1fb3;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 98;
    display: block;
    overflow: hidden;
    outline: 0;
}
.fml-head.nav-height {
    min-height: 70px;
}
/* .fml-menu li button.navbar-toggler {
    color: #ef3842;
    padding: 0.65rem 0.65em;
    font-size: 1.125rem;
    line-height: 1rem;
    border: 1px solid white;
    border-radius: 5rem;
} */
.fml-menu li button.navbar-toggler {
    color: #f8f9fa00;
}
.submenu-categories {
    display: block;
}
.submenu-categories02 {
    display: none;
}

.fml-head ul li button.navbar-toggler-icon span {
    color: #ef3842;
}

/* .fml-head ul li .navbar-toggler:hover {
    color: #ffffff;
} */

.fml-menu {
    position: absolute;
    width: 100%;
    z-index: 100;
    margin: auto;
}
.fml-menu .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.fml-menu .navbar .navbar-brand {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}
.fml .navbar-toggler span {
    background: #ef3842;
    color: #263a8b;
}
.fml-menu-group.collapse .bg-light {
    background: #fff !important;
}
.fml-head .fml-menu-group {
    background: #fff;
    box-shadow: 6px 14px 19px -7px rgb(0 0 0 / 45%);
    width: 100%;
    position: relative;
    padding: 20px;
    border-bottom: 2px solid #6b81a5;
    border-radius: 20px;
    opacity: 1;
}
.fml-menu-group .tab-content,
.fml-menu-group .tab-content .tab-pane {
    margin-top: -1px;
    background: #fff;
    border: none;
    float: left;
    position: relative;
}
.product-item {
    position: relative;
    float: left;
    width: 100%;
    height: 500px;
    overflow: overlay;
}
.product-item .item-icon {
    position: relative;
    width: 111px;
    margin: 18px 10px;
    float: left;
    height: 150px;
}
.product-item .item-icon a {
    text-align: center;
    float: left;
    color: #0e0e0e;
}
.product-item .item-icon a:hover,
.fml-head .fml-menu-group li a:hover {
    text-decoration: none;
    color: #ef3842;
}
.product-item h4 {
    text-align: left;
    float: left;
    color: #0e0e0e;
    font-weight: normal;
    width: 100%;
    padding-left: 10px;
}
.product-item h4 span {
    color: #ef3842;
    font-weight: bold;
}
.hr-right {
    border-right: 1px solid #bdbdbd;
}
.product-item .item-icon img {
    width: 100%;
}
.fml-head .fml-menu-group ul {
    display: table !important;
}
.fml-head .fml-menu-group li {
    display: table-caption;
    font-size: 18px;
    padding: 5px 0;
}
.fml-head .fml-menu-group li a,
.fml-head .fml-menu-group .submenu-categories02 a {
    color: #0e0e0e;
}
.fml-head .fml-menu-group li .submenu-categories h6,
.fml-head .fml-menu-group .submenu-categories02 h6 {
    font-size: 18px;
    color: #0e0e0e;
    font-weight: bold;
}
.fml-head .fml-menu-group .submenu-categories .nav-pills .nav-link.active,
.fml-head .fml-menu-group .submenu-categories .nav-pills .show > .nav-link,
.fml-head .fml-menu-group .submenu-categories02 .nav-pills .nav-link.active,
.fml-head .fml-menu-group .submenu-categories02 .nav-pills .show > .nav-link {
    color: #ef3842;
    background: none;
}
.fml-head .fml-menu-group ul li ul {
}
.fml-head .fml-menu-group ul li ul li {
}
/* container-layout */
.fml-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1355px;
}
.navbar-nav .nav-link.fml-nav {
    /* background: #fff; */
    padding: 12px 0px;
    min-width: 49px;
    border-radius: 30px;
    text-align: center;
    color: #ef3842;
}
.fmllogo {
    width: 200px;
}
.subtitle {
    font-family: "galada", cursive;
}
.font25 {
    font-size: 25px;
}
.login-ico {
    text-align: right;
    line-height: 25px;
}
.form-control.my {
    border-radius: 4.25rem;
}
.btn-primary-my {
    color: #fff;
    width: 138px;
    height: 40px;
    border-radius: 4.25rem;
    text-align: center;
    background-image: linear-gradient(#ef3842, #fd5b64);
    position: relative;
    margin-left: 30%;
}
.btn-right-arrow {
    background: url(../images/login_page/arrow-right.svg) no-repeat;
    width: 45px;
    height: 30px;
    position: absolute;
    top: 6px;
    right: 5px;
}
.mybg {
    background: #fff url("../images/landing-bg.jpg") no-repeat;
}

.top-mg {
    margin-top: 10%;
    color: #263a8b;
}
.myfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.signin-bg {
    height: 400px;
    width: 400px;
    background: #ffffff url(../images/login_page/blueball-landing.png) no-repeat;
    background-size: cover;
    border-radius: 300px;
    padding-top: 45px;
    color: #fff;
}
/* header */
.fml-head.nav-height {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.fml-head ul {
    display: -webkit-inline-box;
    width: max-content;
    margin: 0;
    padding: 0;
}
.fml-head ul li {
    width: max-content;
    padding: 0 10px;
    list-style: none;
    position: relative;
}
.fml-cart-wish {
    font-size: 1rem;
    color: #fff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    background: #ef3842;
    text-align: center;
    line-height: 25px;
    top: 0;
    right: 8px;
}
.slick-slide img.fml-banner {
    width: 100%;
}

/* footer */
.fml-footer {
    margin-top: 100px;
    background-image: linear-gradient(#c8e8ff, #ecfcff);
    /* height: 100%; */
    padding-top: 36px;
}
.ft-left ul a,
.ft-right p {
    font-size: 13px;
    font-weight: normal;
    color: #263a8b;
}
.ft-left .fml-social .fml-social-box {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
}
.ft-left .fml-social a {
    line-height: 43px;
    color: #f00;
    font-size: 27px;
}
.ft-left ul {
    color: #263a8b;
    padding: 0;
    margin-top: 12px;
    line-height: 28px;
}
.ft-right ul {
    display: inline;
    color: #263a8b;
    padding: 0;
    margin-top: 10px;
    text-align: right;
}
.ft-right a {
    color: #263a8b;
    font-size: 13px;
}
.ft-left ul li {
    list-style: none;
    padding-right: 30px;
}
.fml-head ul li a i {
    color: #ef3842;
    font-size: 18px;
}
/* .fml-head ul li button {
    background: #fff;
    color: #ef3842;
    padding: 0.65rem 0.7em;
    height: 39px;
    width: 39px;
    font-size: 1.125rem;
    line-height: 1.125rem;
    border: none;
    border-radius: 5rem;
}
.fml-head ul li button:hover {
    color: #ef3842;
    padding: 0.65rem 0.7em;
    font-size: 1.125rem;
    line-height: 1.125rem;
    height: 39px;
    width: 39px;
    background: white;
    border: none;
}
.fml-head ul li button:focus {
    color: #ffffff;
    background-color: #f00;
    height: 39px;
    width: 39px;
} */
.footer-centerbg.mobile {
    height: auto;
    width: 100%;
    position: relative;
    /* top: -79px; */
    /* padding: 80px 0; */
    color: #fff;
    text-align: center;
    display: none;
}
.footer-centerbg.web {
    background: #fff0 url(../images/footer-bg.png) no-repeat 0% 0%;
    background-size: 100%;
    height: 157%;
    width: 100%;
    position: absolute;
    top: -79px;
    padding: 80px 0;
    color: #fff;
    text-align: center;
    display: block;
}
.footer-centerbg span {
    font-family: galada;
    font-weight: normal;
    font-size: 50px;
    line-height: 36px;
}
.footer-centerbg.web p {
    width: 68%;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    margin: auto;
    padding-top: 8px;
}
.footer-centerbg.mobile h2 {
    font-weight: 600;
    font-size: 21px;
    text-align: right;
    color: #263a8b;
}
.footer-centerbg.mobile p {
    width: 100%;
    font-size: 13px;
    line-height: 22px;
    text-align: right;
}
.footer-centerbg.mobile .i-social {
}
.footer-centerbg h2 {
    font-size: 24px;
}
.footer-centerbg span {
    font-size: 40px;
}
.ft-title h4,
.ft-right h2 {
    font-weight: 600;
    font-size: 21px;
}

.ft-title h5 {
    font-size: 12px;
    font-weight: normal;
}
.ft-link-btm {
    width: 100%;
    display: flex;
}
.ft-link-right {
    width: 50%;
}
.ft-link-left {
    width: 50%;
    padding-left: 40px;
}
.ft-pt {
    padding-top: 43px;
}
/* homepage */
.fml-homelist-icon h1,
.fml-special-pro h1,
.fml-special-bee h1,
.fml-quality h1,
.fml-multineed h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #263a8b;
}

.fml-homelist-icon span,
.fml-special-pro span,
.fml-special-bee span,
.fml-quality span,
.fml-multineed span {
    font-family: galada;
    font-weight: normal;
    font-size: 40px;
    line-height: 32px;
    color: #ef3842;
}
.fml-special-lead span {
    font-family: "Galada";
    font-weight: normal;
    font-size: 36px;
    line-height: 28px;
    color: #ffffff;
    padding-left: 4px;
}
.fml-special-lead h5 {
    font-size: 22px;
}
.fml-iconlist a {
    display: inline-block;
    margin: 5px 20px;
}
.fml-muiltiCtg ul {
    display: inline-flex;
    list-style: none;
}
.fml-muiltiCtg ul li {
    padding: 0 10px;
}

.fml-muiltiCtg .iconlist-box a {
    padding: 0 5px;
    /* float: right; */
}
.fml-muiltiCtg .iconlist-box a img {
    width: 119px;
    height: 104px;
}
.fml-muiltiCtg ul li img {
    width: 117px;
}
/* homepage special product */
.fml-special-pro {
    min-height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url(../images/formula/home03.png) no-repeat 99% 0%;
    background-size: 9%;
    display: block;
}
.special-box {
    height: auto;
    width: 100%;
    /* background: #ffe3c5; */
    background: linear-gradient(270deg, #fff5ea 0%, #ffe3c5 100%);
    border-radius: 50px;
    box-shadow: 6px 14px 19px -7px rgb(0 0 0 / 25%);
    margin-bottom: 30px;
}
/* product slider */
.center .slick-slide,
.center .slick-active,
.center .slick-cloned {
    opacity: 0.5;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    height: auto;
}
.center .slick-center {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
    height: auto;
}
.top-banner {
    z-index: 9;
    position: relative;
    /* height: 457px; */
    top: 0;
    width: 100%;
}
.bottom-content {
    z-index: 1;
    margin-top: 50px;
    position: relative;
    width: 99%;
}
.fml-quality p {
    line-height: 34px;
    font-size: 16px;
}
.quality-bg {
    background: url(../images/formula/frame9.png) no-repeat 103% 97%;
    background-size: 18%;
}
#searchModal .close {
    width: fit-content;
    position: absolute;
    left: 59px;
    top: 34px;
    z-index: 9;
}
#searchModal .close span {
    font-size: 37px;
    color: #fff;
    font-weight: 100;
    opacity: 1;
}
.form-group.search {
    padding: 20px;
    position: relative;
    width: fit-content;
    margin: auto;
}
.search .col-form-label {
    position: absolute;
    right: 8px;
    top: 8px;
}
.search input {
    width: 250px;
    margin: auto;
    border-radius: 30px;
    border: 2px solid #ef3842;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}
/* home page center slider */
.slick-prev.slick-arrow {
    left: 36%;
}
.slick-next.slick-arrow {
    right: 37%;
}
.special-pro .slick-prev,
.special-pro .slick-next {
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 19;
    height: 100%;
    width: 40px;
}
.special-pro .slick-prev:before,
.special-pro .slick-next:before {
    font-family: "slick";
    font-size: 40px;
    line-height: 1;
    color: #ef3842;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.product-home,
.card-home {
    margin: auto;
    padding-top: 4%;
    width: 100%;
}
.product-home {
    margin: auto;
    padding-top: 4%;
    width: 100%;
    background: url(../images/product-itembg.jpg) no-repeat 105% -182px;
    background-size: 500px;
}
.cart-home {
    margin: auto;
    padding-top: 5%;
    width: 100%;
    background: url(../images/product-itembg.jpg) no-repeat 105% -450%;
    background-size: 32%;
}

.subtitle-namelist {
    color: #ef3842;
    margin: 15px 0;
}
.subtitle-namelist ul {
    padding: 0;
}
.subtitle-namelist li {
    display: inline-block;
}
.subtitle-namelist li a {
    color: #ef3842;
}
.subtitle-namelist li a:hover {
    color: #263a8b;
}
.product-itemimg {
    width: 100%;
}
.bot .slick-slide img {
    /* display: block; */
    width: 90%;
    padding: 5px 3px;
    margin: auto;
    display: table-cell;
}
.slick-slide {
    float: left;
    /* height: 100%; */
    /* min-height: 1px; */
    display: none;
}
.bot .slick-slide.slick-current.slick-active.slick-center {
    opacity: 1;
    border: none;
    background: #fee3c5;
    float: left;
    height: 90px;
    /* min-height: 84px; */
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}
.tp .slick-slide img.product-itemimg {
    width: 85%;
    margin: auto;
    padding: 0% 0;
    display: table-cell;
}
.tp .slick-slide.slick-active,
.tp .slick-slide.slick-cloned,
.tp .slick-slide {
    opacity: 1;
    border: none;
    height: 74%;
    min-height: 74%;
    float: left;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    cursor: zoom-in;
}
.bot .slick-current {
    opacity: 1;
    border: none;
    background: #fee3c5;
}
.bot .slick-slide.slick-active,
.bot .slick-slide.slick-cloned,
.bot .slick-slide {
    opacity: 0.3;
    border: 1px solid #00000045;
    float: left;
    height: 90px;
    overflow: hidden;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}
.slick-dotted.bot.slick-slider {
    margin-bottom: 0px;
    /* margin-top: 34px; */
    width: 90%;
    margin: auto;
    padding: 10px 0;
    height: 110px;
    overflow: hidden;
}
.top-banner .slick-slide img {
    display: block;
    width: 100%;
}
.top-banner .slick-slide.slick-active,
.top-banner .slick-slide.slick-cloned,
.top-banner .slick-slide {
    opacity: 1;
    border: none;
    height: 100%;
}

.bot .slick-prev:before,
.bot .slick-next:before {
    font-family: "slick";
    font-size: 30px;
    line-height: 1;
    color: #f70000;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.product-item-bg {
    background: url(../images/product-itembg.jpg) no-repeat 60% 26%;
    background-size: 60%;
}
.productitem-info {
    padding-top: 0;
    overflow: hidden;
}
.productitem-info h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.productitem-info p {
    /* display: table-cell; */
    /* vertical-align: middle; */
}
.productitem-info .item-pricelist {
    display: inline-flex;
    margin-top: 10px;
}
.offer-price {
    color: #ef3842;
}
.member-price {
    color: #263a8b;
}
.non-member-price {
    color: rgb(102, 102, 102);
}
.offer-price,
.member-price,
.non-member-price {
    position: relative;
    padding-top: 21px;
    margin-right: 63px;
}
.offer-price p,
.member-price p,
.non-member-price p {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 0;
    margin: 0;
    line-height: 24px;
}
.offer-price span,
.member-price span,
.non-member-price span {
    font-size: 15px;
    padding-right: 6px;
}
.offer-price p + p,
.member-price p + p,
.non-member-price p + p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}
.offer-price p + p,
.offer-price p,
.member-price p + p,
.member-price p,
.non-member-price p + p,
.non-member-price p {
    margin-left: 20px;
}
.variation-title h4 {
    font-size: 16px;
    text-align: left;
}
.offer-price img,
.member-price img {
    width: 30px;
    position: absolute;
    top: 0;
}
.item-variation {
    margin-top: 30px;
}
.variation-box {
    /* vertical-align: middle; */
    display: table;
}
.item-variation img {
    width: 60px;
}
.item-variation ul {
    padding: 0;
    margin-left: 20px;
}
.item-variation li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: auto;
}
.variation-box p {
    display: table-cell;
    vertical-align: middle;
    color: #202020;
    line-height: 15px;
    font-size: 12px;
}
/* size margin */
.my-mb-1 {
    margin-bottom: 1em;
}
.my-mb-2 {
    margin-bottom: 2em;
}
.my-mb-3 {
    margin-bottom: 2em;
}
.my-mb-4 {
    margin-bottom: 4em;
}
.my-mb-5 {
    margin-bottom: 5em;
}
.my-mb-6 {
    margin-bottom: 6em;
}
.my-mb-7 {
    margin-bottom: 7em;
}
.my-mb-8 {
    margin-bottom: 8em;
}
.my-mt-1 {
    margin-top: 1em;
}
.my-mt-1 {
    margin-top: 2em;
}
.my-mt-3 {
    margin-top: 3em;
}
.my-mt-5 {
    margin-top: 5em;
}
.my-pt-1 {
    padding-top: 1em;
}
.my-pt-2 {
    padding-top: 2em;
}
.my-pt-3 {
    padding-top: 2em;
}
.my-pt-4 {
    padding-top: 4em;
}
.my-pt-5 {
    padding-top: 5em;
}
.my-pt-6 {
    padding-top: 6em;
}
.my-pt-7 {
    padding-top: 7em;
}
.my-pb-1 {
    padding-bottom: 1em;
}
.my-pb-3 {
    padding-bottom: 3em;
}
.my-pb-5 {
    padding-bottom: 4em;
}
.my-mr-1 {
    margin-right: 1em;
}
.my-mr-2 {
    margin-right: 2em;
}
.my-mr-3 {
    margin-right: 3em;
}
.my-ml-1 {
    margin-left: 1em;
}
.my-ml-2 {
    margin-left: 2em;
}
.my-ml-1 {
    margin-left: 3em;
}
.reponsive-img {
    width: 100%;
}
.full-hrline-grey {
    border-top: 2px solid #e4e4e4;
}
.full-hrline-grey .nav-pills .nav-link.active,
.full-hrline-grey .nav-pills .show > .nav-link {
    color: #fff;
    width: 100%;
    background: none;
}
.full-hrline-grey .nav-pills .nav-link {
    color: #fff;
    width: 100%;
    background: none;
    padding: 0.5rem;
    font-size: 13px;
    line-height: 14px;
}
.full-hrline-grey ul.nav-pills {
    margin: auto;
    width: 100%;
}
.full-hrline-grey .nav-pills li.nav-item {
    position: relative;
    text-align: center;
    width: 110px;
    height: 118px;
    display: block;
    padding: 0.5rem 0.5rem;
    background: radial-gradient(141.22% 141.22% at 19.63% -3.04%, #93bcff 4.69%, #1b2b73 56.12%);
    box-shadow: 0px 7px 8px -1px rgba(55, 86, 227, 0.3), inset 0px 4px 4px rgba(217, 244, 255, 0.25);
    border-radius: 0px 0px 71.5px 71.5px;
    opacity: 0.3;
    margin: 0 6%;
}
.full-hrline-grey .nav-pills li.nav-item.active {
    opacity: 1;
}
.full-hrline-grey .nav-pills img {
    width: 100%;
}
.iconlist-box {
    width: 1920px;
    height: 197px;
    overflow-x: overlay;
}
.pro-bg {
    background: rgb(255 237 217);
    background: linear-gradient(181deg, #fff5ea 0%, #ffe3c5 100%);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    margin-right: 50px;
    padding: 33px 24px;
}
.categeries-box {
    width: 95%;
    float: left;
    position: relative;
    height: 519px;
    /* height: auto; */
}
/* .card-box-right .item-buy-section {
    width: 100%;
    background: #fdfdfd;
    border-radius: 9px;
    border: 1px solid #efefef;
    box-shadow: 2px 3px 3px #0000000d;
    display: inline-flex;
    padding: 15px 15px;
    margin-top: 0;
    position: relative;
    height: 78px;
} */
.item-buy-section {
    width: 100%;
    background: #f7f7f7;
    border-radius: 9px;
    border: 1px solid #dbdbdb;
    /* box-shadow: 2px 3px 3px #0000000d; */
    display: inline-flex;
    padding: 15px 15px;
    margin-top: 18px;
    position: relative;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
}
.item-buy-section span.noteRbs-add,
.item-buy-section span.noteRbs-add-mobile {
    padding-top: 10px;
    color: #f00;
    margin-left: 13px;
    display: none;
}
.item-buy-section span.noteRbs-add-cart {
    padding-top: 10px;
    margin-left: 13px;
    display: none;
}
.card-box-right .item-quality {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.item-quality {
    width: 41%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.remind-bell {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.clickme-info img {
    width: 47px;
    margin-top: 0px;
}
.item-buy {
    width: 35%;
    display: table;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.item-buy a {
    display: table-cell;
    /* vertical-align: middle; */
    margin-left: 0px;
    line-height: 25px;
}
.link-product.buy_now {
    display: none;
}
.buy-btn,
.in-warning.buy-btn.link-product {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    width: 137px;
    padding: 8px 10px;
    color: #fff !important;
    text-align: center;
    font-weight: normal;
    display: table-cell;
}
.buy-btn:hover,
.in-warning.buy-btn.link-product:hover,
.ag-copy-btn.blue-btn:hover {
    background: linear-gradient(91.06deg, #2981ff 0.53%, #002e98 99.14%);
}
.in-warning.buy-btn.link-product {
    display: block;
    color: #fff !important;
    cursor: pointer;
}
.log-exp-btn {
    background: #3d5fb5;
    background: -moz-linear-gradient(top, #70abff 0%, #3d5fb5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70abff), color-stop(100%, #3d5fb5));
    background: -webkit-linear-gradient(top, #70abff 0%, #3d5fb5 100%);
    background: -o-linear-gradient(top, #70abff 0%, #3d5fb5 100%);
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    width: auto;
    display: table-cell;
    padding: 5px 15px;
    margin: auto;
}
.log-exp-btn .le-btn {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
}
.blue-btn[class*="btn"],
.red-btn[class*="btn"] {
    box-shadow: 0px 4px 4px #ef384238;
    border-radius: 40px;
    padding: 6px 20px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    display: table-cell;
    width: fit-content;
    height: auto;
    font-size: 12px;
}
.blue-btn[class*="btn"] {
    background: #3d5fb5;
    background: -moz-linear-gradient(top, #70abff 0%, #3d5fb5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70abff), color-stop(100%, #3d5fb5));
    background: -webkit-linear-gradient(top, #70abff 0%, #3d5fb5 100%);
    background: -o-linear-gradient(top, #70abff 0%, #3d5fb5 100%);
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
}
.red-btn[class*="btn"] {
    background: linear-gradient(89.82deg, #ff757c 0.13%, #ef3842 99.82%);
}
.item-buy-section .item-quality h6 {
    width: fit-content;
    display: table-cell;
    margin-right: 10px;
}
.item-quality h6 {
    width: fit-content;
    display: table-cell;
    margin: 0;
}
.fml.tab-content {
    margin-top: -1px;
    background: #fff;
    border: none;
}
/* HIDE RADIO */
.item-variation label {
    /* vertical-align: middle; */
    margin-right: 0.5rem;
}
.variation-box [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
    cursor: pointer;
    opacity: 0.3;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
    opacity: 1;
}

/* cart page function */
.item-buy-section-quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 70px;
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #252525;
}
.item-buy .icon-checkout-2 {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    /* line-height: 18px; */
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    color: #fff;
    text-align: center;
    padding: 0;
}
.item-buy .icon-checkout-2 i {
    line-height: 40px;
    font-size: 19px;
}
.item-buy-section-quantity {
    width: 111px;
    border: 1px solid #cecece;
    padding: 6px 3px;
    border-radius: 10px;
    font-size: 12px;
    color: #252525;
    background-color: #fff;
}

/* button[class*="btn"] {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    border: none;
    cursor: pointer;
} */
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}
.info-detials p,
.info-detials {
    width: 100%;
}
.info-hrline-red {
    width: 24.51px;
    height: 4px;
    background: linear-gradient(90deg, #ff8279 0%, #ef3842 55.73%);
    border-radius: 30px;
    transform: rotate(-0.31deg);
    margin: auto;
}
.multineed-header .info-hrline-red {
    width: 43.51px;
    height: 6px;
    background: linear-gradient(90deg, #ff8279 0%, #ef3842 55.73%);
    border-radius: 30px;
    transform: rotate(-0.31deg);
    margin: 0;
}
.multineed-header span {
    font-family: galada;
    font-weight: normal;
    font-size: 40px;
    line-height: 32px;
    margin-left: 8px;
    color: #ef3842;
    position: absolute;
}
.product-inner-info {
    padding: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.product-inner-info li + li {
    padding-left: 10px;
}
.product-inner-info.ussage {
    display: block;
    text-align: left;
}
.info-detials h3 {
    width: fit-content;
}
.info-detials p,
.info-detials ul,
.info-detials ul li,
.info-detials li,
.info-detials span,
.productitem-info .p-detail p,
.info-detials td {
    color: #202020;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
}
.productitem-info .p-detail p {
    color: #202020;
    margin: 0;
    font-size: 15px;
}
.info-detials h1,
.info-detials h2,
.info-detials h3,
.info-detials h4,
.info-detials h5,
.info-detials h6,
.info-detials .tit {
    color: #263a8b;
}
.info-detials .tit {
    font-size: 24px;
}
.info-detials ul {
    width: 100%;
}
.info-detials .product-inner-info.ussage li {
    display: block;
}
.info-detials .product-inner-info.ussage .categories-ussage h5 {
    color: #263a8b;
    margin: 0;
    padding-top: 7px;
}
.info-detials .product-inner-info.ussage .categories-ussage img {
    width: 93px;
}
.info-detials .product-inner-info.ussage .categories-ussage {
    display: inline-flex;
    padding: 12px 0;
}
.info-detials .categories-ussage .ussage-group {
    width: fit-content;
    float: left;
}
.info-detials .product-inner-info img {
    width: 59px;
}

.info-detials .product-inner-info .categories-smartlist img {
    width: 93px;
}
.info-detials .product-inner-info.right-columns {
    width: 100%;
    padding: 15px 0;
}
.info-detials .product-inner-info.right-columns img {
    height: 76px;
    width: auto;
    padding: 10px 10px;
}
.info-detials .product-inner-info span,
.info-detials h3 {
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 36px;
}
.info-detials .categories-smartlist {
    display: table;
    margin-right: 40px;
}
.info-detials .categories-smartlist .img-icon {
    display: table-cell;
}
.info-detials .categories-smartlist p {
    display: table-cell;
}
.info-detials .categories-ussage .ussage-group i {
    margin-right: 10px;
    color: #ef3842;
}
.info-detials-img {
    width: 50%;
}
.ingredients-img {
    width: 100%;
    display: none;
}
.info-detials.video span {
    font-family: galada;
    font-weight: normal;
    font-size: 53px;
    line-height: 36px;
    color: #ef3842;
}
.info-detials.video .info-hrline-red {
    width: 43.51px;
    height: 6px;
    background: linear-gradient(90deg, #ff8279 0%, #ef3842 55.73%);
    border-radius: 30px;
    transform: rotate(-0.31deg);
    margin: 0;
}
.info-detials.video p {
    padding: 40px 0;
}
.info-detials.use ul {
    padding: 0;
}
.info-detials.use li {
    list-style-position: outside;
    margin-left: 1.5em;
}
.info-detials {
    position: relative;
    width: 100%;
    overflow: auto;
    text-align: left;
    padding-right: 2em;
}
.play-vedio-btn img,
.play-vedio-btn02 img {
    width: 100%;
    display: block;
}
#top-video,
#top-video02 {
    margin-top: 50px;
    display: none;
}
.user-cm-list {
}
.user-cm-list ul {
    padding: 0;
}
.user-cm-list li {
    display: inline-block;

    padding: 25px 0;

    border-bottom: 2px solid #e5e5e5;
}
.user-cm-list .user-cm {
    display: inline-flex;

    width: 100%;
}
.user-cm-list .user-cm img {
    width: 100%;
}
.user-cm-list .user-cm .cm-list {
    width: 80%;
}
.user-cm-list .user-cm .user-avatar {
    width: 16%;

    margin: 0 2%;
}
.user-cm-list .user-cm .cm-list ul {
    /* height: 27px; */
}
.user-cm-list .user-cm .cm-list li {
    padding: 0;

    border-bottom: none;
}
.user-cm-list .user-cm .cm-list li img {
}
.user-cm-list .user-cm .cm-list h6 {
    font-size: 16px;

    width: fit-content;

    float: left;

    margin: 0;

    line-height: 29px;

    padding-right: 20px;
}
.user-cm-list .user-cm .cm-list span {
    width: 100%;

    float: left;

    padding: 6px 0;

    color: #202020;

    font-size: 16px;

    font-weight: 600;
}
.user-cm-list .user-cm .cm-list p {
    float: left;

    width: 100%;

    color: #202020;
}
.user-cm-list .user-cm .cm-list img {
}
.user-hr {
    border-top: 2px solid #e6e6e6;
}
.user-bg {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 30px 60px;
}
.star-rate img {
    width: 45%;
}
.rate-line .rate01 {
    width: 5%;
}
.rate-line .rate02 {
    width: 5%;
}
.rate-line .rate03 {
    width: 60%;
}
.rate-line .rate04 {
    width: 20%;
}
.rate-line .rate01,
.rate-line .rate02,
.rate-line .rate03,
.rate-line .rate04 {
    padding: 0;
}
.line-clr {
    width: 98%;
    height: 8px;
    background: #e4e4e4;
    border-radius: 30px;
    margin: 0 1%;
}
.line-clr.active {
    width: 98%;
    height: 8px;
    background: #ef3842;
    border-radius: 30px;
    margin: 0 1%;
}
.rate-line .table td {
    vertical-align: middle;
}
.rate02 img {
    width: 15px;
}
.info-detials table {
    text-align: left;
    line-height: 19px;
}
.side-stickinfo {
    position: absolute;
    width: 102px;
    height: 408px;
    left: 138px;
    top: 157px;
    background: linear-gradient(180deg, #ffe6ca 0%, #fff4e8 100%);
    border-radius: 15px;
    z-index: 9;
}
.side-stickinfo ul {
    padding: 0;
}
.side-stickinfo li {
    list-style: none;
    position: relative;
    display: flex;
}
.side-stickinfo .side-info {
    width: 60px;
    height: 76px;
    /* border-radius: 100px; */
    /* background: #ffffff; */
    /* border: 2px solid #263a8b; */
    margin: 12px 20px;
    position: relative;
    box-sizing: border-box;
}
.label-p-1 {
    background-image: url(../images/icons/sold-icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.label-p-2 {
    background-image: url(../images/icons/likes-icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.side-stickinfo .side-info p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    position: absolute;
    width: 100%;
    top: 12px;
    font-weight: 500;
    color: #fff;
}
.side-stickinfo .side-info.like p {
    position: relative;
    color: #fff;
    width: 100%;
    top: 0px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    font-size: 12px;
}
.side-stickinfo .side-info.like .like-bg {
    margin: 0;
    text-align: center;
    position: absolute;
    width: 130%;
    top: 56px;
    font-weight: 500;
    background: #263a8b;
    border-radius: 10px;
    border: 2px solid #263a8b;
    left: -14%;
}
.side-stickinfo .side-info.like .like-bg .like-bg01 {
    /* margin: 0; */
    /* text-align: center; */
    /* position: absolute; */
    width: 100%;
    /* top: 56px; */
    /* font-weight: 500; */
    background: #263a8b;
    border-radius: 7px;
    border: 2px solid #ffffff;
    left: -3%;
}
.side-stickinfo .side-info span {
    text-align: center;
    font-size: 12px;
    position: absolute;
    width: 100%;
    top: 35px;
    color: #fff;
}
.sc-newStyle {
    /* display: flex; */
}
.toothtip-my.active::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 13%;
    z-index: -1;
    border-top: 0px solid transparent;
    border-left: 23px solid #ef3842;
    border-bottom: 12px solid transparent;
    /* transform: translate(-28%,-38%) rotate(47deg); */
    /* background-color: #ef3842; */
    /* box-shadow:0 1px 8px rgba(0,0,0,0.5); */
}
.toothtip-my.active {
    position: absolute;
    z-index: 9;
    right: -45%;
    top: 6px;
    width: auto;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    padding: 6px 10px;
    opacity: 1;
    background: #ef3842;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
}
/* .toothtip-my.active p{
    z-index:9;
    background:#f00;
} */
.toothtip-my {
    opacity: 0;
}
.toothtip-my.active p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.sc-newStyle .add-newstyle,
.delivery-newStyle .add-newstyle,
.stock-newStyle .add-newstyle {
    text-align: center;
    position: absolute;
    width: 76%;
    top: 64px;
    font-weight: 500;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #263a8b;
    margin-left: 12%;
}
.sc-newStyle .add-newstyle .inner-ly,
.delivery-newStyle .add-newstyle .inner-ly,
.stock-newStyle .add-newstyle .inner-ly {
    width: 100%;
    top: 64px;
    font-weight: 500;
    background: #263a8b;
    border-radius: 8px;
    border: 2px solid #ffffff;
}
.add-newstyle span {
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
}
.side-stickinfo .side-info img {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
}
.fml-multineed .owl-theme .item img {
    width: 90%;
    margin: auto;
}
.fml-multineed .owl-theme .item a {
    text-align: center;
    font-size: 12px;
}
.fml-multineed .owl-nav {
    width: 100%;
    position: absolute;
    top: 33%;
}
.fml-multineed .owl-theme .owl-nav span {
    line-height: 30px;
    font-size: 44px;
    color: #ffffff;
    font-family: "roboto", sans-serif !important;
}
.fml-multineed .owl-carousel .owl-nav button.owl-next,
.fml-multineed .owl-carousel .owl-nav button.owl-prev {
    width: 35px;
    height: 35px;
    background: #ef3842;
    border-radius: 100%;
    position: absolute;
}
.fml-multineed .owl-carousel .owl-nav button.owl-next {
    right: 35px;
}
.fml-multineed .owl-carousel .owl-nav button.owl-prev {
    left: 10px;
}
.fml-multineed .nav-pills li.nav-item.active {
    opacity: 1;
}
.fml-multineed .nav-pills li.nav-item {
    position: relative;
    text-align: center;
    width: 90%;
    /* height: 110px; */
    display: block;
    opacity: 0.3;
    margin: 0 0.5%;
}
.fml-multineed .nav-pills img {
    width: 126px;
}
.fml-multineed .nav-pills .nav-link {
    color: #263a8b;
    width: 100%;
    background: none;
    padding: 0;
    font-size: 13px;
    line-height: 25px;
}
.fml-multineed .nav-pills .nav-link.active,
.fml-multineed .nav-pills .show > .nav-link {
    color: #263a8b;
    background: none;
}
.fml-multineed .downarrow {
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 0px;
}
.fml-multineed .downarrow img {
    width: 89px;
    margin: auto;
    height: 28px;
}
.fml-multineed .nav.nav-pills {
    width: 149%;
    /* overflow-x: scroll; */
    /* display: inline-flex; */
    height: 169px;
}
.fml-multineed .sublist {
    z-index: 19;
    margin-bottom: -3px;
    /* height: 161px; */
    width: 100%;
    overflow-y: hidden;
    position: relative;
}
.fml-multineed .nav-pills li.nav-item.active .downarrow {
    opacity: 1;
}
.fml-multineed .downarrow {
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    z-index: 19;
}

/* test scrollbar */
.nav {
    transition: all 0.4s;
    left: 0;
}
.hr-row {
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 9;
}
.hr-margin {
    margin-top: 197px;
    margin-bottom: 30px;
}
.hr-line-cart,
.hr-line-ccpay {
    border-top: 1px solid #0003;
}
.mult-info {
    display: table;
}
.mult-info img {
    width: 70%;

    margin: 0 15%;
}
.mult-info p {
    text-align: center;
}
.mult-info-6 {
    width: 50%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0px;
}
.fml-multineed .multi-subinfo.nav.nav-tabs {
    width: fit-content;
    margin: auto;
    border: none;
}
.fml-multineed .multi-subinfo.nav.nav-tabs img {
    padding: 0px 10px;
}
.fml-multineed .multi-subinfo.nav.nav-tabs p {
    margin: 0;
}
.fml-multineed .multi-subinfo .downarrow {
    position: relative;
    bottom: 0px;
    opacity: 0;
    z-index: 19;
}
.multi-inner .tab-content {
    background: none;
    border: none;
    border-top: 1px solid #dee2e6;
    /* margin-top: 143px; */
}
.multi-inner nav {
    position: relative;
    /* position: absolute; */
    width: 100%;
}
.multi-inner .info-hrline-red {
    width: 43.51px;
    height: 6px;
    background: linear-gradient(90deg, #ff8279 0%, #ef3842 55.73%);
    border-radius: 30px;
    transform: rotate(-0.31deg);
    margin: auto;
}
/* payment method */
.payment-box form li,
.payment-box form li:hover,
.payment-box form li:focus {
    border: none;
}
.payment-box .nav-tabs .nav-link.active,
.payment-box .tab-content {
    color: #343a40;
    background: none;
    border: none;
}
a#payOne-tab.active {
    background: none;
}
.payment-box form li a {
    color: #6c757d;
    padding: 0px 2px;
}
.payment-box .nav-tabs .nav-link:hover,
.payment-box .nav-tabs .nav-link:focus,
.payment-box .nav-tabs {
    border: none;
}
.payment-box .tab-content {
}
.multi-inner .nav-tabs .nav-link,
.multi-inner .nav-tabs .nav-link.active,
.multi-inner .nav-tabs .nav-link:hover,
.multi-inner .nav-tabs .nav-link:focus,
.multi-inner .nav-tabs .nav-link.active:focus {
    background: none;
    border-color: #dee2e600;
    border-bottom-color: #fff0;
    padding: 0;
    margin: 0;
}
.fml-multineed .multi-inner h1 {
    line-height: 70px;
    letter-spacing: 0.01em;
    font-size: 30px;
}
.fml-multineed .multi-subinfo.nav.nav-tabs {
    width: fit-content;
    margin: auto;
    border: none;
}
.fml-multineed .outer.tab-content {
    margin-top: 0;
    background: none;
    border: none;
}
.fml-multineed .inner.tab-content {
    /* margin-top: 0; */
    background: none;
    border-top: 1px solid #dee2e6;
}
.fml-multineed .btn-link {
    color: #ef3842;
    font-size: 30px;
}
.fml-multineed .btn-link:hover {
    color: #aaaaaa1c;
    text-decoration: underline;
}
.inner.tab-content.height-limit-scroll {
    /* height: 800px; */
    overflow: auto;
}
.product-item-list {
    padding: 10px 28px;
    /* background: rgb(255, 255, 255); */
    margin: 20px 0;
    text-align: center;
}
.product-item-list img {
    width: 100%;
    margin: auto;
    /* padding: 0 25px; */
}
.product-item-list p {
    color: #ef3842;
    font-weight: 600;
}
.product-item-list h5 {
    font-size: 15px;
    color: #263a8b;
    line-height: 16px;
    margin-top: 10px;
}
.product-item-list a:hover {
    text-decoration: none;
}
.product-item-list:hover {
    background: url(../images/formula/item_bg.svg) no-repeat center top;
}
.col-md-3.item414 {
    width: 50%;
}
.multi-subinfo .nav-link.active .downarrow {
    opacity: 1;
}
.payment-box {
    width: 100%;
    padding: 0px 20px;
}
.pay-itembox,
.pay-itembox2 {
    background: #ffffff;
    border-right: 1px solid #d4d4d4;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 5px 5px;
    height: 120px;
    width: 140px;
    position: relative;
    margin-right: 3em;
}
.card-itembox,
.card-itembox2 {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    padding: 8px 5px;
    width: 200px;
    position: relative;
    margin-right: 3em;
    border-radius: 14px;
    border: 1px solid #80808054;
}
.fpx-itembox,
.fpx-itembox2 {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    padding: 10px 30px;
    width: 200px;
    position: relative;
    margin-right: 3em;
    border-radius: 14px;
    border: 1px solid #80808054;
    height: 60px;
}
.pay.checkout-tick,
.pay.checkout-tick-g {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    padding: 0;
}
.pay.checkout-tick input[type="radio"],
.pay.checkout-tick-g input[type="radio"] {
    display: none;
}
.pay.checkout-tick label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: block;
    padding: 0px 0px 0 0px;
}
.pay.checkout-tick-g label {
    background: #fff;
    border: 1px solid #d6d6d6;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: block;
    padding: 0 0 0 0px;
}
.pay.checkout-tick input[type="radio"]:checked + label {
    background-color: #ef3842;
}
.pay-itembox img {
    margin-top: 10px;
    width: 55%;
}
.payment-box .nav-tabs .nav-link:hover,
.payment-box .nav-tabs .nav-link:focus,
.nav-link:focus-visible,
.payment-box .nav-tabs {
    border: none;
    width: 100%;
}
.pay-itembox2 img {
    margin-top: 10px;
    width: 39%;
}
.pay-itembox h5,
.pay-itembox2 h5 {
    font-size: 12px;
    margin-top: 5px;
    color: #000;
}
.card-itembox h5,
.card-itembox2 h5 {
    font-size: 12px;
    margin-top: 5px;
    color: #000;
}
.fpx-itembox h5,
.fpx-itembox2 h5 {
    font-size: 12px;
    margin-top: 5px;
    color: #000;
}
.payment-box .error {
    color: red;
}
.payment-box label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #263a8b;
    text-align: left;
    width: 100%;
}
.payment-box .form-control {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 30px;
    display: block;
    width: 100%;
    height: calc(1.8em + 0.75rem + 2px);
    padding: 3px 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.payment-box label span {
    color: #ef3842;
    padding: 0 5px;
}
.checkbox-style input[type="radio"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: block;
    padding: 0;
    margin: 0;
}
.checkbox-style input[type="checkbox"],
.checkbox-style input[type="radio"] {
    display: none;
}
.checkbox-style input[type="radio"]:checked + label {
    background: #ef3842;
}
.checkbox-style input[type="checkbox"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: block;
    padding: 0;
    margin: 0;
}
.checkbox-style input[type="checkbox"]:checked + label {
    background: #ef3842;
}
.form-submit-list {
    display: inline-flex !important;
    float: left;
    padding: 0;
}
.checkbox-style span {
    padding: 0 12px;
    text-align: left;
    color: #202020;
    font-size: 14px;
}
.checkbox-style span a {
    color: #000;
    font-weight: 600;
}
.checkbox-style span a:hover {
    text-decoration: none;
    color: #263a8b;
}
.padding-zero {
    padding: 0 !important;
}
.margin-zero {
    margin: 0 !important;
}
.red-ball-bg {
    background: url(../images/formula/cart-bg5.png) no-repeat 100% 38%;
}
.yellow-ball-bg {
    background: url(../images/formula/cart-bg4.png) no-repeat bottom;
    background-position: 77% 106%;
}
.blue-box-bg {
    background: url(../images/formula/cart-bg6.png) no-repeat 96% 39%;
}
.payment-box .red-ball-bg {
    background-position: 95% 60%;
}
.pay.yellow-ball-bg {
    background-position: 81% 107%;
}
.pay .blue-box-bg {
    background-position: 91% 43%;
}
.order-box.red-ball-bg {
    background-position: 95% 60%;
}
.light-bg {
    background: #ffead4;
}
.pay.order-box {
    border-bottom: none;
    margin-bottom: 0;
}
.pay-itemlist ul {
    margin: 0;
    padding: 0;
}
.pay-itemlist li {
    list-style: none;
    text-align: left;
    /* padding: 2px 0; */
}
.pay-itemlist p {
    line-height: 17px;
    margin: 0;
    color: #263a8b;
    width: fit-content;
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
}
.pay-itemlist .price-qlt p + p {
    color: #ef3842;
    float: right;
    margin-right: 10px;
}
.pay-itemlist .price-qlt p {
    float: left;
    font-weight: normal;
}
.pay-itemlist {
    width: 100%;
}
.pay-itemlist .hr-line-cart {
    width: 90%;
    margin: 15px 5%;
}
.pay-pd-scroll {
    height: 322px;
    overflow-y: scroll;
}
.payment-mt {
    margin-top: 1.5em;
}
a#payOne-tab.active,
a#payOne-tab.hover,
a#payOne-tab.visited,
a#payOne-tab.focus-visible {
    background: none;
    border: none;
}

/* cart page */
.delivery-choice .tab-content .tab-pane {
    padding: 0rem;
}
.delivery-choice .tab-content {
    margin: 0;
    background: none;
    border: none;
}
.delivery-choice .nav-link {
    color: #263a8b;
    padding: 0.5rem 1rem;
}
.delivery-choice .nav-pills .nav-link.active,
.delivery-choice .nav-pills .show > .nav-link {
    color: #263a8b;
    background: none;
}
.delivery-choice ul li {
    width: 50%;
}
.delivery-choice .nav-link.active .red-dot {
    background: #ef3842;
}
.red-dot {
    position: absolute;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    background: #fff;
}
.delivery-choice .checkout-tick {
    position: relative;
    width: 100%;
    padding: 0;
    top: 0;
}
.delivery-choice {
    width: auto;
}
.checkout-ml-3 {
    margin-left: 3.8em;
}
.delivery-choice .find-store {
    display: inline-block;
    padding: 0 15px;
    width: 100%;
}
.checkout-btn:hover {
    text-decoration: none;
    color: #ffffff;
}
.delivery-choice .find-store p {
    margin: 0;
    padding-left: 7px;
}
/* menu open and close icon */

/* .close-icon{
    background: rgb(208 208 208);
    left: 90px;
} */

.open-icon {
    position: absolute;
    top: 0;
    left: 89px;
    height: 30px;
    width: 30px;
    z-index: 5;
    border-radius: 30px;
    display: block;
    background: rgb(38 58 139);
    transform: rotateY(1deg);
    display: none;
    transition: transform 330ms ease-in-out;
}
.open-icon i {
    color: #fff;
    font-size: 23px;
    line-height: 30px;
}
.side-stickinfo.active,
.side-stickinfo,
.open-icon,
.cover-bg,
.ft-menu-mb,
.user-edit,
.rbs-col .accordion-item span {
    transition-duration: 0.5s;
}
.ft-cart-content .item-buy .buy-btn {
    display: block;
    /* margin: auto; */
    color: #fff;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
}
/* footer menu */
.ft-cart-content {
    display: block;
    max-width: 100%;
    position: relative;
}
.close-cart {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 300;
    font-size: 26px;
    opacity: 0.8;
}
.footer-menu {
    background: #fff;
    position: sticky;
    padding: 0;
    margin: 0;
    width: 100%;
    bottom: -60px;
    z-index: 300;
    display: none;
}
.footer-menu .ft-cart-nav {
    margin: 0;
    background: #fff;
    border: none;
    list-style: none;
    display: inline-flex;
    width: 100%;
    padding: 0;
    text-align: center;
}
.footer-menu .ft-cart-nav li {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footer-menu .item01 button {
    color: #263a8b;
    font-size: 25px;
    /* margin-top: 13px; */
}
.footer-menu .item02 button,
.footer-menu .item03 a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
}
.footer-menu .ft-cart-nav a,
.footer-menu .ft-cart-nav button {
    padding: 0;
    /* line-height: 50px; */
}
.nav-item:focus {
    background: rgb(167, 167, 167);
}
.ft-cart-nav .item02 button {
    background: none;
    border: none;
    width: 100%;
    height: auto;
}
.ft-cart-nav .item02 {
    background: linear-gradient(89.62deg, #fd959b 0%, #ef3842 96.99%);
}
.ft-cart-nav .item03 {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
}

.buy-btn.one,
.buy-btn.one.warning,
.ft-cart-nav .item03.display,
.ft-cart-nav .item02.display,
.ft-cart-nav .item03.warning.display,
.ft-cart-nav .item02.warning.display {
    background: #909090;
    box-shadow: 0px 4px 4px rgb(103 103 103 / 20%);
    background: -moz-linear-gradient(89.62deg, #b5b5b5 0%, #848484 96.99%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #b5b5b5),
        color-stop(50%, #d0d0d0),
        color-stop(51%, #a5a5a5),
        color-stop(100%, #828282)
    );
    background: -webkit-linear-gradient(89.62deg, #b5b5b5 0%, #848484 96.99%);
    background: -o-linear-gradient(right, #dadada 0%, #b9b9b9 50%, #b3b3b3 51%, #757575 100%);
    background: linear-gradient(89.62deg, #b5b5b5 0%, #848484 96.99%);
    text-decoration: none;
}
#fml ul li a[aria-expanded="true"] {
    background: #ef3842;
    border-radius: 50px;
    width: 39px;
    height: 39px;
    padding: 0;
    text-align: center;
}
#fml ul li a[aria-expanded="true"] i {
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 39px;
}
#fml ul li a[aria-expanded="false"] {
    background: #ffffff;
    border-radius: 50px;
    width: 39px;
    height: 39px;
    padding: 0;
    text-align: center;
    line-height: 39px;
}
.ft-menu-mb,
.user-edit,
.user-info.top-bar-tab {
    display: none;
}
.mobile-user-box {
    /* position: absolute; */
    display: inline-grid;
    background: none;
    right: 0;
    padding: 0px;
    width: 100%;
    top: 0;
    border-bottom: none;
    box-shadow: none;
}
.mobile-user-box a {
    display: inline;
    padding: 10px 0px;
    font-size: 16px;
    color: #263a8b;
}
.mobile-user-box i {
    display: inline;
    padding: 0 10px;
    font-size: 18px;
}
.mobile-user-box a:hover,
.mobile-user-box a:focus {
    text-decoration: none;
    color: #ef3842;
}
.mobile-none {
    display: block;
}
.cp-left {
    float: left;
}
.cp-right {
    float: right;
}
.addpd.slick-slide {
    margin: 10px;
    border-radius: 15px;
    float: left;
    height: 80px;
    /* min-height: 1px; */
    overflow: hidden;
    opacity: 1;
    border: none;
}
#paythree input[type="file"],
#payFive input[type="file"] {
    font-size: 12px;
    width: 100%;
}
#fileUpload::-webkit-file-upload-button {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    color: #fff;
    padding: 0.5em;
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
    border: none;
    height: 35px;
}
.upload-box input {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 30px;
    display: block;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ft-cart-content-body {
    position: relative;
}
.top-banner .slick-dots {
    bottom: -13px;
}
.my-text-danger {
    color: #ffe66e;
    font-size: 12px;
}
.item-buy-section-quantity input {
    width: 50px;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}
.fade {
    transition: opacity 0.15s linear;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.ftitemCount {
    position: relative;
    color: #484848;
    top: 2px;
    right: 0;
    font-size: 16px;
    /* background: #e6e6e6; */
    padding: 5px 10px;
    border-radius: 20px;
}
.showlinkCart.active #showCart {
    position: absolute;
    z-index: 100;
    right: 3px;
    top: 4px;
    width: 65px;
    height: 30px;
    background: #e6e6e6;
    border-radius: 15px;
    display: block;
}
#showCart {
    position: absolute;
    z-index: 100;
    right: 3px;
    top: 4px;
    width: 65px;
    height: 30px;
    background: #e6e6e6;
    border-radius: 15px;
    display: none;
}
#showCart i {
    position: absolute;
    z-index: 100;
    right: 9px;
    top: 8px;
    color: #e83030;
}
#myTab li a:focus-visible {
    background-color: none;
    color: rgba(0, 0, 0, 0);
}
.pay-mb {
    padding-bottom: 1em;
}
.ft-price-img,
.ft-price {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 15px;
    padding-bottom: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ft-price-img img {
    position: relative;
    width: 20%;
    /* display: table-cell; */
    border-radius: 15px;
    border: 1px solid #dadada;
}
.ft-price-img .info {
    position: relative;
    width: 80%;
    /* display: table-cell; */
    /* vertical-align: middle; */
    padding-left: 10px;
}
.ft-price-img .rbs-price {
    position: relative;
    width: 100%;
    padding-left: 23%;
}
.ft-price-img .rbs-price ul {
    margin: 0;
    padding: 0;
}
.ft-price-img .rbs-price ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
}
.ft-price-img .rbs-price .title {
    color: #202020;
    width: 55%;
}
.ft-price-img .rbs-price .price {
    color: #ef3842;
}
#searchModal .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #0000;
    background-clip: padding-box;
    border: none;
    border-radius: 0.3rem;
    outline: 0;
    height: 100px;
}
#userContent.active,
#userContent {
    position: absolute;
    transition: transform 330ms ease-in-out;
    z-index: 32;
    width: 260px;
    margin: auto;
    right: 40px;
    top: 80px;
}
#userContent {
    transform: translate(0, -124vh);
}
#userContent.active {
    transform: translate(0, 0vh);
}
.bot .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: table-caption;
    margin-left: auto;
    margin-right: auto;
}
.lead-contant,
.lead-center,
.lead-tit,
.shopby-body {
    position: relative;
    width: 100%;
}

.lead-tit {
    padding-top: 155px;
}

.item-ctg {
    width: 10%;
    height: auto;
    text-align: center;
    line-height: 18px;
    padding: 0 5px;
}
.home-leadbyctg .item-ctg {
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 18px;
    padding: 0 0px;
}
.home-leadbyctg .item-ctg a {
    text-decoration: none;
}
.item-ctg a {
    text-decoration: none;
}
.home-leadbyctg .item-ctg a:hover {
    text-decoration: none;
}
.item-ctg a:hover {
    text-decoration: none;
}
.item-ctg p {
    color: #3c3c3c;
    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}
.item-ctg .icon-image {
    width: 100%;
    margin-left: 8px;
}
.item-ctg .icon-image.addhot {
    width: 105px;
    margin-left: 6px;
}
.img-sb-l,
.img-sb-r {
    position: absolute;
    z-index: 1;
}
.img-sb-l {
    top: -104px;
    left: 64px;
    width: 25%;
}
.img-sb-r {
    top: -79px;
    right: 63px;
    width: 20%;
}
.shopby-content {
    padding-top: 119px;
    margin: auto 25px;
}
.shopby-center {
    width: 299px;
    text-align: center;
    position: absolute;
    z-index: 5;
    padding: 14px 13px 12px 13px;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    background: #6faafe;
    background: linear-gradient(180deg, #6faafe 0%, #3d5fb5 100%);
    border-radius: 20px 20px 0px 0px;
    margin: auto 37.5%;
    top: 48px;
}
.shopby-body .inner-top {
    display: inline-flex;
    padding: 15px 0;
    border-bottom: 2px solid #f00;
}
.shopby-body .inner-bot {
    position: relative;
}
#owl-shopbyone .item,
#owl-shopbytwo .item {
    background: none;
    padding: 0px 0px;
    margin: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#owl-shopbyone .item a,
#owl-shopbytwo .item a {
    text-decoration: none;
}
.shopby-body .inner-bot a p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    color: #3c3c3c;
}
.item .ctg-name {
    height: 44px;
}
#owl-leadbyctg.owl-theme .owl-nav,
#owl-shopbyone.owl-theme .owl-nav,
#owl-shopbytwo.owl-theme .owl-nav {
    position: absolute;
    margin: 0;
    top: 45%;
    width: 100%;
}
#owl-leadbyctg.owl-carousel .owl-nav button.owl-next,
#owl-leadbyctg.owl-carousel .owl-nav button.owl-prev,
#owl-shopbyone.owl-carousel .owl-nav button.owl-next,
#owl-shopbyone.owl-carousel .owl-nav button.owl-prev,
#owl-shopbytwo.owl-carousel .owl-nav button.owl-next,
#owl-shopbytwo.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #e8353f;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
}
#owl-leadbyctg.owl-carousel .owl-nav button.owl-next span,
#owl-leadbyctg.owl-carousel .owl-nav button.owl-prev span,
#owl-shopbyone.owl-carousel .owl-nav button.owl-next span,
#owl-shopbyone.owl-carousel .owl-nav button.owl-prev span,
#owl-shopbytwo.owl-carousel .owl-nav button.owl-next span,
#owl-shopbytwo.owl-carousel .owl-nav button.owl-prev span {
    color: #fff;
    font-size: 32px;
    line-height: 22px;
    padding-left: 0;
    font-family: "Roboto";
}
#owl-leadbyctg.owl-carousel .owl-nav button.owl-prev {
    left: -30px;
}
#owl-leadbyctg.owl-carousel .owl-nav button.owl-next {
    right: -30px;
}
#owl-shopbyone.owl-carousel .owl-nav button.owl-prev {
    left: -12px;
}
#owl-shopbyone.owl-carousel .owl-nav button.owl-next {
    right: -15px;
}
#owl-shopbytwo.owl-carousel .owl-nav button.owl-prev {
    left: -12px;
}
#owl-shopbytwo.owl-carousel .owl-nav button.owl-next {
    right: -10px;
}
#owl-shopbytwo.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
#owl-shopbyone .item-shortprice,
#owl-shopbytwo .item-shortprice {
    position: relative;
    width: fit-content;
    border-radius: 7px;
    margin: 5px auto;
    padding: 0 20px;
}
#owl-shopbyone .item-shortprice-buy,
#owl-shopbytwo .item-shortprice-buy {
    position: relative;
    width: fit-content;
    background: linear-gradient(91.06deg, #6ea9fd 0.53%, #4267bc 99.14%);
    border-radius: 30px;
    margin: 5px auto;
    padding: 3px 20px;
}
#owl-shopbyone .item-shortprice-buy:hover,
#owl-shopbytwo .item-shortprice-buy:hover {
    background: linear-gradient(91.06deg, #2981ff 0.53%, #002e98 99.14%);
}
#owl-shopbyone .item-shortprice-buy p,
#owl-shopbytwo .item-shortprice-buy p {
    color: #ffffff;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
}
#owl-shopbyone .item-shortprice p,
#owl-shopbytwo .item-shortprice p {
    color: #e8353f;
    position: relative;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}
#owl-shopbyone .item-shortprice span,
#owl-shopbytwo .item-shortprice span {
    color: #e8353f;
    position: relative;
    font-size: 11px;
    font-family: "Roboto";
    padding: 0 2px;
    line-height: 18px;
    font-weight: 500;
}
.home-red-ball {
    position: absolute;
    top: 9%;
    left: -3%;
}
.home-yellow-ball {
    position: absolute;
    top: 6%;
    left: 83%;
    width: 4%;
}
.home-blue-ball {
    position: absolute;
    top: 51%;
    left: 94%;
    width: 11%;
}
.home-red-ball2 {
    position: absolute;
    top: 12%;
    right: 26%;
    width: 3%;
}
.home-red-ball3 {
    position: absolute;
    top: 4%;
    right: 23%;
}
.home-yellow-ball2 {
    position: absolute;
    top: 35%;
    right: 91%;
    width: 9%;
}
.group-ctg {
    width: 100%;
    height: auto;
    position: relative;
}
.group-tit {
    width: 100%;
    margin-left: 25px;
}
.group-list {
    width: 88%;
    display: table;
    margin-left: 51px;
}
.group-item {
    width: 100px;
    display: inline-table;
    margin: 2px 2px;
}
.group-item p {
    font-size: 13px;
    margin: 0;
    line-height: 16px;
    text-align: center;
}
.group-item img {
    width: 100%;
}
/* categories slider mobile */
.fml-homelist-icon .group-ctg .owl-nav button {
    position: absolute;
    top: 50%;
    background: #e8353f !important;
    color: #fff !important;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.group-ctg .owl-nav button.owl-prev {
    left: 15px;
}
.group-ctg .owl-nav button.owl-next {
    right: -29px;
}

.group-ctg .owl-dots {
    text-align: center;
    padding-top: 15px;
}
.group-ctg .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}
.group-ctg .owl-dots button.owl-dot.active {
    background-color: #000;
}
.group-ctg .owl-dots button.owl-dot:focus {
    outline: none;
}
.group-ctg .owl-nav button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #e8353f !important;
    box-shadow: 0px 4px 7px 2px rgb(232 53 63 / 20%);
}
.group-ctg .owl-nav button:focus {
    outline: none;
}
.group-ctg .owl-carousel .owl-item img {
    display: block;
    width: 95%;
    margin-left: 5%;
}
.fml-homelist-icon .group-ctg .owl-nav span {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 40px;
    line-height: 24px;
    color: #ffffff;
}
#ag-u-db-m .slick-prev,
.slick-next,
#ag-u-db-m .slick-prev,
.slick-next {
    position: absolute !important;
    display: block !important;
    height: 100% !important;
    width: 30px !important;
    line-height: 0px !important;
    font-size: 0px !important;
    cursor: pointer !important;
    background: transparent !important;
    color: transparent !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    padding: 0 !important;
    border: none !important;
    outline: none !important;
}
.showlinkBuy,
.showlinkCart {
    float: left;
    margin-right: 15px;
}
.showlinkBuy {
    display: none;
}
.showlinkCart {
    display: none;
}
.showlinkBuy.active,
.showlinkCart.active {
    display: block;
}
.home-leadbyctg .item-ctg p {
    color: #3c3c3c;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}
.shopbyTwo .item p {
    margin: 0;
    color: #3c3c3c;
    text-align: center;
    line-height: 18px;
}
.shopbyTwo a:hover {
    text-decoration: none;
}
.shopbyTwo.owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0;
    width: auto;
    position: absolute;
    top: -38px;
    right: 33px;
}
.shopbyTwo.owl-theme .owl-dots .owl-dot.active span,
.shopbyTwo.owl-theme .owl-dots .owl-dot:hover span {
    background: #e8353f;
    opacity: 1;
}
.shopbyTwo.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #e8353f;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
    opacity: 0.5;
}
.shopbyTwo span {
    font-family: arial;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    color: #ffffff;
    padding-left: 0px;
}
.shopbyTwo.owl-carousel .owl-nav button.owl-next {
    right: -30px;
}
.shopbyTwo.owl-carousel .owl-nav button.owl-prev {
    left: -36px;
}
.shopbyTwo.owl-carousel .owl-nav button.owl-next,
.shopbyTwo.owl-carousel .owl-nav button.owl-prev,
.shopbyTwo.owl-carousel button.owl-dot {
    color: inherit;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0 !important;
    font: inherit;
    background: #e8353f;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    margin-left: 10px;
    position: absolute;
}
.shopbyTwo.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #f44336;
    color: #ffffff;
    text-decoration: none;
}
.shopbyTwo.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 28%;
    /* right: 0px; */
    width: 100%;
}
.limit-over {
    padding: 20px;
}
.limit-over p {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.close.close-btn-flm {
    width: 30px;
    height: 30px;
    background: #f00;
    border-radius: 30px;
    z-index: 999;
    color: #fff;
    font-weight: normal;
    opacity: 1;
    position: absolute;
    right: -40px;
    top: 0px;
}
.pay.my-px-2 {
    /* margin-right: 2.5em; */
    width: 100%;
}
.ff {
    position: relative;
    width: 100%;
    padding: 0px 20px;
}
.ff ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}
.ff ul li {
    list-style: none;
    display: inline-block;
    width: 24%;
    float: left;
}

.saveCard {
    position: relative;
    width: 100%;
    /* padding: 0px 20px; */
}
.fpxTab {
    position: relative;
    width: 100%;
    /* padding: 0px 20px; */
}
.saveCard ul {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    display: table;
    width: 100%;
}
.saveCard ul li {
    list-style: none;
    display: inline-block;
    width: 212px;
    margin: 20px 0px;
    float: left;
}
.fpxTab ul {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    display: table;
    width: 100%;
}
.fpxTab ul li {
    list-style: none;
    display: inline-block;
    width: 212px;
    margin: 20px 0px;
    float: left;
}

.pay-box1 {
    padding: 0px 17px;
}
.link-pay-i {
    width: 40px !important;
}
.voucher-i {
    width: 50px !important;
}

/* RBS */
.rbs-col {
    /* background: #fbfbfb; */
    /* border: 1px solid #d9d9d9; */
    /* box-sizing: border-box; */
    /* box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.1); */
    /* border-radius: 15px; */
    /* padding: 0px 15px; */
    margin-top: 15px;
    margin-bottom: 0px;
    position: relative;
    /* float: left; */
}
.rbs-col.reminder {
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
}
.rbs-col.mb {
    margin-top: 15px;
    margin-bottom: 5px;
    background: #f4f4f4;
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
    /* margin-left: -15px; */
    /* margin-right: -15px; */
}
.rbs-col .list-box {
    display: none;
}
.rbs-col.active .list-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.rbs-col .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    flex-wrap: wrap;
    align-items: center;
}
.rbs-col .title span {
    width: 100%;
    padding-left: 80px;
    color: #f00;
    display: none;
}
.rbs-col .price-box h3 {
    font-weight: 600;
    font-size: 22px;
    color: #ef3842;
    margin: 0;
}
.rbs-col .price-box h3 span {
    font-size: 12px;
    color: #ef3842;
    font-weight: bold;
}
.rbs-col .title h3 {
    font-weight: 500;
    font-size: 16px;
    color: #252525;
    margin: 0;
}
.rbs-col .rbs-total .title p {
    font-weight: 500;
    font-size: 16px;
    color: #ef3842;
    margin-left: 15px;
    margin-bottom: 0;
}
.rbs-col .price-box p {
    font-size: 12px;
    color: #252525;
    margin: 0;
    /* padding-top: 20px; */
}
.rbs-col .title .icon-rbs {
    width: 28px;
    height: 28px;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgba(232, 53, 63, 0.2);
    border-radius: 28px;
    margin-right: 10px;
    text-align: center;
    color: #ffff;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 15px;
}
.rbs-col .title .icon-rbs1 {
    margin-right: 15px;
}
.icon-rbs.close {
    width: 28px;
    height: 28px;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ffffff 0%, #a2a2a2 72.92%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    border-radius: 28px;
    margin-right: 10px;
    text-align: center;
    color: #525252;
    font-size: 18px;
    font-weight: initial;
    line-height: 27px;
    position: absolute;
    top: 14px;
    right: 5px;
    opacity: 1;
    z-index: 9;
}
.rbs-col .price-box {
    width: 32%;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-right: 8px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding: 7px 7px 7px 28px;
    position: relative;
}
.reminded-packages .price-box {
    width: 100%;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-right: 8px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding: 14px 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.reminded-packages .price-box p {
    font-size: 16px;

    color: #252525;

    margin: 0;

    padding-left: 10px;
}
.rbs-col .item-noteÃ¯Â¼Å’.reminded-packages .price-box .item-note {
    font-size: 15px;
    color: #6f6f6f;
    margin: 0;
    line-height: 17px;
}
.rbs-col .price-box input[type="checkbox"]:checked + label {
    background: #ef3842;
    height: 17px;
    width: 17px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.reminded-packages input[type="radio"]:checked + label {
    background: #ef3842;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.rbs-col .price-box input[type="checkbox"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 17px;
    width: 17px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    left: 7px;
    top: 7px;
}
.reminded-packages input[type="radio"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    margin: 0;
}

.rbs-col .price-box input[type="checkbox"] {
    display: none;
}
.reminded-packages .price-box input[type="radio"] {
    display: none;
}
.rbs-col .title .tit-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0px;
}
.rbs-col .title .remind-bell {
    padding-left: 20px;
    width: 70px;
}
.rbs-col .title .remind-bell img {
    width: 100%;
}
.rbs-col .title .remind-bell i {
    width: 35px;
    height: 35px;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    border-radius: 28px;
    margin-right: 10px;
    text-align: center;
    color: #ffff;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    transform: rotate(337deg);
}
.btn.rbssubmit {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 7px 30px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}
.rbs-submitbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.rbs-disable .btn.rbs-grey-btn {
    background: #909090;
    box-shadow: 0px 4px 4px rgb(103 103 103 / 20%);
    background: -moz-linear-gradient(89.62deg, #b5b5b5 0%, #848484 96.99%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #b5b5b5),
        color-stop(50%, #d0d0d0),
        color-stop(51%, #a5a5a5),
        color-stop(100%, #828282)
    );
    background: -webkit-linear-gradient(89.62deg, #b5b5b5 0%, #848484 96.99%);
    background: -o-linear-gradient(right, #dadada 0%, #b9b9b9 50%, #b3b3b3 51%, #757575 100%);
    background: linear-gradient(89.62deg, #b5b5b5 0%, #848484 96.99%);
    text-decoration: none;
    width: auto;
    padding: 6px 15px;
    height: 35px;
    border-radius: 30px;
}
.save-cc-box .form-check {
    padding-right: 5px;
}
.save-cc-box .form-check-input {
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    left: 27px;
    border-radius: 30px;
}
.save-cc-box .form-check-input:checked {
    background-color: #ef3842;
    border-color: #ef3842;
}
.save-cc-box .form-check-input:checked[type="checkbox"] {
    background-image: none;
}
.save-cc-box .form-check-input:focus {
    border-color: #ef3842;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 0%);
}
.save-cc-box label {
    color: #202020;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 2rem;
}
.hr-paymargin {
    margin-top: 2rem;
}
.hr-paymargin2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hr-line-row {
    margin-left: -36px;
    margin-right: -36px;
}
.select-pay {
    text-align: left;
}
.select-pay h5 {
    color: #263a8b;
    font-size: 16px;
    font-weight: 500;
}

.rbs-col .accordion-item {
    background: none;
    border: none;
}
.rbs-col .accordion-button:not(.collapsed) {
    color: #000000;
    background: none;
    box-shadow: none;
}
.rbs-col .accordion-body {
    background: #f7f7f7;
    border-radius: 9px;
    border: 1px solid #dbdbdb;
    /* box-shadow: 2px 3px 3px #0000000d; */
    padding: 0;
}
.rbs-col .add-pd {
    padding: 0px 15px;
}
.rbs-col hr {
    border: none;
    background: #737373;
}
.rbs-col .accordion-button {
    padding: 0;
}
.rbs-col .accordion-button::after {
    margin-left: 20px;
    background-image: url("/images/icons/download.svg");
}
.height-fit {
    height: fit-content;
}
.rbs-col .accordion-button:focus {
    border: none;
    box-shadow: none;
}
.rbs-col .accordion-button:not(.collapsed)::after {
    background-image: url("/images/icons/download.svg");
    transform: rotate(-180deg);
}
.rbs-col .accordion-body h5 {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 5px;
}
.rbs-col .rbs-qlt-slc,
.rbs-col .rbs-time-slc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.reminded-packages .rbs-col .rbs-time-slc .list-rbs {
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    padding: 10px 10px 10px 30px;
    margin: 5px 5px 5px 0px;
    position: relative;
    width: 47%;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    color: #202020;
}
.rbs-col .rbs-time-slc .list-rbs {
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    padding: 10px 10px 10px 30px;
    margin: 5px 5px 5px 0px;
    position: relative;
    width: 30%;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    color: #202020;
    background-color: #fff;
}
.rbs-col .rbs-qlt-slc .list-rbs {
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    padding: 10px 10px 10px 30px;
    margin: 5px 5px 5px 0px;
    position: relative;
    width: 30%;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    color: #202020;
    background-color: #fff;
}
.rbs-col.reminder .rbs-time-slc {
    border: none;
    box-shadow: none;
    padding: 10px 0;
    margin: 0;
    position: relative;
    width: 100%;
    align-items: center;
    border-radius: 0;
    font-size: 15px;
    color: #202020;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rbs-col .rbs-qlt-slc {
}
.rbs-col .rbs-time-slc {
}
.list-rbs label {
    cursor: pointer;
    margin: 0;
}
.list-rbs input[type="radio"] + .dot {
    position: absolute;
    top: 8px;
    width: 15px;
    height: 15px;
    left: 8px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #ef3842;
}
.list-rbs input[type="radio"] {
    display: none;
    cursor: pointer;
}
.list-rbs input[type="radio"]:checked + .dot {
    background: #ef3842;
}
.rbs-note p {
    margin: 15px 0px 10px 0px;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    font-weight: 500;
}
.rbs-note span {
    color: #ef3842;
}
.reminder-product .card-box-left hr {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: none;
    background: #9e9e9e;
}
.reminder-product .card-box-left {
    width: 100%;
    height: fit-content;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgb(70 91 105 / 25%);
    border-radius: 20px;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0px 0px 20px 0px;
}
.reminder-product .card-box-left h5 {
    margin: 0;
    padding: 10px 15px;
}
.reminder-product .card-box-right h5 {
    margin: 0;
    padding: 0;
}
.reminder-product .card-box-left span,
.reminder-product .card-box-right span,
.reminder-product .card-box-center span {
    color: #ef3842;
}
.reminder-product .card-box-left .body {
    padding: 0px 15px;
}
.reminder-product .card-box-left .body p {
    font-size: 15px;
    color: #252525;
    margin: 0;
}
.reminder-product .card-box-left .body span,
.reminder-product .card-box-left .body .price span {
    font-size: 13px;
    color: #6f6f6f;
    margin: 0;
    font-weight: normal;
}
.reminder-product .card-box-left .body .price {
    padding: 10px 0;
}
.reminder-product .card-box-left .body .price p {
    font-size: 16px;
    color: #ef3842;
    font-weight: 500;
}
.reminder-product .card-box-right {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}
.card-box-center .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 50px;
    width: 100%;
}
.footer .savechg-btn {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 7px 15px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-left: 20px;
}
.reminder-product .card-box-center {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}
.reminder-product .card-box-center .body {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.reminder-product .card-box-center .body .col-six {
    width: 48%;
    margin-right: 10px;
}
.reminder-product .card-box-center .body .col-six + .col-six {
    width: 48%;
    margin-right: 0px;
    margin-left: 10px;
}
.reminder-product .card-box-footer {
    width: 100%;
    height: 300px;
    background: rgb(129, 129, 129);
}
.rbs-active {
    display: none;
}
