/*dashboard*/
.dashboard-body {
    margin-top: 5%;
}
.dashboard-body-agent {
    margin-top: 5%;
    padding-bottom: 10px;
}
.dashboard-box {
    border-bottom: 1px solid #0003;
    width: 100%;
    margin-bottom: 10px;
}
.dashboard-title {
    display: flex;
}
.dashboard-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 46px;
    color: #ef3842;
    text-align: left;
    padding: 5px 0px 5px 18px;
    margin: 0px;
}

#voucher-btn {
    color: #fff;
    background: #ef3842;
    width: auto;
    border-radius: 30px;
}
.body-inner {
    display: flex;
    margin-bottom: 17px;
}

#cart-btn {
    color: #fff;
    background: #ef3842;
    width: auto;
    border-radius: 30px;
    margin-top: 8px;
}

.nav-title {
    font-weight: 900;
}

.my-do-text {
    width: 85%;
}
.my-do-text .nav-link {
    color: black;
}

.voucher-icon {
    padding-bottom: 30px;
}
.my-voucher-code-body {
    height: 48%;
    margin-top: 15%;
}
.voucher-text {
    text-align: left;
}
.my-perfect-list-body,
.my-value-record-body,
.voucher-text h1,
h6 {
    color: #000;
}
.my-voucher-code-body .voucher-icon {
    color: black;
}

.my-value-record-body {
    text-align: center;
    height: auto;
    padding: 4px;
}

.my-perfect-list-body {
    text-align: center;
    height: 56%;
}
.dashboard-card-bottom h5 {
    color: #ef3842;
    font-size: 16px;
    margin-top: 10px;
}
.title-width {
    width: 80%;
}

.body-height {
    height: 80%;
}
.dashboard-card-bottom {
    text-align: center;
}
.voucher-text h6 {
    font-size: 16px;
}
.my-value-record-body h4,
.my-perfect-list-body h4 {
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
}
.db-icon1 {
    width: 94%;
    margin: 10px 13px;
}
.db-img1 {
    width: 45%;
}
.db-img2 {
    width: 45%;
}

.icon-viewmore2 {
    width: 34px;
    height: 34px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
}
.checkout-box-s {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 100%;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
}
.checkout-box-s2,
.checkout-box-s3 {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
}

.icon-special2 {
    margin-top: 11px;
}
.icon-viewmore2 i {
    font-size: 22px;
}

.nav-link:hover {
    color: #ef3842;
    text-decoration: none;
}
#ag-u-db .nav-pills .nav-link,
#ag-u-db .nav-pills .show > .nav-link {
    color: #000;
    background: none;
    border-radius: 20px;
    opacity: 1;
}

#ag-u-db .nav-link.active {
    color: #fff;
    background: linear-gradient(167deg, #fd959b 0%, #ef3842 96.99%);
    border-radius: 20px;
    opacity: 1;
}
#ag-u-db-m {
    display: none;
}
.agent-nav .active {
    border-radius: 30px;
    color: #fff;
    text-align: left;
    background: #263a8b;
}
.agent-dashboard-title {
    display: flex;
}
.agent-dashboard-title p {
    font-weight: 600;
    font-size: 18px;
    line-height: 46px;
    color: #263a8b;
    text-align: left;
    padding: 5px 0px 5px 18px;
    margin: 0px;
}

.icon-viewmore3 {
    width: 34px;
    height: 34px;
    text-align: center;
    padding-top: 4px;
    border-radius: 50%;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #70abff 0%, #3d5fb5 72.92%);
}
.sales-div {
    width: 100%;
    padding: 10px 16px;
}
.sales-amt {
    color: #ef3842;
    font-size: 16px;
}
.sales-amt p {
    color: #000;
    font-size: 13px;
}
.crown-img {
    padding-right: 12px;
    padding-bottom: 12px;
}
.logo-img {
    padding-right: 12px;
    padding-bottom: 1.5rem;
}
.ad-box .ad-tittle a {
    color: #000;
}
.announcement-date {
    font-size: 14px;
    color: black;
}
.announcement-date p {
    font-size: 12px;
    color: #ef3842;
    font-weight: 600;
    margin-bottom: 0;
}
.announcement-text {
    margin-bottom: 15px;
}
.agent-name,
.agent-sales {
    color: black;
}
.announcement-text {
    color: black;
    font-size: 16px;
}
.my-do-row {
    margin-top: 2%;
}
.agent-name {
    font-weight: 500;
}
.agent-sales {
    font-weight: 600;
}
.chart-label {
    margin-bottom: 2%;
}
.chart-label .my-progress-bar-div {
    width: 100%;
    height: 30px;
}
.my-progress-bar-div .progress-bar {
    background-color: #263a8b;
    text-align: right;
    padding-right: 8px;
    font-size: 13px;
}

.chart-label p {
    margin-bottom: 0;
}
.progress-bar-div p {
    color: #000;
    font-weight: 400;
}
.progress-bar-div {
    margin-bottom: 10px;
}
.do-menuicon-m {
    display: none;
}
#ag-u-db {
    display: block;
}
#ag-u-db ul {
}

#ag-u-db li {
}
#ag-u-db li a p {
    margin: 0;
}
.dashboard-pt-b {
    padding-bottom: 10px;
}
.ad-box .tab-content {
    margin-top: 0;
    background: none;
    border: none;
}
.dashboard-pt-b {
    padding-right: 0;
    padding-left: 0;
}
.my-box-pd .tab-content {
    border: none;
}
/*dashboard- value record*/
.db-value-title p {
    color: #ef3942;
    font-size: 20px;
    font-weight: 500;
}
.db-order-no p {
    color: #ef3942;
    font-size: 16px;
    font-weight: 500;
}
.purchase-list-t h4 {
    font-size: 16px;
    margin-bottom: 0px;
}
.vr-p-img {
    width: 86%;
    margin: 10px 8px;
}
.oderdate-t h5 {
    font-size: 14px;
}
.vr-btn-d {
    display: inline-flex;
}
.vr-btn-paid {
    width: auto;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 138px;
    height: 40px;
    background-image: linear-gradient(#ef3842, #fd5b64);
}
.vr-btn1 a.btn {
    color: #fff;
    background: #283b8a;
    width: auto;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
}
.vr-ir-btn .vr-btn1 {
    color: #fff;
}
.vr-btn2 a.btn,
.vr-btn3 a.btn {
    color: #000;
    background: #ffe8ce;
    width: auto;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
}
.vr-box {
    align-items: baseline;
    padding: 13px 20px 13px 20px;
    display: flex;
    border-bottom: 1px solid #00000024;
    width: 100%;
}
.vr-or-dt {
    border: 1px solid #e6e7e8;
    border-radius: 20px;
    background-color: #f8f8f9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 9%);
}
.vr-p-d p {
    font-size: 16px;
    color: #231f20;
    margin-bottom: 2px;
}
.row.col-md-9.vr-pt-m0 {
    margin: 0;
    padding-top: 20px;
}
.vr-i-align {
    align-items: center;
}
.vr-process1 img {
    width: 100%;
}
.vr-o-step {
    display: flex;
    align-items: center;
    padding-top: 8px;
}
.midline {
    border-bottom: 2px solid #ef3942;
    width: 33px;
}
.row.vr-order-lst {
    margin: 0;
    padding: 13px 20px 13px 20px;
}
.oderdate-t {
    align-items: baseline;
    width: 28%;
}
.purchase-list-t {
    width: 37%;
}
.db-mt-btn {
    margin-top: 10px;
}
a.btn.btn-vr-blue {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    color: #fff;
    border: none;
}
.vr-noitem {
    text-align: left;
    padding-left: 20px;
}
.vr-noitem h6 {
    padding-bottom: 12px;
}
.vr-no-pd {
    padding: 30px 15px;
}
.vr-ir-btn {
    width: 37%;
    display: flex;
}
.btn.vr-filt-btn {
    color: #ffffff;
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    width: auto;
    height: auto;
    border-radius: 30px;
    border: none;
    padding: 7px 15px;
}

.btn.vqs-filt-btn {
    width: auto;
    height: auto;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    padding: 7px 15px;
}

.btn.vqs-filt-btn.active {
    color: #ffffff;
    background: linear-gradient(180deg, #ef3842 0%, #fd5b64 100%);
    border: none;
}

.btn.vr-grey-btn {
    color: #ffffff;
    background: linear-gradient(180deg, #5b6467 0%, #8b939a 74%);
    width: auto;
    height: auto;
    border-radius: 30px;
    border: none;
    padding: 7px 15px;
}


.btn-approve {
    padding: 4px;
    font-size: 14px;
}
.fill-reason {
    width: 100%;
}
.opt-btn-space {
    display: inline-flex;
}
.btn.cv-reject-btn {
    color: #ffffff;
    background: linear-gradient(89.82deg, #ff757c 0.13%, #ef3842 99.82%);
    width: auto;
    height: auto;
    border-radius: 30px;
    border: none;
    padding: 7px 15px;
}
.vr-filt-btn.mr,
.vr-grey-btn.mr {
    margin-right: 10px;
}
.vr-filt-btn a {
    color: #fff;
}
.vr-b-radius input {
    border-radius: 40px;
}
.vr-p-d a {
    text-decoration: none;
    color: #263a8b;
    font-size: 16px;
    font-weight: 500;
}
.vr-p-d a:hover {
    color: #ef3842;
    text-decoration: none;
}
.search-filter-box .col-md-auto {
    padding-left: 0;
}
.db-order-no {
    margin-top: 5px;
}
.chg-pw-box .card {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 20px;
}
.db-inner-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.chg-pw-box2 {
    background: linear-gradient(89.62deg, #fa858c 0%, #f0414a 96.99%);
    box-shadow: 0px 4px 4px rgb(240 67 76 / 11%);
    border-radius: 18px 18px 0px 0px;
}
.chg-pw-box .card-header:first-child {
    border-radius: 18px 18px 0px 0px;
}
.chg-pw-form input {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
.chg-pw-btn .btn {
    background: linear-gradient(89.62deg, #f5646c 0%, #f0414a 96.99%);
    box-shadow: 0px 4px 4px rgb(243 85 93 / 21%);
    border-radius: 40px;
    color: #fff;
    width: auto;
    height: auto;
    padding: 7px 15px;
}
.my-profile-opt-btn.active {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    background: linear-gradient(180deg, #ef3842 0%, #fd5b64 100%);
    border-radius: 20px 20px 0px 0px;
    width: auto;
    height: auto;
    padding: 10px;
    color: #fff;
}
.my-profile-opt-btn {
    padding: 10px 13px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px 20px 0px 0px;
    color: #000;
    font-weight: normal;
    margin-right: 6px;
    width: auto;
}
.my-profile-opt-btn.active strong {
    color: #fff;
    font-weight: 500;
}
.profile-box a {
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 3px 8px;
}
.profile-box i {
    color: #fff;
    font-size: 16px;
}
.ph-line {
    border-bottom: 2px solid rgb(29 26 80 / 19%);
    margin-bottom: 20px;
}
.col-12.mymobilemenu2 {
    display: none;
}
.my-profile-opt-btn strong {
    color: #000;
    font-weight: 500;
}
.p-btn-btm .offset-md-8 {
    margin-left: 80.666667%;
}
.btn-p-update input {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    border: none;
    color: #fff;
    padding: 7px 15px;
}
.p-e-city input {
    height: 37px;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 100%;
}
.p-pb {
    padding-bottom: 10px;
}
.p-form-box input,
.p-form-box select {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px -3px rgb(0 0 0 / 15%);
    border-radius: 30px;
}
.pbox-2 .offset-md-3.col-md-9 {
    margin-left: 25%;
}
.voucher-tb {
    overflow-x: scroll;
    width: 100%;
}
#home-tab .nav-link,
#income-tab .nav-link,
#membership-tab .nav-link,
#announcements-tab .nav-link,
#agent-package-product-tab .nav-link,
#virtual-quantity-stock .nav-link,
#ct-shop-tab .nav-link,
#customer-tab .nav-link,
#voucher-tab .nav-link,
#perfect-tab .nav-link,
#promo-tab .nav-link,
#rbs-tab .nav-link,
#chg-pw-tab .nav-link,
#value-tab .nav-link {
    color: #252525;
    padding: 0.5rem;
}
#ag-u-db-m .slick-prev:before,
.slick-next:before {
    color: #ef3842;
    font-size: 26px;
    line-height: 0px;
    opacity: 1;
}
#ag-u-db-m .slick-next:before,
.slick-prev:before {
    color: #ef3842;
    font-size: 26px;
    line-height: 0px;
    opacity: 1;
}
#home-tab p,
#income-tab p,
#membership-tab p,
#announcements-tab p,
#agent-package-product-tab p,
#virtual-quantity-stock p,
#ct-shop-tab p,
#customer-tab p,
#voucher-tab p,
#perfect-tab p,
#promo-tab p,
#chg-pw-tab p,
#value-tab p,{
    line-height: 15px;
    font-size: 13px;
}
#income-tab a.nav-link,
#home-tab a.nav-link,
#membership-tab a.nav-link,
#announcements-tab a.nav-link,
#ct-shop-tab a.nav-link,
#customer-tab a.nav-link,
#voucher-tab a.nav-link,
#perfect-tab a.nav-link,
#promo-tab a.nav-link,
#chg-pw-tab a.nav-link,
#agent-package-product-tab a.nav-link,
#virtual-quantity-stock a.nav-link,
#value-tab a.nav-link {
    opacity: 0.3;
}
#home-tab a.nav-link.active,
#income-tab a.nav-link.active,
#membership-tab a.nav-link.active,
#announcements-tab a.nav-link.active,
#ct-shop-tab a.nav-link.active,
#customer-tab a.nav-link.active,
#voucher-tab a.nav-link.active,
#perfect-tab a.nav-link.active,
#promo-tab a.nav-link.active,
#chg-pw-tab a.nav-link.active,
#value-tab a.nav-link.active,
#virtual-quantity-stock a.nav-link.active,
#agent-package-product-tab a.nav-link.active {
    opacity: 1;
}
#ag-u-db a.nav-link,
#ag-u-db-m a.nav-link {
    background: none;
    color: #000;
}
#ag-u-db.agent .nav-link.active {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
}
.br-none {
    border: none;
}
#ag-u-db.user .nav-link.active {
    background: linear-gradient(89.62deg, #ff646c 0%, #ef3842 96.99%);
}
.menu-search-box {
    position: relative;
}

.menu-search-box .box-size {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 250px;
}
.typeahead.dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
/* .typeahead.dropdown-menu span {
    overflow: hidden;
    position: relative;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.typeahead.dropdown-menu img {
    width: 30px;
    float: left;
} */
.msbs-1 img {
    width: 30px;
    object-fit: cover;
    height: 30px;
    margin-right: 5px;
}
.msbs-2 {
    width: 200px;
    white-space: initial;
}
.msbs-2 span {
    font-size: 14px;
    line-height: 14px;
    white-space: initial;
}
/* RBS css */
.rbs-system{
    width:100%;
    overflow-y:scroll;
    margin-bottom:20px;
}
.tit-style {
    background: #ffead4;
    font-weight: 500;
    /* color: #ff0000; */
}
.blue.table-striped {
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: .5rem;
}
.blue.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.blue.table-striped tbody tr:nth-of-type(even) {
    background-color: #e4e4e4;
}
.p-list td {
    color: #202020;
    font-weight: 400;
    border: none;
}
.r-blue-btn {
    border-radius: 50%;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #86b7ff 0%, #3d5fb5 72.92%);
    box-shadow: 0px 4px 4px rgb(53 103 232 / 20%);
}
.r-width3 {
    width: 28px;
    height: 28px;
}
.checkout-text .product-quantity,
.detail.r-blue-btn,
.dashboard-tit,
.close-detail,
.closing-p.center {
    text-align: center;
}
.detail.r-blue-btn i {
    font-size: 16px;
    color: #fff;
    padding-top: 5px;
}
.red-font,
.pop-tittle span,
.p-list .offer-p,
.status-process span,
.product-tit span,
.offer-price,
.text-deco p:hover,
.p-list .closing-p,
.price-w-20.red {
    color: #ef3842;
    font-weight: 500;
}
.blue-font,
.pop-tittle h1,
.pop-tittle2 h1,
.p-list .member-p {
    color: #263a8b;
}
.add-btn {
    background: linear-gradient(89.82deg, #ff8990 0.13%, #ef3842 99.82%);
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgb(247 20 33 / 18%);
    padding: 6px 15px;
    text-align: center;
    width: fit-content;
    margin: auto;
    height: 35px;
}
.add-btn .btn-red1 {
    color: #fff;
    font-size: 14px;
    width: auto;
}
.align-mid {
    display: inline-flex;
    justify-content: space-around;
}
.nextpage {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
.my-page-link {
    position: relative;
    display: block;
    padding: 0.625rem 0.3125rem;
    margin-left: -1px;
    line-height: 1;
    color: #202020;
    background-color: #fbfbfb;
    border: 1px solid #d9d9d9cc;
}
.my-page-link,
.my-page-link > a {
    min-width: calc(2.144rem + 2px);
    text-align: center;
    line-height: 1;
    border-radius: 0rem;
}
.icon-checkout-rbs i {
    color: #fff;
    font-size: 18px;
}
.icon-checkout-rbs {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    text-align: center;
    margin: auto;
    padding: 5px 0px;
}
.table.table-striped th{
    font-weight: 500;
    line-height: 17px;
}
.table.table-striped th,
.table.table-striped td {
    padding: 7px 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
.table.table-striped .title h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #263a8b;
    margin-bottom: 5px;
}
.table.table-striped .title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #252525;
    margin: 0;
}
.table.table-striped .date-num {
    font-size: 14px;
    line-height: 20px;
    color: #263a8b;
}
.table.table-striped .date-num ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table.table-striped .date-num ul li {
    display: flex;
    padding-bottom: 2px;
}
.table.table-striped tbody,
.table.table-striped td,
.table.table-striped tfoot,
.table.table-striped th,
.table.table-striped thead,
tr {
    border: 0;
}
#inputState {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: 14px;
}
.rbs-selectbox {
    position: relative;
}
.rbs-selectbox i {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    color: #757575;
}
.rbs-i-drop{
    position: absolute;
    top: 12px;
    right: 0;
}
