.imgproduct {
    float: left;
}
.special-item-box {
    display: inline-flex;
    padding: 20px 10px;
    display: table;
}
.special-box .special-left {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
}
.special-box .special-right {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
}
.special-right a {
    width: 103px;
    padding: 5px 10px;
}
.special-box .special-left img {
    width: 95%;
    border-radius: 30px;
    margin-right: 5%;
}
.special-box .special-right .orfer-special,
.special-box .special-right .name-special,
.special-box .special-right .icon-special {
    width: 100%;
    text-align: left;
}
.special-box .special-right .orfer-special,
.special-box .special-right .name-special {
    text-align: left;
}
.name-special p {
}
.special-box .special-right .icon-special {
    text-align: center;
}
.orfer-special .sale-special {
    background: #ef3842;
    border-radius: 13px;
    color: #fff;
    width: fit-content;
    padding: 0 20px;
    transform: rotate(-5.23deg);
}
.orfer-special .sale-special p {
    font-size: 26px;
    font-weight: 600;
}
.orfer-special .sale-special span {
    color: #fff;
    font-family: "roboto";
    font-size: 18px;
    font-weight: 500;
}
.special-tittle {
    color: #263a8b;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.icon-special-2 {
    font-size: 26px;
    color: #fff;
}
.icon-viewmore {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 6px 0px;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
}
.special-price {
    color: #0e0e0e;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 1px;
}
.card-home {
    margin: auto;
    padding-top: 2%;
    width: 100%;
}
.checkout-text {
    text-align: left;
    width: 65%;
    padding: 0px 10px;
}
.checkout-text p {
    margin: 0;
    padding: 4px 0;
}
.checkout-text .product-quantity {
    text-align: center;
}
.checkout-tittle {
    font-weight: 500;
    font-size: 28px;
    line-height: 55px;
    color: #263a8b;
    text-align: left;
    padding: 14px 21px 0px 20px;
}
.checkout-subtittle {
    padding: 17px 0px 0px 8px;
    background: #ffead4;
    display: inline-flex;
    width: 100%;
}
.checkout-box {
    background-color: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 100%;
    position: relative;
}
.shopping-tittle p {
    font-weight: 500;
    font-size: 24px;
    line-height: 55px;
    color: #263a8b;
    text-align: left;
    padding: 5px 0px 5px 18px;
    margin: 0px;
}
.textbox-width {
    width: 80%;
}
.checkout-p1 {
    width: 70%;
}
.checkout-cart .checkout-3dbg {
    position: absolute;
    right: 0%;
    top: 27%;
    opacity: 0;
}
.checkout-cart.active .checkout-3dbg {
    position: absolute;
    right: 0%;
    top: 27%;
    opacity: 0;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.checkout-cart {
    display: inline-flex;
    padding: 14px 13px;
    width: 100%;
    border-bottom: 1px solid #00000026;
    position: relative;
}
.checkout-tick {
    width: 10%;
}
.checkout-tick img {
    cursor: pointer;
    opacity: 1;
}
.checkout-product {
    width: 30%;
}
.checkout-tick input[type="checkbox"] {
    display: none;
}
.store-scroll .store-details-box input[type="checkbox"] {
    display: none;
}
.checkout-tick input[type="checkbox"] + label,
.store-details-box input[type="checkbox"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}

.checkout-tick input[type="checkbox"]:checked + label,
.store-details-box input[type="checkbox"]:checked + label {
    background: #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}

.checkout-variation {
    font-size: 16px;
    color: #202020;
    line-height: 0px;
}
.checkout-subtittle p {
    font-weight: 500;
    font-size: 15px;
    color: #263a8b;
    width: fit-content;
}
.product-quantity {
    width: 112px;
    border: 1px solid #cecece;
    padding: 3px 3px;
    border-radius: 10px;
    font-size: 12px;
    color: #252525;
}
.product-quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 50px;
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #252525;
    background-color: #fbfbfb;
}

button[class*="btn"] {
    width: 23px;
    /* height: 25px; */
    background-color: #fbfbfb00;
    /* border-radius: 6px; */
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.product-minus-btn {
    margin-bottom: 3px;
}
.product-add-btn {
    margin-top: 2px;
}
.icon-chekout-1 {
    font-size: 19px;
    color: #fff;
}
.icon-checkout-2 {
    /* position: absolute; */
    bottom: 15px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 7px 5px;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
}
.icon-checkout {
    width: 10%;
}
.checkout-subtittle p {
    text-align: left;
}
.cart-scroll {
    /* overflow: auto; */
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}
/* fml scroll bar */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #ef3842;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
    margin-top: 20px;
}

*::-webkit-scrollbar-thumb {
    background: #ef3842;
    border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;
    border-radius: 10px; */
}

*::-webkit-scrollbar-thumb {
    background-color: #ef3842;
    border-radius: 20px;
    border: 3px solid #ef3842;
}
/* ::-webkit-scrollbar {
    width: 10px;
    height: 2px;
}
 */
/* Track */
/* ::-webkit-scrollbar-track {
}
 */
/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #ef3842c9;
    border-radius: 10px;
} */
.order-tittle {
    font-weight: 500;
    font-size: 28px;
    line-height: 55px;
    color: #263a8b;
    text-align: left;
    padding: 14px 22px 18px 20px;
    border-bottom: 1px solid #0003;
    background-image: url(../images/cart-bg4.png) no-repeat 100% 61%;
}
.total-price .table {
    width: 100%;
    margin-bottom: 0;
}
.total-price {
    padding: 5px 15px;
}
.total-price .table th,
.total-price .table td {
    padding: 3px 0;
    vertical-align: top;
    border: none;
}
.tb-price .table-hover tbody tr:hover {
    background-color: #ffffff00;
}
.voucher .info-checkout {
    margin: 0;
}
.info-checkout .bg-form {
    background-color: #fbfbfb;
    opacity: 1;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    border-radius: 22px;
    padding: 8px 20px;
    margin-bottom: 16px;
    min-height: 40px;
}
.info-checkout p {
    color: #263a8b;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.info-checkout label {
    color: #263a8b;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.bg-form p {
    color: #252525;
    font-weight: 400;
    font-size: 15px;
    height: auto;
}
.price-details-1 {
    text-align: left;
    color: #263a8b;
    font-weight: 500;
    font-size: 15px;
}
.price-details-2 {
    text-align: right;
    color: #263a8b;
    font-weight: 500;
    font-size: 14px;
}
.price-details-red1 {
    text-align: left;
    color: #ef3842;
    font-weight: 500;
    font-size: 16px;
}
.price-details-red2 {
    text-align: right;
    color: #ef3842;
    font-weight: 500;
    font-size: 16px;
}
.info-checkout {
    text-align: left;
}
.checkout-box-space {
    margin-top: 24px;
}
.ship-box {
    background: url(../images/formula/cart-bg5.png) no-repeat 55% -11%;
    border-bottom: 1px solid #0003;
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
}
.order-box {
    border-bottom: 1px solid #0003;
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
    background: url(../images/formula/cart-bg4.png) no-repeat 89% 0%;
}
.order-box2 {
    border-bottom: 1px solid #0003;
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
    background: url(../images/formula/cart-bg6.png) no-repeat 89% 62%;
}
.delivery-box {
    background: url(../images/formula/cart-bg4.png) no-repeat 89% 134%;
    border-bottom: 1px solid #0003;
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
}
.ship-tittle {
    font-weight: 500;
    font-size: 28px;
    line-height: 55px;
    color: #263a8b;
    text-align: left;
    width: fit-content;
    float: left;
}
.icon-edit-info {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #70abff 0%, #3d5fb5 72.92%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 20%);
}
.sc-pd-btn {
    padding: 6px 11px;
    width: 40%;
}
.i-edit-mt {
    margin-top: 17%;
    padding: 6px 9px 0px 9px;
}
.icon-edit {
    font-size: 19px;
    color: #fff;
}
.icon-btn {
    width: 20%;
}
.info-checkout .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ef3842;
    outline: 0;
    box-shadow: 0 0 4px 2px #ef38422e;
}
.info-checkout .bg-form2 {
    background-color: #fbfbfb;
    opacity: 1;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: auto;
    padding: 10px 20px;
    margin-bottom: 16px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    border-radius: 30px 0px 0px 30px;
}
.voucher-box {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.find-store .bg-form2 {
    background-color: #fbfbfb;
    opacity: 1;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    margin-bottom: 16px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    border-radius: 30px;
    min-height: 48px;
}
.voucher-box i {
    color: #ef3842;
}
.delivery-method {
    position: relative;
    width: 100%;
    display: inline-flex;
}
.delivery-method .delivery-text {
    padding: 15px 0px 0px 0px;
    display: inline-flex;
    width: 85%;
}
.delivery-method .checkbox2 {
    width: 50%;
}
.delivery-method i {
    font-size: 20px;
}
.delivery-method button {
    margin-left: 8px;
    line-height: 17px;
    font-size: 13px;
}
.checkout-box2 {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 50%;
    display: inline-flex;
    padding: 9px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
}
.delivery-choice {
    width: 100%;
    position: relative;
    padding: 0px 6px 18px 4px;
}
.checkout-box2 p {
    padding: 0px 6px;
    text-align: left;
}
.delivery-tick {
    padding: 10px 0px 0px 9px;
}
.delivery-tick input[type="checkbox"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.delivery-tick input[type="checkbox"] {
    display: none;
}
.delivery-tittle .delivery-tick input[type="checkbox"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.delivery-method .checkout-tick input[type="checkbox"] {
    display: none;
}

.delivery-method .checkout-tick input[type="checkbox"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 16px;
    width: 16px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}

.delivery-method .checkout-tick input[type="checkbox"]:checked + label {
    background: #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.delivery-method .checkout-tick {
    padding: 0px 0;
}
.delivery-option {
    display: inline-flex;
}
.delivery-option label {
    margin: 8px;
}
.icon-size {
    width: 41px;
    height: 42px;
}
.icon-size2 {
    width: 37px;
    height: 35px;
}
.find-store {
    text-align: left;
    padding: 3px 11px;
    /* float: left; */
    position: relative;
}
.link-product {
    /* margin: 0; */
    /* margin-left: 0px; */
}
.checkout-btn {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    width: 137px;
    padding: 8px 25px;
    color: #fff !important;
    text-align: center;
    font-weight: normal;
}
.location-btn {
    text-decoration: underline;
    color: #263a8b;
    width: fit-content;
    float: left;
    position: relative;
}
.btn.apply-btn {
    /* padding: 5px 31px; */
    color: #fff;
    text-align: center;
    font-weight: normal;
    background: #ef3842;
    box-shadow: 9px 0px 14px -7px rgb(239 56 66 / 50%);
    border-radius: 0px 30px 30px 0px;
    margin: 0;
    width: 100%;
    font-size: 0.8rem;
}
.voucher .form-control {
    border-radius: 30px 0px 0px 30px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.product-detail p {
    font-weight: 500;
    font-size: 16px;
}
.product-detail p + p {
    font-size: 16px;
    color: #202020;
    line-height: 20px;
    font-weight: 400;
}
.product-detail p + p + p {
    color: #ef3842;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.coupon-box {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
/* popup */
.edit-tittle span {
    color: #ef3842;
}
.cart-edit-location {
    width: 100%;
    position: relative;
    display: inline-flex;
}
.cart-form1 .checkout-box2 {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 32px;
    width: 100%;
    display: inline-flex;
    padding: 12px;
    height: 50px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
}
.cart-form2 .checkout-box3 {
    border: 1px solid #d9d9d9;
    border-radius: 28px;
    background-color: #fbfbfb;
    width: 100%;
    padding: 10px 10px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    background-image: url(../images/icons/dropdown.svg);
    color: #7b828a;
}
.cart-form1 .form-label {
    margin-bottom: 4px;
}
.cart-form2 {
    width: 50%;
}
.cart-form3 {
    margin-right: 10px;
    width: 50%;
}
.cart-form3 .checkout-box3 {
    border: 1px solid #d9d9d9;
    background-color: #fbfbfb;
    border-radius: 28px;
    width: 100%;
    padding: 10px 10px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    color: #767d85;
    background-image: url(../images/icons/dropdown.svg);
}
.modal-body label {
    font-weight: 500;
}
.modal-content .edit-opt-btn {
    border: none;
    padding-top: 0;
    padding-bottom: 7%;
}
.edit-opt-btn .savechg-btn {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 96.99%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 7px 15px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}
.edit-opt-btn .cancel-btn .cv-reject-btn {
    background: linear-gradient(89.82deg, #ff757c 0.13%, #ef3842 99.82%);
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 16px 16px;
    color: #fff;
    text-align: center;
    line-height: 10px;
    font-weight: 500;
    font-size: 14px;
}
.edit-info-modal-box {
    padding: 20px 28px;
}

.edit-popup-bg .modal-content {
    background: url(../images/formula/edit-details-bg.png) no-repeat 49% 100%;
    background-color: #fff;
    border-radius: 2.3em;
    background-size: 79%;
}
.modal-header .edit-tittle {
    line-height: 42px;
    width: 100%;
}
.confirm-box1 p {
    margin-bottom: 11px;
}
.confirm-box2 .confirm-box1 {
    padding: 11px 10px 0px 18px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 20px;
    color: #252525;
    min-height: 40px;
}
.confirm-box1 {
    padding: 11px 10px 0px 18px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 30px;
    color: #252525;
    min-height: 110px;
}
.search-store .bg-form2 {
    background-color: #fbfbfb;
    border: 1px solid #d9d9d9;
    margin-bottom: 16px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    border-radius: 30px;
    width: 100%;
}
.search-store a {
    position: absolute;
    right: 4%;
    top: 0%;
    text-align: left;
    font-size: 22px;
}
.search-store i {
    color: #ef3842;
}
.store-details-box {
    display: inline-flex;
    padding: 14px 13px;
    width: 100%;
    border-bottom: 1px solid #00000026;
    position: relative;
}
.store-details-box .checkout-3dbg {
    position: absolute;
    right: 0%;
    top: 27%;
    opacity: 0.4;
}
.store-details-box.active .checkout-3dbg {
    position: absolute;
    right: 0%;
    top: 27%;
    opacity: 1;
}
.find-store label {
    font-weight: 500;
}
.shop-img1 {
    width: 100%;
}
.shoplot {
    width: 25%;
}
.modal-header .edit-tittle2 {
    line-height: 42px;
    width: 30%;
}
.confirm-info .modal-header {
    border: none;
}
.store-details-box li {
    list-style: none;
}
.store-details-box h5 {
    font-size: 15px;
}
.store-details-box p {
    font-size: 14px;
    color: #252525;
    margin: 0;
}
.search-store {
    position: relative;
    width: 40%;
}
.top-findshop-tittle {
    position: relative;
    width: 100%;
}
.shotlot-detail {
    width: 55%;
    padding: 0px 32px 0px 0px;
}
.icon-stock {
    width: 11%;
}
.shoplot-contact {
    padding-top: 10px;
}
.icon-stock i {
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 15px;
}
.shoplot-instock p {
    color: #038600;
    display: inline-grid;
    line-height: 22px;
    font-weight: 500;
}
.shoplot-lowstock p {
    color: #f6b12b;
    display: inline-grid;
    line-height: 22px;
    font-weight: 500;
}
.shoplot-outstock p {
    color: #ef3842;
    display: inline-grid;
    line-height: 22px;
    font-weight: 500;
}
.shoplot-contact i {
    margin-right: 10px;
}
.find-store-box {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 10%);
    border-radius: 20px;
}
.store-details-box.active {
    background: #ffead4;
}
.store-details-box label {
    /* height: 30px; */
    /* width: 30px; */
    /* position:absolute; */
    /* background: #ffffff; */
    /* right: 5%; */
    /* border: 1px solid #b9b9b9; */
    /* border-radius: 30px; */
}
.find-store-tittle .edit-opt-btn {
    padding-top: 18px;
    padding-bottom: 2%;
}
.store-scroll {
    overflow: auto;
    height: 600px;
}
.find-store-tittle .modal-header {
    border: none;
}
.top-findshop-tittle h1 {
    font-size: 24px;
}
.notice-details p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.notice-details {
    padding-top: 45px;
}
.notice-box {
    padding-bottom: 40px;
}
.notice-border .modal-header {
    border: none;
}
.notice-details span {
    color: #ef3842;
}
.notice-img-icon {
    width: 52%;
    padding-top: 21px;
}
.warning-box h5 {
    font-size: 28px;
    font-weight: 600;
    color: #ef3842;
}
.warning-text {
    padding-bottom: 20px;
    padding-right: 50px;
}
.warnings-popup-bg .modal-content {
    background: url(../images/formula/warnings-bg.png) no-repeat 58% 155%;
    background-color: #fff;
    border-radius: 2.3em;
    background-size: 76%;
    min-height: 400px;
}
.warnings-details p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.thankyou-text h5 {
    font-size: 24px;
    color: #252525;
    padding-top: 24%;
    line-height: 14px;
    font-weight: 500;
    padding-bottom: 16px;
}
.btn-space {
    margin-right: 10px;
}
.thank-info {
    /* border-bottom: 2px solid #e6e6e6; */
    padding-bottom: 20px;
}
.shop-for-text h5 {
    color: #253a8b;
    font-weight: 500;
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.shop-for-text span {
    font-weight: 500;
    font-size: 28px;
    color: #ef3842;
    padding-top: 30px;
}
.edit-opt-btn .round-adult {
    background-image: url(../images/formula/round-adult.png);
}
.continue-shop-category {
    padding: 0;
}
.thank-adult p {
    font-weight: 500;
    font-size: 18px;
    color: #252525;
}
.continue-shop-category a {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}
.thankyou-bg {
    margin: auto;
    padding-top: 4%;
    width: 100%;
    background: url(../images/formula/product-itembg.jpg) no-repeat 90% -147%;
    background-size: 23%;
}
.thankyou-bg2 {
    margin: auto;
    width: 100%;
    background: url(../images/formula/product-itembg.jpg) no-repeat -1% 87%;
    background-size: 15%;
}
.thankyou-3dimg {
    width: 100%;
    padding-top: 21px;
}
.footer-btm {
    padding-bottom: 45px;
}
.thankyou-text p {
    font-weight: 500;
    font-size: 24px;
    line-height: 102%;
    color: #ef3842;
    margin-bottom: 30px;
}
.eror-text {
    border-left: 2px solid #c4c4c4;
    padding: 0px 0px 0px 36px;
}
.eror-text p {
    font-size: 16px;
    line-height: 10px;
}
.error-tittle {
    padding-bottom: 40px;
}
.btn-space2 {
    margin-top: 20px;
}
/* chuah add */
.vc-point {
    position: absolute;
    margin-left: 35%;
    top: 18%;
}
.vc-point input[type="checkbox"] + label {
    background: #fff;
    border: 1px solid #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.vc-point input[type="checkbox"] {
    display: none;
}
.vc-point input[type="checkbox"]:checked + label {
    background: #ef3842;
    height: 22px;
    width: 22px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.stick-window {
    position: sticky;
    top: 0;
    right: 0;
}
/*multineeds page*/
.multi-inner {
    width: 30%;
}
.multi-info h4 {
    font-size: 15px;
    line-height: 25px;
}
.multi-1 ul,
.multi-brand1 ul {
    list-style: none;
    text-align: center;
    display: inline-flex;
    padding: 0;
}
.multi-1 li {
    margin-right: 3em;
}
.multi-1 a {
}
.multi-1 img {
    margin-left: 15px;
}
.multineed-header h1 {
    font-size: 24px;
}
.multi-subinfo {
    display: flex;
}
.multi-brand1 {
}
.multi-brand1 li:hover,
.multi-brand1 li:focus {
    background-color: #ef3842;
}
.multi-brand1 li:hover a,
.multi-brand1 li:focus a {
    text-decoration: none;
    color: #fff;
}
.multi-brand1 li:hover a h5,
.multi-brand1 li:focus a h5 {
    text-decoration: none;
    color: #fff;
}
.multi-brand1 h5 {
    font-size: 15px;
    color: #263a8b;
}
.multi-brand1 ul {
}
.multi-brand1 li {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    border-radius: 20px;
    width: 120px;
    height: 40px;
    padding-top: 10px;
    margin-right: 10px;
}
.hr-margin2 {
    margin-top: 30px;
    margin-bottom: 50px;
}
.p-detail-1 h4 {
    font-size: 14px;
    padding-top: 10px;
    color: #263a8b;
    font-weight: 500;
    margin-bottom: 3px;
}
.p-detail-1 p {
    font-size: 14px;
    color: #ef3842;
    font-weight: 600;
}
.p-detail-1 a {
}
.p-detail-1 {
    text-align: center;
}
.p-box {
    display: inline-flex;
    padding-top: 16px;
}
.col-md-12.col-sm-12.p-box,
.col-md-2.col-sm-2.p-detail-1 {
    padding: 10px;
}
.multineed-header .info-hrline-red-multi {
    width: 24.51px;
    height: 4px;
    background: linear-gradient(90deg, #ff8279 0%, #ef3842 55.73%);
    border-radius: 100px;
    transform: rotate(-0.31deg);
}
.rp-opt-list .mp-icon1,
.rp-opt-list .mp-icon2,
.rp-opt-list .mp-icon3 {
    border: none;
    background: none;
    width: 33.33%;
}
.rp-opt-list button img {
    opacity: 0.3;
    width: 80%;
}
.rp-opt-list button.active img {
    opacity: 1;
}
.rp-opt-list button .downarrow img {
    opacity: 0;
}
.rp-opt-list button.active .downarrow img {
    opacity: 1;
    width: 50px;
}
.multi-inner p {
    margin: 0;
}
/*return policy*/
.return-info-box,
.return-info-box2 {
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 13px;
    background-color: #fff7f0;
    border: 1px solid #ffead7;
    font-weight: bold;
}
.return-o-box .card {
    border-radius: 10px;
}
.return_form_title span {
    vertical-align: bottom;
    padding-bottom: 10px;
    color: #263a8b;
    font-weight: 600;
    font-size: 26px;
}
#personal_info span,
#detail-return span {
    color: #263a8b;
    font-weight: 500;
    font-size: 22px;
}
#categories-sales-report-table {
    /* min-width: 1166px; */
    color: #263a8b;
    font-size: 16px;
}
#categories-sales-report-table td {
    font-weight: 500;
    font-size: 15px;
}
.return-info-box label,
.return-info-box2 label {
    font-size: 15px;
    font-weight: 400;
}
.return-btm-info {
    width: 100%;
    display: flex;
}
.return-notice {
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.return-o-box .card-body {
    padding: 30px;
}
.reason-left {
    width: 12%;
}
.opt-right {
    width: 88%;
}
.opt-right p {
    margin: 0;
    font-size: 15px;
}
.opt-right span {
    margin-right: 5px;
}
.return-align {
    text-align: left;
}
.d-style-box.card {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
}
.in-title {
    width: 100%;
    display: flex;
}
.yearly-title h4 {
    width: 100%;
}
.img-i-icon {
    margin-right: 10px;
}
.card-title.in-title {
    margin-bottom: 1.5em;
}
.ibtn-mr {
    margin-right: 10px;
}
.iselect-box select {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 8px 10px;
}
select#monthsDropdown:focus-visible {
    outline: 4px dashed #ffffff00;
}
.yearly-title {
    display: flex;
    align-items: center;
    width: 85%;
}
.ad-my-box.col-md-12 {
    padding: 0px;
}
.i-yearly-ml {
    margin-left: 3.5em;
}
.i-name p {
    font-weight: bold;
    margin: 0;
    color: #252525;
}
.i-address p {
    margin: 0;
    color: #252525;
}
.i-name-detail.card-body {
    padding: 0em 3rem;
}
.hr-i {
    border-top: 1px solid #263a8b1c;
    padding-bottom: 20px;
    padding-top: 20px;
}
.i-sales-box {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 8px;
}
.i-sales-box p {
    font-weight: 500;
}
.i-sale-info p {
    padding: 10px 6px 10px 30px;
    font-size: 16px;
    color: #252525;
    margin-bottom: 0em;
}
.col-sm-5.i-sales-box.my-auto p {
    margin-bottom: 0em;
}
.i-padl {
    padding-left: 39px;
}
.pop-i-menu a {
    display: flex;
    align-items: center;
}
.pop-i-menu p {
    margin-bottom: 0px;
    margin-left: 10px;
    color: #000;
    font-weight: 500;
}
.pop-i-menu.modal-content {
    padding: 20px;
}
.i-back-btn {
    position: absolute;
    right: 4%;
    z-index: 99;
}
button.close.i-back-btn span {
    font-size: 35px;
    font-family: "Roboto";
    font-weight: 400;
}

.row.multineed-box {
    padding: 20px;
}
.h-btm-bg {
    background: url(/images/formula/Quality.jpg) no-repeat;
    background-size: 40%;
    height: 500px;
    background-position: 20% 1%;
}
/*product page likes icon */

.side-stickinfo .side-info.like.notLiked #talkbubble {
    animation: mymove2 3s;
    transform: rotate(0deg);
    transform-origin: center left;
    opacity: 1;
}
.side-info.like.liked #talkbubble,
.side-info.like.likeBubble.initialLiked #talkbubble {
    opacity: 0;
}

.side-info.like.liked #talkbubble,
.side-info.like.likeBubble.liked #talkbubble {
    animation: mymove 3s;
    transform: rotate(0deg);
    transform-origin: center left;
    opacity: 0;
}
/* .side-info.like #talkbubble{
    animation: mymove2 3s;
   transform: rotate(0deg);
   transform-origin: center left ;
   opacity: 0;
} */
.side-info.like #talkbubble {
    width: 99px;
    height: 41px;
    background: #263a8b;
    position: relative;
    left: 48px;
    z-index: 99;
    bottom: 18px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 1;
}
#talkbubble:before {
    content: "";
    position: absolute;
    right: 68%;
    top: 39px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 23px solid #263a8b;
    border-bottom: 12px solid transparent;
    /* IE 9 */
}
#talkbubble span {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    width: 100%;
    top: 13px;
    color: #fff;
}
@keyframes mymove {
    0% {
        transform: rotate(0deg);
        transform-origin: center left;
        opacity: 1;
    }
    10% {
        transform: rotate(0deg);
        transform-origin: center left;
        opacity: 1;
    }
    30% {
        transform: rotate(90deg);
        transform-origin: center left;
        opacity: 0;
    }
    70% {
        transform: rotate(90deg);
        transform-origin: center left;
        opacity: 0;
    }
    90% {
        transform: rotate(90deg);
        transform-origin: center left;
        opacity: 0;
    }
    100% {
        transform: rotate(90deg);
        transform-origin: center left;
        opacity: 0;
    }
}

@keyframes mymove2 {
    0% {
        transform: rotate(90deg);
        transform-origin: center left;
        opacity: 0;
    }
    10% {
        transform: rotate(90deg);
        transform-origin: center left;
        opacity: 0;
    }
    30% {
        transform: rotate(0deg);
        transform-origin: center left;
        opacity: 1;
    }
    70% {
        transform: rotate(0deg);
        transform-origin: center left;
        opacity: 1;
    }
    90% {
        transform: rotate(0deg);
        transform-origin: center left;
        opacity: 1;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: center left;
        opacity: 1;
    }
}
.edit-info-modal-box h1 {
    font-size: 24px;
}
button.cancel-btn {
    color: #fff;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 7px 15px;
    font-weight: 500;
    background: linear-gradient(180deg, #ef3842 0%, #fd5b64 100%);
    box-shadow: 0px 4px 4px rgb(249 82 91 / 37%);
}
.edit-opt-btn a.btn {
    background: linear-gradient(89.62deg, #70abff 0%, #3d5fb5 100%);
    box-shadow: 0px 4px 4px rgb(48 131 255 / 30%);
    color: #fff;
    border-radius: 20px;
    padding: 8px 25px;
    font-size: 0.9rem;
    line-height: 1.6;
    border: none;
}
.multineed-header p {
    width: 80%;
}
#submitCoupon {
    background-color: #263a8b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(255, 255, 255);
    height: 23px;
    padding: 2px 5px;
}
button.cancel-btn {
    color: #fff;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 7px 15px;
    font-weight: 500;
    background: linear-gradient(180deg, #ef3842 0%, #fd5b64 100%);
    box-shadow: 0px 4px 4px rgb(249 82 91 / 37%);
}
.d-cl {
    display: inline-flex;
    margin-bottom: 1.5em;
}
.delivery-choice p {
    margin-bottom: 0;
}
.s-title-box {
    display: inline-flex;
    width: 100%;
}
.m-my-mt-1 {
    margin-top: 1.5em;
}
.sc-search {
    position: absolute;
    right: 2%;
    top: 8%;
    border-radius: 30px;
    width: 38px;
    height: 38px;
    padding: 7px 9px;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 72.92%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
}
.sc-search i,
.sc-delete i {
    color: #fff;
    font-size: 18px;
}
.sc-default i {
    font-size: 18px;
}
.sc-red-tick {
    width: 5%;
}
p.note-delivery {
    text-align: right;
    font-size: 15px;
    color: #ef3842;
    margin: 20px 0 0 0;
    display: none;
}
.sc-add {
    width: 60%;
}
.d-cl .sc-add p {
    font-weight: 500;
}
.d-cl .sc-add p + p + p {
    font-weight: normal;
}
.d-confirm.modal-header {
    padding: 1rem 0rem;
}
#showSelectedAddress img {
    cursor: auto;
}
.edit-info-modal-box h1 {
    font-size: 24px;
}

/* start animation2 */
.bee-bg2 {
    background: url(../images/formula/bee-front.jpg) no-repeat 50%;
    background-size: 40%;
    width: 100%;
    height: 514px;
}

.bee-bg2.active {
    background: url(../images/formula/bee-front.jpg) no-repeat 50%;
    background-size: 40%;
    width: 100%;
    height: 514px;
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
}
.badge2 {
    display: inline-flex;
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #ff9ea4 0%, #ef3842 90%);
    box-shadow: 0px 4px 4px rgb(232 53 63 / 20%);
    left: 39%;
    top: 9%;
    border-radius: 100px;
    justify-content: center;
}
.badge2 h4 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 22px;
    font-size: 20px;
    margin: 0;
}

.badge2 h4.active {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 22px;
    font-size: 20px;
    margin: 26px;
}
.badge2 .text2 {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 25px;
    left: 0%;
    top: 0%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #66339900;
    justify-content: space-around;
}
@keyframes anibody-move {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.ani-inner h3 {
    margin-top: 50px;
    color: #263a8b;
    opacity: 0;
}
.fml-special-pro .badge2.active .ani-body h3,
.fml-special-pro .badge2.active .ani-body p,
.fml-special-pro .badge2.active .ani-body .bee-img-r,
.fml-special-pro .badge2.active .ani-body .bee-img-l {
    opacity: 1;
}
.badge2.active .text2 {
    background: linear-gradient(90deg, #fff5ea 0%, #ffe3c5 59.45%);
    width: 400px;
    height: 400px;
    padding: 0 45px;
    top: 43%;
    left: 32%;
    animation: anibody-move 1s;
}
.fml-special-pro .badge2 .ani-body p {
    font-size: 15px;
    color: #252525;
    font-family: roboto;
    opacity: 0;
    height: 100px;
}
.fml-special-pro .badge2 .ani-body .bee-img-r,
.fml-special-pro .badge2 .ani-body .bee-img-l {
    opacity: 0;
}
.ani-body h4 {
    color: #fff;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 0;
}
.badge2.active {
    background: radial-gradient(87.5% 87.5% at 50% 12.5%, #dedede 0%, #a8a8a8 72.92%);
    box-shadow: 0px 4px 4px rgb(113 113 113 / 20%);
}
.bee-img-l {
    position: absolute;
    bottom: -30px;
    right: 180px;
}
.bee-img-r {
    position: absolute;
    top: -20px;
    right: -6px;
}
.bee-img-r img {
    width: 120px;
}
.bee-img-l img {
    width: 300px;
}
.ani-body {
    position: relative;
    transform: scale(0.1);
}
.badge2.active .ani-body {
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transform: scale(1);
}
.bee-blue-ball {
    position: absolute;
    top: 44%;
    left: 15%;
    width: 7%;
}
.bee-four-ball {
    position: absolute;
    top: 43%;
    left: 88%;
    width: 13%;
}
.bee.about-modal.fml-special-pro {
    background: none;
}

.home-bee-ball2 {
    position: absolute;
    top: 35%;
    right: 25%;
    width: 4%;
}
/* end animation2 */
.title-ms h5 {
    color: black;
    font-size: 15px;
    margin: 0;
}
.title-ms img {
    width: 43px;
}
.title-ms {
    display: flex;
    align-items: center;
}
.s-icon {
    width: 36%;
}
.ag-copy-btn.blue-btn {
    height: 38px;
    padding: 9px 15px;
    box-shadow: none;
}
.notice-member {
    color: #707070;
}
.notice-member .form-control {
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 10px;
}
.notice-member .form-label {
    padding-top: 10px;
}
.r-link.form-group.col-md-6 {
    padding-left: 1rem;
}
