.agreement {
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    padding: 0.75rem;
    max-height: 85vh;
}

.header {
    font-weight: 700;
    text-decoration: underline;
}

.paragraph {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    font-weight: 450;
}

.sub-list {
    counter-reset: list;
}

.sub-list>li {
    list-style: none;
    position: relative;
}

.sub-list>li:before {
    counter-increment: list;
    content: "("counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.7em;
}