/* Navbar */
.nav-item {
    padding: 10px;
}
.image-avatar {
    border-radius: 50px;
    border: 2px solid #fbcc34;
    width: 36px;
    height: 36px;
}
.fa-shopping-cart {
    font-size: 23px;
    color: #fbcc34;
    position: relative;
    top: 3px;
}
.amount {
    display: inline-block;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 0px 0 5px 0;
    background: #fff;
    border: 2px solid #fff;
    font: 16px Arial, sans-serif;
}
.fa-heart {
    font-size: 27px;
    color: #fbcc34;
    position: relative;
    top: 2px;
}
.point-icon {
    position: relative;
    top: 3px;
    left: 30px;
    width: 35%;
}
.points {
    position: relative;
    top: 3px;
    left: 30px;
    color: #fff;
    font-size: 15px;
}
.points:hover {
    color: #fff;
}
.category-icon > a > img {
    position: relative;
    left: 30px;
    width: 60px;
    padding: 8px;
}
.red-tooltip + .tooltip > .tooltip-inner {
    background-color: #f00;
}
.red-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #f00;
}
@media screen and (max-width: 1500px) {
    .header-fixed .app-header {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .margin-logo-mobile {
        position: relative;
        right: 90px;
        top: 10px;
        margin-right: 0px;
        margin-top: 0px;
        height: auto;
        width: 60px;
    }

    .sidebar {
        margin-top: 0rem;
    }

    .navbar-toggler {
        position: absolute;
        top: 20px;
        border: none;
    }
    .category-icon > a > img {
        display: none;
    }
    .points {
        display: none;
    }
    .point-icon {
        width: 50%;
        position: relative;
        left: 140px;
    }
    .amount {
        display: none;
    }

    .fa-shopping-cart {
        position: relative;
       right:40px;
}

    .fa-heart {
       position: relative;
       right:30px;
       top: 1px;

}
}

/* Home */

.today-sales > .card-title{
    font-size: 20px;
 }

 .summary-sales > .card-title{
    font-size: 20px;
 }

.group-performance {
 background-color: #ffcc00;
 border-radius: 15px;
 max-height: 174px;
 border:none;
}
.border-radius-card {
 border-radius: 15px;
}

.business-progress{
 width: 70%;
 height: auto;
 border-radius: 15px;
 border:none;
 background-color: #ffcc00;
}

.news {
 height: 500px;
}

.news > .datetime {
 color:#d6d4d4;
}

.feedback {
 height: 490px;
}

@media screen and (max-width: 1500px) {
 .sales-image { 
    width: 60px ;
 }

 .today-sales > .card-title{
    font-size: 20px !important;
 }

 .today-sales > p{
    font-size: 15px;
    width: 100px;
    margin-top:-10px;
 }

 .summary-sales-tab  {
    height: 170px ;
 }

 .summary-sales > .card-title{
    font-size: 20px !important;
    margin-top:-10px;
    margin-left: 10px;
 }

 .summary-sales > p{
    font-size: 10px;
    width: 100px;
    margin-top:-10px;
    width: 100px;
    margin-left: 10px
 }

 #myChart{
    height: 145px;
    margin-top:50px;
 }

 .group-performance-tabs {
    width: 715px;
 }

 .business-progress-tabs {
    margin-top:320px;
    margin-left:-370px;
    width: 715px;
 }

 .feedback {
    margin-top:5%;
    height: 500px;
}
}

@media screen and (max-width: 1300px) {
 .sales-image { 
    width: 60px ;
 }

 .today-sales > .card-title{
    font-size: 20px !important;
 }

 .today-sales > p{
    font-size: 15px;
    width: 100px;
    margin-top:-10px;
 }

 .summary-sales-tab  {
    height: 170px ;
 }

 .summary-sales > .card-title{
    font-size: 20px !important;
    margin-top:-10px;
    margin-left: 10px;
 }

 .summary-sales > p{
    font-size: 10px;
    width: 100px;
    margin-top:-10px;
    width: 100px;
    margin-left: 10px
 }

 #myChart{
    height: 145px;
    margin-top:60px;
 }

 .mychart-tabs{
    height: 370px;
 }

 .group-performance-tabs {
    width: 615px;
 }

 .business-progress-tabs {
    margin-top:320px;
    margin-left:-320px;
    width: 615px;
 }

 .feedback {
    margin-top:25%;
    height: 618px;
}
}

@media screen and (max-width: 414px) {

.container-fluid {
 margin-left: 15px !important;
}
}

@media screen and (max-width: 500px) {

 .container-fluid {
    margin-left: 25px !important;
 }

.welcome-banner {
 background-image:url('../images/banners/agent-dashboard-banner/AgentWelcomeBanner-01.jpg');
 background-position: center;
 background-repeat: no-repeat;
}

.sales-image-today { 
 width: 40px ;
 margin-left:20px;
 margin-top: -100px;
}

.sales-image-summary{
 width: 40px ;
 margin-left:20px;
 margin-top: -30px;
}

.float-right{
 display:none;
}

.today-sales-tabs {
 width: 150px;
 height: 190px;
}

.card-title-today-sales {
 font-size: 14px !important;
 width: 100px;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}


.today-sales > .card-title{
 font-size: 18px !important;
 margin-top: -70px;
}

.today-sales > p{
 font-size: 13px;
 width: 300px;
 white-space:nowrap;
 overflow:hidden;
 margin-top: 0px;
 margin-left: 0px;
}

.card-title-summary-sales {
 font-size: 14px !important;
 width: 100px;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}


.summary-sales-tab  {
 margin-top: -215px;
 margin-left: 170px;
 width: 150px;
 height: 190px;
}

.summary-sales > .card-title{
 font-size: 18px !important;
 margin-top:-40px;
 margin-left: -5px;
}

.summary-sales > p{
 font-size: 13px;
 width: 300px;
 white-space:nowrap;
 overflow:hidden;
 margin-top: 0px;
 margin-left: 0px;
}

#myChart{
 margin-top:0px;
}

.mychart-tabs{
 margin-top:-40px;
 height: 370px;
 width: 315px; 
}

.card-title-mychart-tabs {
 width: 300px;
 white-space:nowrap;
 overflow:hidden;
 margin-top: 0px;
 margin-left: 0px;
}

.group-performance-tabs {
 width: 315px;
}

.card-title-group-performance{
 width: 300px;
 white-space:nowrap;
 overflow:hidden;
 margin-top: 0px;
 margin-left: 0px;
}

.business-progress-tabs {
 margin-top:0px;
 margin-left:0px;
 width: 318px;
 
}

.business-progress{
 width: 100%;
 height: auto;
 border-radius: 15px;
 margin-top:-40px;
 border:none;
 background-color: #ffcc00;
 
}

.card-title-business-progress {
 width: 300px;
 white-space:nowrap;
 overflow:hidden;
 margin-top: 0px;
 margin-left: 0px;
}

.business-progress > h5 {
 font-size: 11px !important;
}

.announcement-tabs {
 margin-top:15%;
 height: 318px;
 overflow: scroll;

}

.feedback {
 margin-top:15%;
 height: 318px;
 width: 300px;
 overflow: scroll;
}
}