.navbar-bg-color,
.footer-bg-color,
.sidebar-bg-color {
    background-color: black;
}

.breadcrumb-bg-color {
    background-color: #ffcc00;
}

.welcome-text {
    color: #ffcc00;
    margin-top: 5px;
    font-size: 15px;
}

.navbar-border-bottom-color {
    border-bottom: 2px solid #ffcc00;
}

.navbar-border-top-color {
    border-top: 2px solid #ffcc00;
}

.nav-height {
    min-height: 10%;
}

@media (min-height: 900px) {
    .nav-height {
        min-height: 8%;
    }
}

.img-logo-resize {
    height: 65px;
    width: 100px;
}

.img-logo-margin-left {
    margin-left: 30px;
}

@media (max-width: 767px) {
    .margin-logo-mobile {
        margin-right: 100px;
        margin-top: 10px;
    }

    .welcome-panel-text {
        font-size: 10px;
    }

    .welcome-text {
        display: none;
    }
}
