.sidebar .nav-link {
    color: #ffcc00;

    letter-spacing: 2px;

    .icon-color {
        color: #ffcc00;
    }
}

.sidebar .nav-link.active .icon-color {
    color: #ffcc00;
}

.sidebar .nav-link:hover {
    background-color: black;
    color: black;

    .icon-color {
        color: #ffcc00;
    }
}

.sidebar .nav-link.active {
    background-color: black;
}

.sidebar .nav-dropdown.open .nav-link {
    color: #ffcc00;
}

.sidebar .nav-dropdown.open .nav-link:hover {
    color: black;
}

.text-color-breadcrumb {
    color: black;
}

.sidebar-margin-top {
    margin-top: 40%;
}
.sidebar-margin-top-customer{
    margin-top:10%;
}

.sidebar .sidebar-nav {
    width: 270px;
}

// Sidebar collapse
html:not([dir="rtl"]) .sidebar {
    margin-left: -240px;
}

.app-body .sidebar {
    flex: 0 0 100px;
    order: -1;
}

.sidebar-bg-color-dealer {
    background-color: #f8fafc;
    border-right: 1pt solid #ffcc00;
}

.sidebar-bg-color-panel {
    background-color: #ffcc00;
    border-right: 1pt solid #ffcc00;
}

@media (max-width: 990px) {
    .sidebar {
        width: 120px;
    }

    .sidebar-mobile-dealer {
        width: 240px;
    }
}
