.backgroundImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

a.btn {
    color: black;
    border-radius: 10px;
    // background-color: #fbcc34;
    // border-color: #8b878d;

    min-width: 90px;
}

a.btn-dealer {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.bujishu-motto {
    color: rgb(235, 232, 232);
}

.bujishu-recursive {
    display: inline;
    font-size: 75px;
    font-family: "Dancing Script"cursive;
    font-family: "Tangerine", cursive;
}

.content {
    text-align: center;
    position: relative;
    // top: 50%;
}

.logo {
    text-align: center;
}

a.grad2 {
    margin-left: 40px;
    margin-right: 40px;
}

.font-family{
    font-family: 'Lato', sans-serif;
}

// for smaller devices like iphone 5S
@media (max-width: 374px) {
    a.grad2 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

// Add media query for mobile devices
@media (max-width: 767px) {
    .bujishu-motto {
        font-size: 100%;
    }

    .bujishu-recursive {
        font-size: 200%;
    }

    .container {
        text-align: center;
        position: relative;
    }

    a.btn {
        font-size: 10px;
    }

    .backgroundImage {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
